  
html {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* top navigation */
.topnav {
    overflow: hidden;
    background-color: #004b18;
    text-align: center;
    font-size: 17px;
}
.topnav a {
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
/* product page */
/* top displayed product and detail */
#shi {
    float: right;
    padding-left: 12px;
}
#shi li {
    padding: 0px 0px 10px 10px;
    font-weight: bold;
    font-size: 15px;
}
.top-prod {
    height: 350px;
}
.top-prod, .detail {
    display: inline-block;
    float: left;
}
.prod-list {
    margin-left: 40px;
    height: 450px;
}
.detail {
    margin-top: 57px;
}
#qt {
    text-align: center;
    width: 45px;
    padding: 3px 3px 3px 3px;
    border-radius: 1px;
}
#buy-now {
    border-radius: 15px;
    margin-left: 0px;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
}
/* top display product description */
.prod-detail {
    float: left;
}
#des {
    padding-bottom: 1px;
    font-family: 'Calibri';
    font-size: 20px;
}
/* product images */
#pi {
    width: 520px;
    height: 355px;
    margin-top: 0px;
}
#pc {
    width: 395px;
    height: 255px;
}
/* other product field */
#rps {
    padding-top: 20px;
    text-align: center;
}
.others .three {
    margin-left: 95px;
}
.two, .three, .four {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    background-color: white;
    font-weight: bold;
    padding: 0px 25px 0px 25px;
}
.others {
    background-color: rgb(234, 236, 232);
    padding-bottom: 20px;
}
/* footer */
footer {
    background-color: #004b18;
    height: 145px;
}
/* footer navigation */
.footnav-left {
    list-style-type: none;
}
.footnav-left, #newsLetter, #icons {
    display: inline-block;
    float: left;
}
#footnav li a {
    text-decoration: none;
    color: white;
}
/* footer social media icons */
#icons {
    float: right;
    margin: 15px 40px 0px 0px;
}
/* footer newsletter signUp */
#newsLetter {
    margin: 20px 0px 0px 430px; 
}
#input-email {
    width: 185px;
    height: 15px;
    padding: 7px 0px 7px 0px;
}
#submit {
    color: rgb(3, 192, 3);
    background-color: white;
    height: 29px;
}
#input-email, #submit {
    display: inline;
}
#newsLabel, #connect {
    color: white;
}
#foot {
    margin: 10px 40px 1px 40px;
}
li {
    margin-top: 10px;
}
/* footer copyright note */ 
#copyright {
    text-align: center;
    float: left;
    margin: 40px 0px 0px 350px;
    color: white
}

/* media-query (tablet)*/
@media screen and (min-width: 768px) and (max-width: 900px) {
        /* product page */
    /* top displayed product and detail */
    .prod-list {
        margin: 0px 20px 0px 20px ;
        height: 515px;
    }
    /* top display product description */
    #des {
        padding-bottom: 5px;
        font-family: 'Calibri';
        font-size: 18px;
    }
    /* product images */
    #pi {
        width: 395px;
        height: 315px;
    } 
    /* other product field */
    .others .two {
        margin-top: 30px;
    }
    .three {
        margin-right: 16px;
    }
    .three, .four {
        text-align: center;
        font-size: 20px;
        margin-left: 20px;
        background-color: #004b18;
        font-weight: bold;
        padding-right: 0px 30px 0px 30px;
    }
    .others {
        background-color: rgb(234, 236, 232);
        padding-bottom: 78px;
        height: 810px;
    }
}
/* media-query (mobile)*/
@media screen and (max-width: 500px) {
    /* top navigation */
    .topnav {
        overflow: hidden;
        background-color: #004b18;
        text-align: center;
        font-size: 35px;
    }
    .topnav #logo {
        margin: 20px 0px 0px 25px;
    }
    .topnav a {
        float: left;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .topnav-right {
        float: left;
        margin: 0px 740px 0px 20px;
        width: 300px;    
    }
    .prod-list {
        vertical-align: middle;
        margin-left: 40px;
        margin-right: 40px;
        height: 990px;
        margin-top: 0px;
    }
    .detail #pot-combo li {
        font-size: 25px;
    }
    .top-prod #pi {
        float: right;
        width: 595px;
        height: 615px;
        margin-top: 0px;
        margin-left: 115px;
    }
    .top-prod {
        padding: 0px;
    }
    #des {
        padding-bottom: 5px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 20px;
    }    
    /*related products*/
    .three, .four, .two {
        text-align: center;
        font-size: 20px;
        margin-left: 195px;
        margin-bottom: 55px;
        background-color: #004b18;
        font-weight: bold;
        padding-bottom: 16px;
    }
    .others #pc {
        width: 550px;        
        height: 375px;
    }
    .others .three {
        margin-left: 195px;
    }
    .others #rps {
        font-size: xx-large;
    }
    .others {
        background-color: rgb(234, 236, 232);
        padding-bottom: 5px;
        padding-top: 5px;
        height: 1820px;
    }
    /*footer*/
    .footnav-left a {
        font-size: 40px;
    }
    .footnav-left {
        margin-left: 55px;
        width: auto;
    }
    #newsLetter label, #submit {
        font-size: 30px;
    }
    #newsLetter #newsLabel {
        float: left;
        font-size: 40px;
        width: 790px;
        margin-right: 355px;
        text-align: left;
        color: white;
    }
    #newsLetter #input-email {
        height: 50px;
        width: 310px;
    }
    #newsLetter #submit {
        height: 65px;
        padding-bottom: 5px;
        margin: 8px 4px 0px 0px;
        background-color: white;
        color: rgb(2, 209, 2);
    }
    #icons {
        margin: 25px 55px 0px 390px;
    }
    #icons li {
        font-size: 30px;
        color: white;
    }
    #icons a {
        height: 40px;
        width: 50px;
    }
    #newsLetter {
        float: left;
        margin: 30px 55px 0px 0px;
        width: 700px;
    }
    #footnav li a {
        text-decoration: none;
        color: white;
    }    
    footer {
        height: 630px;
        background-color:  rgb(2, 209, 2);
        padding-top: 40px;
    }
    #copyright {
        text-align: center;
        margin: 30px 0px 20px 155px;
        font-size: 35px;
        width: 600px;
        color: white;
    }
}