* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 14px;
}

nav {
  background-color: brown;
  padding: 5px 20px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  padding: 15px 0;
}

.nav-links a {
  display: inline-block;
  padding: 5px 0;
  position: relative;
}

.registration-area {
  padding: 20px 4em;
  color: #555;
}

.form-notes {
  text-align: center;
  padding: 0 20px;
}

.form-notes h1 {
  color: brown;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 2.5em;
}

.form-notes p:nth-child(3) {
  margin: 20px 0;
}

.form-notes p:nth-child(3) a {
  color: brown;
  font-weight: bold;
  text-decoration: underline;
}

.form-area {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 20px;
}

.form-area .input-area {
  padding: 5px 0;
}

.form-area .input-area label {
  display: block;
  padding-bottom: 5px;
}

.form-area .input-area input {
  display: block;
  width: 100%;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 7px;
}

.form-area .terms {
  margin: 5px 0;
  text-align: center;
}

.form-area .terms a {
  font-weight: bolder;
  color: brown;
  text-decoration: none;
  margin-top: 15px;
}

.form-area input[type="submit"] {
  background-color: brown;
  color: white;
  padding: 7px 4em;
  border: none;
  border-radius: 3px;
  display: block;
  margin: 10px auto;
}

footer {
  background-color: brown;
  color: white;
  padding: 10px 20px;
}

.newsletter input[type="text"] {
  font-family: "Montserrat", sans-serif;
}

.newsletter p {
  margin: 10px 0;
}

.newsletter form {
  display: flex;
}

.newsletter input {
  flex: 1;
  padding: 10px;
}

.newsletter button {
  padding: 7px 15px;
  margin-left: 5px;
  color: brown;
}

.social-links p {
  margin: 20px 0 10px;
}

.social-icons img {
  padding: 0 5px;
}

.social-icons img:first-of-type {
  padding-left: 0;
}

#copyright {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 550px) {
  nav,
  nav .nav-links,
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .nav-links a {
    margin: 0 10px;
  }

  nav .nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: white;
    transition: 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  nav .nav-links a:hover::after {
    width: 100%;
  }

  .footer-links {
    padding-top: 10px;
    align-items: flex-start;
  }

  .footer-links .nav-links {
    padding-top: 0;
  }

  .newsletter p {
    margin-top: 0;
  }

  .registration-area {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 850px) {
  nav .nav-links a {
    font-weight: bolder;
    margin: 0 20px;
  }

  .registration-area {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    align-items: center;
  }

  .form-notes {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  .form-notes h1 {
    padding-left: 0;
    font-size: 25px;
  }

  .newsletter-sociallinks {
    flex: 0.85;
    display: flex;
    justify-content: space-around;
  }

  .newsletter {
    flex: 0.5;
  }

  .social-links p {
    margin-top: 0;
  }
}

@media screen and (min-width: 950px) {
  .registration-area {
    padding: 20px 10em;
  }
}
