* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
}
a {
  text-decoration: none;
}
/********************
        header
**********************/
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background: #1b1a1b;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  margin-right: auto;
  margin-left: 30px;
}
.logo a {
  font-family: '', cursive;
  color: #1b82d6;
  font-weight: 100;
}
.span-logo {
  color: #1b82d6;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: 900;
}
.nav-link {
  list-style: none;
}
.nav-link li {
  display: inline-block;
  line-height: 15px;
  font-size: 18px;
  margin: 0 30px 0 0;
}
.nav-link a {
  color: rgb(226, 221, 221);
}
.nav-link li a:hover {
  color: grey;
}
.contact {
  display: flex;
  justify-content: space-evenly;
}
.contact-details {
  margin-top: 119px;
}
.contact h3 {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.25px;
  text-align: center;
}

.contact-number{
  text-align: center;
  list-style: none;
  margin-top: 10px;
}
.contact-number a{
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  font-size: 22px;
}

.social-media-class{
  margin: 20px auto;
  display: flex;
}

.social-media-class li {
  display: inline-block;
  margin-right: 20px;
}

.image-contact {
  display: block;
  margin: 20px auto 15px auto;
  width: 40px;
}
.image-contact2 {
  margin: 20px auto 15px 159px;
  width: 70px;
}

.image-contact3 {
  width: 70px;
}
.form-group input {
  width: 500px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 30px;
}
textarea {
  width: 500px;
  height: 250px;
}
.form-group fieldset {
  margin: 72px 55px 36px 0;
  padding: 24px 66px 10px 47px;
}
.form-group h3 {
  margin: 25px 66px 43px 72px;
}
.form-group img {
  display: block;
  margin: 24px auto 0 auto;
}
.form-group label {
  font-size: 20px;
  line-height: 30px;
}
.move {
  border-radius: 4px;
  margin: 19px 0px 32px 400px;
}

.form-group .move {
  width: 113px;
  background-color: #1b82d6;
}
footer {
  background-color: #1b1a1b;
  height: 100%;
}
.footer-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 35px;
}
.footer-part ul {
  list-style: none;
}
.footer-part ul li {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
}
.footer-part ul a {
  color: white;
}
.footer-part input {
  width: 253px;
  height: 40px;
  line-height: 19px;
  font-size: 14px;
}
.footer-part button {
  width: 108px;
  height: 44px;
  font-size: 18px;
  line-height: 22px;
  margin-top: 9px;
  background-color: #1b82d6;
  color: #fff;
}
footer p {
  text-align: center;
  color: #fff;
}

.social-media h3,
.footer-part h3 {
  color: white;
}
.social-icons {
  margin-top: 13px;
  margin-left: auto;
}
.social-icons li {
  display: inline-block;
  margin-left: 12px;
}

/* media querries */

@media screen and (max-width: 1088px) {
  header {
    flex-flow: wrap;
    justify-content: flex-end;
  }
  .nav-link li {
    margin: 16px;
  }
  .contact {
    flex-wrap: nowrap;
    flex-flow: column;
  }
  .contact-details {
    margin-top: 20px;
  }
  .form-group fieldset {
    margin: 20px 30px 17px 30px;
    padding: 0 30px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 687px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo{
    margin-left: 10px;
  }
  .nav-link li {
    display: block;
    text-align: left;
    line-height: 19px;
    font-size: 16px;
    margin-left: 30px;
    margin: 10px; 
  }
  .contact {
    flex-flow: column;
    flex-wrap: wrap;
  }
  .form-group {
    flex-basis: 400px;
    width: 360px;
  }
  .contact-number a {
    font-size: 16px;
  }
  .social-media-class {
    width: 40px;
    margin-left: 125px;
    display: flex;
  }
  .image-contact,
  .image-contact2,
  .image-contact3 {
    width: 30px;
  }
  .form-group input{
    width: 350px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 10px;
    line-height: 15px;

  }
  .form-group fieldset {
    padding: 10px 20px 10px 40px;
    margin: 30px 10px 15px 45px;
    display: flex;
  }
  fieldset {
    margin: 0;
  }
  .form-group h3 {
    margin: 10px 30px 15px 20px;
  }
  .form-group {
    font-size: 20px;
    line-height: 30px;
  }
  .form-group img {
    display: block;
    margin: 24px auto 0 auto;
    width: 30px;
  }

  .form-group .move {
    width: 60px;
    margin-left: 270px;
  }
  textarea {
    width: 350px;
    height: 100px;
  }
  .footer-part {
    display: block;
    margin-left: 15px;
  }
  .social-media h3 {
    margin-top: 20px;
  }
  .social-part li {
    margin-right: 5px;
  }
}
