/*-- -----------------------GENERAL----------------------- --*/
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: black;
  font-family: 'Lato' , sans-serif;
}

h3 {
  opacity: 0.8;
}

/*-- -----------------------NAV----------------------- --*/
nav {
  background-color: purple;
}
nav ul,
footer ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}

 .title {
   font-size: 24px;
   font-weight: bold;
   padding: 0 20px;
   line-height: 50px;
 }

 .nav-list {
   align-items: left;
   padding: 0 20px;
   line-height:22px;
 }

 nav a {
   text-decoration: none;
   color: white;
 }

 .nav-item a:hover {
   color: black;
 }

 /*-------------------------MAIN---------------------------*/
 .details {
   text-align: center;
   padding: 25px 30px;
 }

 .details p {
   opacity: 0.8;
   font-size: 19px;
   padding-bottom: 5px;
 }

 .email h3,
 .contacts h3 {
   margin-top: 6px;
   margin-bottom: -10px;
 }
 .

 .contacts img{
   padding-bottom: 0;
 }

 .connect h3 {
   margin-bottom: 0;
   padding-bottom: 10px;
 }

 .connect img {
   padding-right: 5px;
 }

 /*-------------------------FORM---------------------------*/
 .intro {
   text-align: center;
   padding-top: 20px;
 }

 fieldset input {
   width: 100%;
   height:30px;
   border: 0;
   border-bottom: 2px solid grey;
   box-shadow: none;
   display: block;
   font-size: 17px;
 }

 fieldset label {
   color: grey;
   font-size: 17px;
 }

 fieldset{
   margin: 0 30px 40px;
   border: 1px black solid;
   padding: 0 8%;
 }

 #contact-form span {
   color: red;
   font-size: 12px;
 }

 textarea {
     width: 100%;
     height: 180px;
     font-size: 16px;
     font-family: 'Lato' , sans-serif;
     border-color: black;
     margin-top: 5px;
 }

.send-button {
   text-align: right;
   display: block;
   padding-bottom: 20px;
 }

 .send-button button{
   background-color: purple;
   border: purple 1px;
   color: white;
   border-radius: 5px;
   height: 30px;
   width: 87px;
 }

 /*-------------------------FOOTER-------------------------*/
 footer {
   background-color: purple;
   color: white;
   padding: 0 20px;
   line-height:22px;
 }
 .wrapper {
   display: grid;
   column-gap: 20px;
 }
 .footer-list {
   padding-top: 30px;
 }
 footer a {
   text-decoration: none;
   color: white;
 }
 footer a:hover {
   color: black;
 }

 footer label {
   line-height: 30px;
 }
 footer input {
   height: 28px;
   width: 70%;
 }
 footer button {
   background-color: white;
   border: white 1px;
   height: 28px;
   color: purple;
   font-weight: bold;
 }

 img {
   height: 35px;
   width: auto;
   padding-right: 10px;
 }

 .copyright{
   text-align: center;
 }

/*-------------------------WEB-RESPONSIVENESS-------------------------*/

@media screen and (min-width: 600px) {
  /*------------------------------------NAV-------------------------*/
  nav {
    padding: 20px 30px;
  }
  nav ul {
    float: right;
    display: inline;

  }
  nav li {
    display: inline;
    float: left;
    padding-right: 15px;
  }

  .title {
    display: inline;
    line-height: normal;
  }

  /*----------------------------MAIN----------------------------*/
  .details p {
    font-size: 21px;
    padding-bottom: 5px;
  }
  h3 {
    font-size: 23px;
  }
  .connect img {
    padding-right: 7px;
  }
  /*----------------------------FORM----------------------------*/
  fieldset{
    margin: 0 10% 40px;
  }
  fieldset input {
    height: 40px;
    font-size: 19px;
  }

  fieldset label {
    font-size: 19px;
  }
  .send-button button{
    height: 35px;
    width: 92px;
  }
  /*----------------------------FOOTER----------------------------*/
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  #b {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .footer-list {
    padding-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  /*----------------------------MAIN----------------------------*/
  .main {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .details {
    padding: 22% 15% 0;
    margin: 0;
    text-align: center;
  }

  .details p {
    padding-bottom: 9px;
  }
  /*----------------------------FORM----------------------------*/
  .main form {
    padding-top: 40px;
  }
  /*----------------------------FOOTER----------------------------*/
  .footer-list {
    padding-top: 20px;
    padding-left: 15px;
  }
  .logos {
    margin-top: -10px;
    padding: 0;
    display: inline-block;
  }
  .wrapper {
    grid-template-columns: 1fr 2fr;
  }

  footer {
    padding: 0 20px 5px;
    line-height: normal;
  }

  footer a {
    line-height: 30px;
  }

  footer img {
    width: auto;
    height: 40px;
  }
  #yt {
    padding: 0;
  }

  #b {
    flex-direction: row;
    justify-content: space-around;
  }

}
