body{
  font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
 
}
.nav-bar{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
ul,h2, h3, p{ 
  padding: 0;
  margin: 0;
}

li a{
  text-decoration: none;
  display: inline;
  color: white; 
}
/* THE HEADER */
header{
  background:#00d1cf; 
  color: white;
  padding-top: 10px;
  min-height: 25px;
}
header a{
  color: white;
  font-size: 16px;
}
header li{
  display: inline;
  padding:0 30px;
}
#nav-brand{
  float: left;
  padding-bottom: 10px;
}
#nav-brand h2, #nav-brand p{
  margin:0;
  padding:0;
  color:white;
}
nav{
  float: right;
  margin-top: 15px;
}
header a:hover{
  text-transform: uppercase;
  color:white;
  font-weight: bold;
}

.container{
  overflow: hidden;
  padding: 30px 0;
  margin: auto;
  width: 90%;
}

.container img{
  margin-top: 20px;
  width: 35px;
  text-align: center;
  word-spacing: 2px;
  height: 35px;
}
      /* MAIN FRAME */
main{
  float: left;
  text-align: center;
  width: 50%;
  padding-top: 10px;
  
}

main h3, aside h3,main p{
 margin-top: 10px;
}
main ul li{
  display: inline;
  padding: 10px;
}


aside{
  float: left;
  width: 43%;
  margin-left: 20px;
}

#details{
  overflow: hidden;
  padding: 20px;
  width: 90%;
  border:1px solid rgb(129, 129, 129);
  border-radius: 20px;
  margin-bottom: 10px;
}

#details img{
  padding: 0px 0px 0px 200px;
}
#details h3{
  text-align: center;
  width: 100%; 
  font-weight: bold;
}

#details input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px groove rgb(129, 129, 129);
  width: 95%;
  padding-top: 20px;
}

#details input:focus{
  outline: none;

}
#details input::placeholder{
  font-size: 20px;
}

#details label{
  padding-top: 30px;
}
#details textarea{
  resize: none;
  width: 95%; 
}


#details button{
  float: right;
  width: 30%;
  height: 40px;
  background-color:#00d1cf;
  color: #fff;
  margin: 5px 10px 0;
  padding: 5px;
  border: none;
  font-size: 18px;
}
button:hover{
  text-transform: uppercase;
  color:#00d1cf;
  background-color:powderblue;
}


span{
  color:white;
  font-weight: bold;
}
footer{
  background-color:#00d1cf;
  margin-top:50px;
}
.footer-link{
  display: flex;
  justify-content: space-evenly;
  padding-top: 37px;
  flex-wrap: wrap;
}
.footer-link ul {
  list-style: none;
}
.footer-link ul li{
  color: white;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 15px;
}
.footer-link ul a{
  color: white;
  text-decoration: none;
}
.footer-link input{
  width: 253px;
  height: 44px;
  line-height: 19px;
  font-size: 16px;
  color:#00d1cf;
}
.footer-link button{
  width: 108px;
  height: 44px;
  font-size:18px;
  line-height: 22px;
  margin-top: 9px;
  color:#00d1cf;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  border:none;
  
}
.btn:hover{
background:powderblue;
color: #fff;
border-radius: 4px;
}
footer p{
text-align: center;
color: #fff;
}
.social-link{
  margin-top: 13px;
  margin-left: auto;
  text-decoration: none;
}
.social h3, .footer-link h3{
  color: white;
}
.social-link li{
  display: inline-block;
  margin-left: 12px;
  text-decoration: none;
}
 


/*Responsiveness*/

@media screen and (max-width: 600px){
  header nav,
  header #nav-brand,
  header .nav-bar  nav li{
      float: none;
      text-align:left;
      display: block;
      position: relative;
      right: 10px;
 
  } 
  main{
      margin: auto;
  }
  .footer-link{
    display: block;
    margin-left: 20px;
  }
  .social h3{
    margin-top: 20px;
  }
  .social-link li{
    margin-right: 5px;
  }  

  .social-link img{
    width: 30px;
  }
}


@media screen and (max-width: 809px) {
  
  main,
  aside{
      float:none;
      width: 80%;
      margin: auto;
      padding-bottom: 30px;
  }
  main{
      text-align: center;
  }
  
}


@media screen and (min-width: 500px) and (max-width: 920px){
    
  .footer-box
  {
      width: 350px;
  }
  .social{
      float: none;
      width:350px ;
  }
  .social ul li{ 
      display: inline;
  }
  footer p{
      text-align: center;
  }
}
