body {
    font-family: 'Montserrat', 'Raleway', sans-serif;
    background-color: #ffffff;
}

.header {
    justify-content: space-between;
    padding: 2px;
    background-color: #0066f5;
}

nav {
    padding: 20px;
}

.left-side {
    display: flex;
}

nav>.right-side>div {
    margin-right: 100px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.19;
    text-align: left;
}

.tab {
    color: #ffffff;
    text-decoration: none;
}

.link-wrapper {
    height: 22px;
}

.link-wrapper a {
    color: #ffffff;
    text-decoration: none;
}

.sidebar h4 {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    line-height: 1.22;
    color: #0066f5;
    margin-bottom: 23px;
    margin-top: 175px;
}

.sidebar p {
    font-size: 30px;
    text-align: left;
    line-height: 1.23;
    color: #5f5f5f;
}

.sidebar strong {
    color: #0066f5;
    text-decoration: underline;
    text-underline-position: below;
}

form {
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    color: #5f5f5f;
    margin-top: 40px;
}

.form {
    border-radius: 23px;
    border: solid 1px #707070;
    background-color: #ffffff;
    margin-top: 46px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.presentation {
    width: 90%;
    margin: auto;
    margin-bottom: 180px;
}

.sidebar {
    flex: 1;
    margin-right: 10px;
}

.texts{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: solid 2px #5f5f5f;
    margin-bottom: 5px;
}

#terms {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.22;
    text-align: left;
    color: #0066f5;
}

#signupbutton {
    width: 196px;
    height: 48px;
    border-radius: 4px;
    background-color: #0066f5;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.67;
    text-align: center;
    color: #ffffff;
}

.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitbutton {
    width: 108px;
    height: 44px;
    border: solid 1px #707070;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    text-align: center;
    color: #0066f5;
}

/* for the footer */

.footer {
    background-color: #0066f5;
    padding: 20px;
    color: #fcf8f8;
}


.about {
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    color: #fcf8f8;
}

.images1 {
    justify-content: space-around;
    margin-left: 50px;
}

#newslettter {
    width: 253px;
    height: 44px;
    border: solid 1px #707070;
    background-color: #ffffff;
}

.newsletter ::placeholder {
    font-size: 16px;
    line-height: 1.19;
    color: #0066f5;
    padding-left: 5px;
}

.newsletter h4 {
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    color: #fcf8f8;
}

.connect p {
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    color: #fcf8f8;
    padding-left: 50px;
}

.footer>p {
    text-align: center;
}
.newsletter-input {
    display: flex;
}

@media screen and (min-width:768px)  {
    .header {

        height: 70px;
    }

    #firstname, #lastname, #othernames, #phonenumber, #email, #password, #cpassword {
        width: 521px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .right-side {
        display: flex;
    }
    .footer {
        height: 203px;
    }
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .socials{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}

@media screen and (min-width: 1280px) {
    .presentation {
        display: flex;
    }
    .connect p {
        padding-left: 50px;
    }
}