body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }
  
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
}
  
h1, h2, h3, h4, h5 {
    margin: 0; 
}
  
header, nav, footer, section, article, div {
    box-sizing: border-box;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-inner, .main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
} 

/* Header  */
.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
}
  
.header-title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

/* Navigation */ 
.nav-list {
    width: 100%;
    padding: 10px 0;
    margin: 0;
}
  
.nav-item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    padding: 12px;
    text-transform: uppercase;
}
  
.nav a {
    text-decoration: none;
}
  
.nav a:hover {
    text-decoration: underline;
    color: black;
}

/* Main */
.hero{
    padding: 20px;
}

.main {
    min-height: calc(100vh - 120px);
}

/* Post */
.wrapper {
    display: grid;
    margin: 10px;
}
.post__header {
    font-weight: 300;
    border-bottom: 1px solid black;
    line-height: 24px;
    font-size: 24px;
}
  

.latest-posts {
    clear: both;
    padding: 1em;
}
  
.post {
    clear: both;
    margin: 24px 0;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
  
/* .post__thumbnail {
    width: 100px;
    margin-right: 1em;
} */
  
.post__title {
    font-weight: 500;
    font-size: medium;
}
  
.post__title a {
    text-decoration: none;
    color: black;
}
  
.post__title a:hover, .post__title a:active {
    text-decoration: underline;
}

/* Footer */ 
footer {
    border-top: 1px solid black;
    padding: 1em;
    width: 100%;
}
  
footer li {
    display: inline-block;
    margin: 0 1em;
}
  