* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR SECTION */
.navbar {
  background: purple;
  padding: 15px;
  display: flex;
  align-items: right;
}
.navbar .logo {
  color: #fff;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: auto;
  list-style: none;
}
li {
  padding-right: 25px;
}
.navbar-nav a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 576px) {
  .navbar {
    display: block;
    align-items: left;
    justify-content: left;
    width: 100vw;
  }
  .navbar-nav {
    display: block;
    margin-top: 5px;
  }
  .nav-item {
    padding-bottom: 10px;
  }
  .logo {
    padding-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .navbar {
    display: block;
    align-items: left;
    justify-content: left;
    width: 100vw;
  }
  .navbar-nav {
    display: block;
    margin-top: 5px;
  }
  .nav-item {
    padding-bottom: 10px;
  }
  .logo {
    padding-bottom: 0px;
  }
}

/* BOX SECTION */
.box {
  display: flex;
  padding: 10px;
}
.small-box {
  flex-direction: row;
  width: 48%;
  padding: 5px 10px;
}
.forms {
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 0px;
}
.message {
  text-align: center;
  padding-bottom: 20px;
}
.send {
  color: black;
  font-size: 1.5rem;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input[list="subjects-list"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
label {
  font-size: 1rem;
}

.don {
  text-align: center;
  padding-top: 100px;
  font-size: 1.5rem;
}
.submit {
  text-align: right;
  margin-right: 45px;
}
#message {
  width: 90%;
  padding-bottom: 70px;
}
#signup {
  background-color: purple;
  color: white;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 10px;
}
/* fonter awesome in the body */
.fa-phone {
  color: blue;
}
.fa-envelope-open {
  color: blue;
}
.facebook {
  color: blue;
}
.youtube {
  color: red;
}
.twitter {
  color: blue;
}

.message {
  color: blue;
}

@media (max-width: 576px) {
  .box {
    display: block;
  }
  .small-box {
    width: 100%;
    padding: 10px 25px;
  }
  .forms {
    margin-top: 10px;
  }
  .submit {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
  }
}

@media (max-width: 800px) {
  .box {
    display: block;
  }
  .small-box {
    width: 100%;
    padding: 10px 25px;
  }
  .forms {
    margin-top: 10px;
  }
  .submit {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
  }
}
/* FOOTER SECTION */
footer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: purple;
}
.footer-box {
  flex-direction: row;
  width: 33%;
  padding: 5px;
  color: #fff;
  padding-bottom: 20px;
}
.footer-box1 {
  flex-direction: row;
  width: 33%;
  padding: 5px;
  color: #fff;
  padding-bottom: 20px;
}
.footer-box2 {
  flex-direction: row;
  width: 33%;
  padding: 5px;
  color: #fff;
  padding-bottom: 20px;
}
.url {
  padding-left: 10px;
  list-style: none;
  padding-top: 5px;
}

.url a {
  text-decoration: none;
  color: white;
}
.copyright {
  text-align: center;
  background-color: purple;
  color: white;
  padding-bottom: 20px;
}
#sign-up {
  width: 100px;
  background-color: purple;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
}
.connect {
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  footer {
    display: block;
  }
  .footer-box {
    width: 100%;
  }
  .copyright {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .foot {
    padding-bottom: 10px;
  }
}

@media (max-width: 800px) {
  footer {
    display: flex;
  }
  .footer-box {
    flex-direction: row;
    width: 50%;
  }
 .footer-box2 {
    flex-direction: row;
    width: 100%;
    padding-left: 380px;
  }
  .copyright {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .foot {
    padding-bottom: 10px;
  }
}
