* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

.header {
    background-color: rgba(000, 255, 000, 0.4);
}

nav {
    display: flex;
    margin: 0 10px;
}

.left-tab {
    width: 50%;
    float: left;
    margin: 0 10px;
}

.right-sidetab {
    width: 50%;
    text-align: end;
    margin: auto;
}

.right-sidetab > a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
}

main {
    display: flex;
    padding: 30px;
}

.register {
    width: 50%;
    margin: auto;
    padding: 0 60px;
}

.register > h3 {
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    color: rgba(0, 255, 0, 0.4);
}

.register > p {
    font-size: 20px;
    text-align: left;
    line-height: 1.23;
}

.register > p > strong > a {
    color: lightgreen;
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-color: lightgreen;
}

.form {
    width: 50%;
}

form {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    margin: auto;
}

#fname,
#lname,
#oname,
#phoneno,
#email,
#password,
#password2 {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: solid 2px;
    margin-bottom: 10px;
    margin-top: 1px;
}

.terms-and-conditions {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#sign-up-button {
    width: 180px;
    height: 45px;
    border-radius: 20px;
    background-color: lightgreen;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
    display: block;
    margin: auto;
}

.about-us {
    padding-top: 10px;
}

.about-us > p > a {
    text-decoration: none;
    color: black;
}

.contact > input#news-letter {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    font-size: medium;
}

.social-img > img:nth-child(1) {
    width: 41px;
    height: 40px;
    padding: 5px;
}

.social-img > img:nth-child(2) {
    width: 50px;
    height: 40px;
    padding: 5px;
}

.social-img > img:nth-child(3) {
    width: 50px;
    height: 40px;
    padding: 5px;
}

.social-img > img:nth-child(4) {
    width: 60px;
    height: 40px;
    padding: 5px;
}

.top-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button#submit-button {
    height: 40px;
    width: 80px;
    background-color: white;
    border: rgba(0, 255, 0, 0.4);
    border-radius: 5px;
    color: darkgreen;
}

.contact > input::placeholder {
    color: darkgreen;
}

footer {
    background-color: rgba(000, 255, 000, 0.4);
    display: block;
    padding: 15px;
}

.right-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

footer > .about-us {
    padding-top: 30px;
    padding-right: 100px;
    margin-left: 20px;
    width: 20%;
}

footer > .about-us > p > a {
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    color: black;
}

.contact {
    margin: auto;
}

.copy-right {
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 850px) {
    
    .header {
        padding: 10px 0 15px 10px;
    }

    nav {
        margin: 0;
        display: block;
    }

    .left-tab,
    .right-sidetab {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right-sidetab > a {
        display: block;
        text-align: start;
        padding: 10px 0 0
    }

    main {
        display: block;
    }

    .register {
        padding: 0 0 10px;
        margin: 0;
        width: 100%;
    }

    .register > h3 {
        text-align: center;
        margin: 0;
    }

    .register > p {
        text-align: center;
    }

    .form {
        width: 100%;
    }

    .top-footer {
        display: block;
    }

    .about-us {
        padding-bottom: 10px;
    }

    .right-footer {
        display: block;
        width: 100%;
    }

    .contact > input#news-letter {
        margin-right: 8px;
        width: 70%;
    }

    button#submit-button {
        width: 25%;
    }

    .social-network > p {
        margin-bottom: 0;
        font-weight: bold;
    }
}

    @media screen and (min-width: 851px) and (max-width: 1200px) {
    
        .right-sidetab {
           text-align: end;
        }
        
        .right-sidetab > a {
            margin: auto;
            padding: 0 20px;
        }
        
        main {
            display: block;
        }

        .register {
            padding: 0 0 10px;
            margin: 0;
            width: 100%;
        }

        .register > h3 {
            text-align: center;
            margin: 0;
        }

        .register > p {
            text-align: center;
        }

        .form {
            width: 100%;
        }

        
        .top-footer {
            padding: 20px;
        }

        .right-footer {
            display: block;
            width: 50%;
            padding: 20px;
        }

        .about-us {
            width: 50%;
        }

        .contact > input#news-letter {
            margin-right: 8px;
            width: 70%;
        }

        button#submit-button {
            width: 25%;
        }

        .social-network > p {
            margin-bottom: 0;
            font-weight: bold;
        }
}