*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
 margin: auto;
 color: white;
 text-align: center;
 padding-top: 40px;
 height: 200px;
 background-color:grey;
 position: relative;
}

h1{
    margin-right: 300px;
    margin-bottom: 5px;
    font-size: 50px;
}

.container{
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main{
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInput,
button {
    padding: 8px;
    font-size: 32px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.textInput{
    border: 1px solid black;
}

button{
    background:#d5d7eb;
    margin-left: 10px;
    width: 64px;
}

.listItems{
    padding: 30px 5px 40px 45px; 
    background-color: rgb(231, 181, 87);
    border-radius: 10px 10px 0px 0px;
}

.todo-item{
    list-style: none;
    color: red;
}
 
[type="checkbox"]{
    opacity: 0;
}

[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: 666;
    line-height: 25px;
}

[type="checkbox"] + label::before{
   content: "";
   position: absolute;
   left: 3px;
   top: -13px;
   right: 10px;
   width: 18px;
   height: 18px;
   outline: 2px solid red;
   background: #fff;
}

[type="checkbox"]:checked + label::before{
   content: "";
   position: absolute;
   left: 3px;
   top: -13px;
   right: 10px;
   width: 18px;
   height: 18px;
   outline: 2px solid #5fd25f;
   background: #fff;
}

[type="checkbox"]:checked + label::after{
   content: "";
   position: absolute;
   left: 3px;
   top: -15px;
   right: 10px;
   width: 18px;
   height: 18px;
   background-image:url(../src/images/checkmark.png);
   background-size:contain;
} 

.completed p{
    text-decoration: line-through;
    color: green;
  }

.todo {
    margin: 8px 20px 8px 10px;
    position: relative;
    right: 15px; 
    padding: 10px;
    background: white;
    font-size: 24px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }

  .footer{
      display: block;
      align-items: center;
      width: 423px; 
      height: 50px;
      border-radius: 0 0 10px 10px; 
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
      margin: auto;
      text-align: center;
  }

  span{
      margin-right: 15px;
  }

  .footer-items{
     margin: 0 0 0 10px;
     padding-right: 0;
  }

  .footer-list{
     list-style: none;
  }

  .footer-list li{
      display: inline-block;
  }

  #items,
  #all-items,
   #active,
   #completed,
   #clear {
      float: left;
      font-size: 14px;
  }

  #all-items,
   #active,
   #completed{
       margin: 15px -10px 0 0;
       padding-left: -8px;
   }

  #items{
      color: black;
      margin: 15px 22px 0 8px;
  }

  #clear{
     
      margin: 15px 0 0 20px;
  }

  .all{
      color: blue;
      margin-right: -5px;
  }

  #all-items{
      color: blue;
      cursor: pointer;
  }

  #active,
  #clear{
      color: red;
      cursor: pointer;
  }

  #completed{
      color: green;
      cursor: pointer;
  }

  /*Placeholdes styles*/

  ::placeholder { /** for all modern browers**/
    /* color: #69629f; */
    font-size: 16px;
    opacity: 1; 
  }
  :-ms-input-placeholder { /* IE 10-11 */
    color: grey;
  }
  

  /*Resoponsive styles*/

  @media screen and (max-width: 375px){
    
    h1{
        margin-right: 270px;
        margin-bottom: 100px;
    }

    header{
        width: 423px;
        height: 320px;
       }
    form{
        margin-bottom: 10px;
    }
       
       .textInput{
           width: 300px;
       }
       
       button{
           width: 60px;
       }

       .listItems{
        width: 424px;
        border-radius: 0 0 0 0;
    }
    ::placeholder { /** for all modern browers**/
        font-size: 25px;
        opacity: 1; 
      }
      :-ms-input-placeholder { /* IE 10-11 */
        color: grey;
      }

  }

  @media screen and (max-width: 320px){

    #items,
    #all-items,
     #active,
     #completed,
     #clear {
        float: left;
        font-size: 16px;
    }
    #all-items,
     #active,
     #completed{
       position: relative;
       top:1px;
       left: -65px;
       margin-right: 10px;
       padding-right: -40px;

    }
    #items{
      position: relative;
      top: -50px;
      margin-left: 40px;
      display: inline;
     
    }
    #clear{
        position: relative;
        top: -80px;
        margin-left:260px;
        white-space: nowrap;
        display: inline;
    }
    .footer{
        border-radius: 0 0 0 0; 
    }
   
  }