@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=PT+Sans:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 27px;
    font-family: oswald, PTsans, serif;
}
a{
    text-decoration: none;
}
/**********************************
  HEADING
  ***********************************/

header{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 166, 95);
    color:black;
    align-items: center;
}
 .logo{
    margin-right:auto;
}
.navbar-link{
    list-style: none;
}
.navbar-link li {
    display: inline-block;
    line-height: 19px;
    font-size: 20px;
    margin-right: 86px;
    color:black;
}
.navbar-link a{
    color: black;
}
.navbar-link li a:hover{
    color: white;
}

/**********************************
  PAGE:PRODUCT
  ***********************************/
  .product {
    display: flex;
    flex-wrap: nowrap;
}
.product-img{
    border: 1px solid #000;
    max-width: 469px;
    margin: 50px 50px 0 50px;
}
.product img , .product-related img{
    width: 100%;
}
.product-del{
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 14px;
}
.product-del h3{
    font-size: 25px;
    line-height: 30px;
}
.product-del h4{
    font-size: 22px;
    line-height: 27px;
    margin:20px 0;
}
.product-del input{
    max-width: 70px;
    height: 37px;
    padding-left: 5px;
}
.product-del button{
    width: 170px;
    height: 47px;
    border-radius: 20px;
    border: none;
    background-color: #f79521;
    font-size: 22px;
    line-height: 27px;
}
.description{
    margin-left: 50px;
}
.description h3{
    text-align:left;
    font-size: 22px;
    line-height: 27px;
    margin-top: 23px;
}
.description p{
    text-align:left;
    margin:8px 0 30px 0;
    font-size: 20px;
    line-height: 25px;
}
.related-product{
    background-color: #ebebeb;
}
.related-product h3{
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    padding-top: 30px;
}
.product-related{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 35px;
}
.lap-1, .charger, .bag{
    max-width: 399px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}
.product-related h5 {
    text-align: center;
    color: #000;
}

/**********************************
  FOOTER
  ***********************************/
  footer{
    background-color:rgb(255, 166, 95);
    font-size: 16px;
}
.footer-link{
    display: flex;
    justify-content: space-evenly;
    padding-top: 37px;
    flex-wrap: wrap;

}
.footer-link ul {
    list-style: none;
}
.footer-link ul li{
    color: white;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer-link ul a{
    text-decoration: none;
    color: white;
}
.footer-link input{
    width: 253px;
    height: 44px;
    line-height: 19px;
    font-size: 16px;
    color: rgb(255, 166, 95) ;
}
.footer-link button{
    width: 108px;
    height: 44px;
    font-size:18px;
    line-height: 22px;
    margin-top: 9px;
    color: rgb(255, 166, 95) ;;
}
.error{
    color: rgb(209, 21, 21);
    font-size:16px;
}
footer p{
text-align: center;
color: #fff;
}
.social-link{
    margin-top: 13px;
    margin-left: auto;
}
.social h3, .footer-link h3{
    color: white;
}
.social-link li{
    display: inline-block;
    margin-left: 12px;
}

/**********************************
  RESPONSIVENESS
  ***********************************/
@media screen and ( max-width:1085px ){

/**********************************
  HEADING
  ***********************************/
header{
    flex-flow:wrap;
    justify-content: flex-end;
}
.navbar-link li{
    margin: 15px;
}
    
/**********************************
  PAGE:PRODUCT
  ***********************************/
.product-img{
    margin: 10px;
}
.product-del button{
    width: 130px;
    font-size: 18px;
    line-height: 20px;
}
.description h3, .description p{
    font-size: 14px;
    line-height: 18px;
}
.description p{
    margin: 10px;
}
.product-del h3, .product-del h4{
    font-size: 20px;
    line-height: 24px;
}
.lap-1, .charger, .bag{
    flex-basis: 250px;
    margin: 20px;
}
.product-related{
    justify-content: space-between;
    margin-top: 20px;
}
}

@media screen and ( max-width:600px ) {

/**********************************
  HEADER
***********************************/
header{
    flex-direction: column;
    align-items: flex-start;
}
.navbar-link li {
    display: block;
    text-align: left;
    line-height: 19px;
    font-size: 16px;
    margin-left:10px ;
    color:black;
}
.logo{
    margin-left: 10px;
}
/**********************************
PAGE:PRODUCT
***********************************/
.product{
    flex-wrap: wrap;
    margin: 20px;
}
.product-del{
    margin: 20px;
}
.description{
    margin-left: 30px;
}
.product-related{
    justify-content: space-evenly;
    margin: 10px;
}
.related-product h3 {
    font-size: 20px;
}
.lap-1, .charger, .bag{
    flex-basis: 399px;
    margin: 10px;
}
/**********************************
FOOTER
***********************************/
.footer-link{
    display: block;
    margin-left: 15px;
}
.social h3{
    margin-top: 20px;
}
.social-link li{
    margin-right: 5px;
}  
}