@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=PT+Sans:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: oswald, PT sans, sans-serif;
}
/**********************************
  HEADING
  ***********************************/

header{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 166, 95);
    color:black;
    align-items: center;
    fon

}
 .logo{
    margin-right:auto;
}
.navbar-link{
    list-style: none;
}
.navbar-link li {
    display: inline-block;
    line-height: 19px;
    font-size: 20px;
    margin-right: 86px;
    color:black;
}
.navbar-link a{
    text-decoration: none;
    color: black;
}
.navbar-link li a:hover{
    color: white;
}
/**********************************
  PAGE:SIGN UP
  ***********************************/
.signup{
    display: flex;
    justify-content: space-evenly;
}
.reg-account h1{
    font-size: 50px;
    line-height: 61px;
    margin: 175px 50px 23px 50px;
    color:rgb(255, 166, 95) ;
}
.reg{
    font-size: 30px;
    line-height: 37px;
    margin: 0 20px 26px 50px;
    color: #000;
}
.reg-sign{
    font-size: 30px;
    line-height: 37px;
    margin: 0 30px 227px 50px;
}
/**************** sign up page form******************/
.signup-form fieldset{
    margin: 46px 74px 111px 0;
    border-radius: 23px;
}
.signup-form label{
    font-size: 18px;
    line-height: 22px;
    margin-left: 41px;
}
.signup-form input{
    width: 521px;
    height: 50px;
    border: 2px solid ;
    border-radius: 10px;
    margin: 0 45px 34px 41px;
}
.signup-input{
    margin: 39px 0 15px 0;
}
#checkbox-signup{
    width: 16px;
}
.signup-input button{
    width: 196px;
    height: 48px;
    border-radius: 4px;
    background-color: rgb(255, 166, 95);
    color: #fff;
    font-size: 18px;
    line-height: 12px;
    margin: 0 200px;
    border: none;
}

/**********************************
  FOOTER
  ***********************************/
footer{
    background-color:rgb(255, 166, 95) ;
}
.footer-link{
    display: flex;
    justify-content: space-evenly;
    padding-top: 37px;
    flex-wrap: wrap;

}
.footer-link ul {
    list-style: none;
}
.footer-link ul li{
    color: white;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer-link ul a{
    text-decoration: none;
    color: white;
}
.footer-link input{
    width: 253px;
    height: 44px;
    line-height: 19px;
    font-size: 16px;
    color: rgb(255, 166, 95) ;
}
.footer-link button{
    width: 108px;
    height: 44px;
    font-size:18px;
    line-height: 22px;
    margin-top: 9px;
    color: rgb(255, 166, 95) ;;
}
footer p{
text-align: center;
color: #fff;
}
.social-link{
    margin-top: 13px;
    margin-left: auto;
}
.social h3, .footer-link h3{
    color: white;
}
.social-link li{
    display: inline-block;
    margin-left: 12px;
}


/**********************************
  RESPONSIVENESS
  ***********************************/


@media screen and ( max-width:1085px ){

    
   /**********************************
  HEADING
  ***********************************/
    header{
        flex-flow:wrap;
        justify-content: flex-end;
    
    }
    .navbar-link li{
        margin: 15px;
    }
    
/**********************************
  PAGE: SIGN UP
  ***********************************/

    .signup{ 
    flex-direction: column;
    
}
.reg-sign{
    margin-bottom: 20px;
}
/**************** sign up page form******************/
.signup-form fieldset{
    margin: 2px 37px 50px 20px;
    border-radius: 5px;
}
/**********************************
  PAGE: CONTACT
  ***********************************/
.contact{
    flex-wrap: nowrap;
    flex-flow: column;
}
.contact-us{
    margin-top: 20px;
}
.contact-form fieldset{
    margin: 20px 30px 17px 30px ;
    padding: 0 30px;
    border-radius: 10px;
}

}

@media screen and ( max-width:600px ) {


/**********************************
  HEADER
***********************************/
    header{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .navbar-link li {
        display: block;
        text-align: left;
        line-height: 19px;
        font-size: 16px;
        margin-left:10px ;
        color:black;
    }
    .logo{
        margin-left: 10px;
    }
   /**********************************
  PAGE: SIGN UP
  ***********************************/
    .signup{
        display:flex ;
        flex-direction: column;
    }
    .reg-account h1{
        font-size: 25px;
        line-height: 30px;
        margin: 21px 89px 2px 89px;
        text-align: center;
    }
    .reg, .reg-sign{
        font-size: 18px;
        line-height: 22px;
        margin: 5px 42px;
        text-align: center;
    }
    /**************** sign up page form******************/
    .signup-form input{
        width: 325px;
        height: 25px;
        border: 1px solid ;
        border-radius: 5px;
        margin: 0 45px 34px 41px;
        padding-right: 5px;
    }
    .signup-form fieldset{
        margin: 20px 15px 17px 21px ;
        border-radius: 10px;
    }
    .signup-input button{
        width: 70px;
        height: 29px;
        border-radius: 2px;
        font-size: 14px;
        line-height: 12px;
        margin:0 124px 0 170px;
    }
    
    #checkbox-signup{
        width: 12px;
        height: 15px;
        margin-left: 2px;
    }
    
  
     /**********************************
         FOOTER
      ***********************************/
    .footer-link{
        display: block;
        margin-left: 15px;
    }
    .social h3{
        margin-top: 20px;
    }
    .social-link li{
        margin-right: 5px;
    }
    
}