 body {
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
 }

 /* THE HEADER */
 .nav-section {
     width: 95%;
     margin: auto;
     overflow: hidden;
 }
 ul {
     padding: 0;
     margin: 0;
 }

 header {
     background:#330066;
     color: white;
     padding-top: 10px;
     min-height: 15%;
     border-bottom: 4px solid yellow;
 }
 header a {
     color: white;
     text-decoration: none;
     font-size: 16px;
 }
 header li {
     display: inline;
     padding:0 30px;
 }
 header #nav-logo {
     float: left;
     padding-bottom: 10px;
 }
 header #nav-logo h2,
 header #nav-logo p {
     margin:0;
     padding:0;
     color:white;
 }
 header nav {
     float: right;
     margin-top: 15px;
 }

/* FOOTER */
 footer a {
     color: white;
     text-decoration: none;
 }

 footer {
     background-color:#333366;
     overflow: hidden;
     padding: 20px 10px 10px 20px;
     border-top:4px solid yellow;
 }


 .footer {
     float: left;
     width: 33.33%;
     font-weight: lighter;
     padding-bottom: 20px;
 }

 .footer li {
     padding:5px;
     font-weight: lighter;
     opacity: 0.5;
     list-style-type: none;
 }

 .footer p {
     color: white;
     font-weight: lighter;
     opacity: 0.5;
     padding-left: 35px;
     /* padding-top: 20px; */
     display: block;
 }
 .logo li {
     list-style-type: none;
     padding: 2px;
     border-radius: 5px;
     display: inline-grid;
     margin: 0 10px;
 }

 footer nav {
     overflow: hidden;
 }
 img {
     height: 25px;
     text-decoration: none;
 }
 .last {
     color: #ffffff;
     margin: 0;
 }

 ::placeholder {
    color: lightblue;
 }
 input {
    background-color: white;
    color: cornflowerblue;
    padding: 5px;
    border-style: none;
    font-weight: bold;
 }

 /* CONTAINER */

 .error-block {
   font-size: 12px;
   color: red;
}
 .main-container {
     overflow: hidden;
     width: 95%;
     padding: 15px 15px;
     margin: auto;
 }
 .information {
    float: left;
    width: 40%;
    text-align: left;
    margin:0 20px;
    padding: 5px 15px 0 15px;


 }
 .fill-form {
     float: left;
     width: 40%;
     padding: 2% 5%;
      }

 .inputs {
        border: 1px solid darkgrey;
        border-radius: 10px;
        padding: 2% 5%;
    }
 .info-logo li {
     list-style-type: none;
     padding: 0;
     border-radius: 5px;
     display: inline;
     margin: 10px 10px;


 }
 .info1 {
     /* position: relative; */
     left: 175px;
     top: 20px;
 }
 .num {
    margin-left:40px;
}
 .info1 img {
     padding-left: 40px;
     height: 40px;
    
 }

 .info-logo li{
      margin:10px;
 }
/* .inputs input[type=submit] {
     background-color: #333366;
     color: white;
     padding: 5px 15px;
     margin:0 375px;
     font-size: 12px;
 }*/

 button {
      background-color: #333366;
     color: white;
     padding: 5px 15px;
     margin:0 375px;
     font-size: 12px;
 }
 .inputs input[type=text],
 .inputs input[type=email] {
     border: none;
     border-bottom: 2px solid lightgray;
     width: 95%;
 }
 .inputs textarea {
     width: 95%;
 }
 .inputs p {
     padding-left :30px;
     font-size: 16px;
     font-weight: bolder;
 }
 .inputs img {
     padding-left: 120px;
     height: 50px;

 }
 @media screen and (max-width: 800px) {
    header nav,
    header .nav-section nav li,
    header #nav-logo {
        float: none;
        text-align: center;
        padding: 0 3%;

    }
    .information,
    .fill-form {
        float:none;
        width: 85%;
        margin: auto;
        padding-bottom: 15px;
    }
    .information {
        text-align: center;
    }

}
@media screen and (max-width: 640px){
    .information, .fill-form {
        float:none;
    }

}
@media screen and (max-width: 360px ){
    .information, .fill-form {
        float: none;
    }

}
 