body {
   font-family: 'Arimo', sans-serif;
   font-size: 15px;
   line-height: 1.5em;
   margin: 0;
   padding: 0;
   
  
}
/* THE HEADER */
.nav-section {
   width: 95%;
   margin: auto;
   overflow: hidden;
}
ul {
   padding: 0;
   margin: 0;
}

header {
   background:#f77b00;
   color: white;
   padding-top: 15px;
   min-height: 2px;
}
header a {
   color: white;
   text-decoration: none;
   font-size: 16px;
}
header li {
   display: inline;
   padding:0 30px;
}
header #nav-logo {
   float: left;
   margin: 15px 15px;
}
header #nav-logo h2,
header #nav-logo p {
   margin:0;
   padding:0;
   color:white;
}
header nav {
   float: right;
   margin-top: 15px;
}

/* FOOTER */
footer a {
   color: white;
   text-decoration: none;
}

footer  {
   background-color:#f77b00;
   overflow: hidden;
   padding: 15px 0 0 20px;
  
}


.footer {
   float: left;
   width: 33.33%;
   font-weight: lighter;
}

.footer li {
   padding:5px;
   font-weight: lighter;
   list-style-type: none;
}

.footer p {
   color: white;
   font-weight: lighter;
   padding-left: 50px;
   display: block;
}
.logo li {
   list-style-type: none;
   padding: 2px;
   border-radius: 10px;
   display: inline-grid;
   margin: 0 10px;
}

.info {
   position: absolute;
   left: 300px;
  
}

footer nav {
   overflow: hidden;
}

img {
   height: 25px;
   text-decoration: none;
}
/* CONTAINER */
.con {
   overflow: hidden;
   width: 95%;
   padding: 30px 0;
   margin: auto;
}
.act {
   float: left;
   width: 43%;
   text-align: left;
   margin:0 20px;
}
.form {
   float: left;
   width: 40%;
   padding: 2% 5%;
 }
.for-input {
   border: 1px solid darkgray;
   border-radius: 10px;
   padding: 2% 5%;
}

.act h1 {
   color:#f77b00;
   font-weight: bolder;
   font-size: 30px;

}
.act h3 {
   font-weight: lighter;
   color:gray;

}

.for-input input[type=text],
.for-input input[type=email],
.for-input input[type=password] {
   width: 85%;
   border: 1px solid #cccccc;
   border-radius: 7px;
   padding: 10px;
}
input[type=submit] {
   background-color:#f77b00;
   border-radius: 5px;
   color: white;
   padding: 10px;
   text-decoration: none;
   margin:0 50px;
   font-size: 12px;
}
input[type =text]:hover {
   color: #f68b1e;
}
.newsletter form button, input {
   background-color: white;
   color:#282828;
   padding: 5px;
   border-style: none;
   font-weight: bold;
}

::placeholder {
   color: lightblue;
}
.last {
    color: #ffffff;
    margin: 0;
    padding: 0;
 }
.log-in {
    color: #f77b00;
    font-weight: bold;
    text-decoration: underline;
}
.tick-it {
    color: #282828;
    font-weight:bolder;
    font-size: 12px;
    padding-left: 30px;

}

.kt {
   color: white;
}
/* RESPONSIVE */
@media screen and (max-width: 800px) {
    header nav,
    header .nav-section nav li,
    header #nav-logo {
        float: none;
        text-align: center;
        padding: 0 3%;

    }
    .act,
    .form {
        float:none;
        width: 85%;
        margin: auto;
        padding-bottom: 15px;
    }
    .act {
        text-align: center;
    }

}
@media screen and (max-width: 640px){
    .act, .form {
        float:none;
    }

}
@media screen and (max-width: 360px ){
    .act, .form {
        float: none;
    }

}