body{
    font-family: 'Franklin Gothic Medium';
    background-color: snow;
}
.nav-case{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex; 
}
ul li {
    padding: 0;
    margin: 0; 
    list-style: none;
    text-decoration: none;
}
header {
    background:rgb(250,128,114);
    color: #F5F5DC;
    padding-top: 10px;
    min-height: 15%;
    border-bottom:4px solid #0000FF;
}
header a {
    color: #F5F5DC;
    font-size: 17px;
    font-weight: bold;
    margin-left: 200px;
    list-style: none;
    text-decoration: none;
}
header li {
    display: inline;
    padding: 0 20px;
}
header #nav-brand {
    float: left;
    padding-bottom: 12px;
}
header #nav-brand h2,header #nav-brand p{
    margin:0;
    padding:0;
    color:white;
}
header nav{
    float: right;
    margin-top: 15px;
}
.product-content{
    overflow: hidden;
    padding: 40px auto;
    margin: auto;
    width: 90%;
}
.main-image {
    float: left;
    height: 200px;
    width: 250px;
    margin: 2px 0px 10px 30px;
    
}
.teflon-image{
    height: inherit;
    margin-left: -30px;
    
}
.img-description {
    float: left;
    width: 250px;
    margin-left: 50px;
    margin-right: 500px;
    margin-bottom: 50px;
    
}
#price #ship-cost #total b, #stock .content{
    display: inline-table;
    padding: 0 ;
    margin: 0 ;
    
}

b {
    font-weight: 200;
    font-size: 17px;
}

.error-product {
    display: block;
    font-size: 12px;
    font-weight: 200;
    color: blue;
}

#price #ship-cost #total {
    color: navy;
}
#price #ship-cost #total .content{
    border-collapse: collapse;
}

input {
    width: 20%;
    margin-left: 10px;
}
#price #ship-cost #total .content,#price #ship-cost #total th{
    border: 1px solid rgb(129, 129, 129);
    padding: 0 8px;
}
#price #ship-cost #total tr th a{
    text-decoration: none;
}
.img-description button{
    width: 70px;
    border-radius: 12px;
    background-color: coral;
    color: #fff;
    padding: 8px;
    font-weight: bold;
}
.product-description{
    margin-top: 55px;
    padding-bottom: 20px;
}
.product-description h4{
    margin-top: 80px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
aside{
    background-color: rgb(231, 227, 227);
    padding:20px 0;
    margin: auto;
    overflow: hidden;
}
aside h3{
    text-align: center;
}
.teflon-img{
    float: left;
    width: 30%;
    height: 285px;
    margin:20px 0 0 30px;
    background-color: white;
}
.teflon-img a img{
    width: 150px;
    height: 200px;
    margin:10px 85px 0 100px;
}
.teflon-img p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0 ;
}
footer {
    overflow: hidden;;
    padding: 20px 0 0 50px;
    color: rgb(250,128,114);
}
.footer1, 
.footer2, 
.footer3 {
    float: left;
    width: 28%;
}
.footer1 ul li,
.footer3 ul li
{
    margin-bottom: 8px;
    font-size: 17px;
   font-weight: bold;
}
.footer1 ul li a{
   display: inline;
   color: rgb(250,128,114);  
   list-style: none;
   text-decoration: none;
}
.footer2 input[type="email"]{
   height: 25px;
   padding: 3px 18px 3px ;
   font-size: 12px; 
}
.footer2 button[type="submit"]{
   height: 30px;
   padding: 0 5%;
   font-size: 12px;
   background-color:  rgb(250,128,114);
   color: #F5F5DC;
   font-weight: bold;
}
.footer3 ul li{
   display: inline-flex;
   padding:10px ;
   margin-left: 20px;
   margin-top: -35px;
}
.footer3 ul li img{
   width: 50px;
   text-align: left;
}
footer h5{
   text-align: center;
   margin-top: 5px;
   font-weight: bold;
}
footer p{
   text-align: center;
   display: block;
   margin-top: 150px;
   margin-left: 30px;
}
@media screen and (max-width:850px){
    header .nav-title,
    header nav,
    header .nav-container  nav li{
        text-align: center;
        padding:0 3px;
        float: none;
}
main, aside {
    width: 70%;
    margin: auto;
    padding-bottom: 17px;
}
main {
    text-align: center;
}
.footer1, .footer2, .footer3 {
    width: 44%;
    margin: 30px;
}
.footer3 ul li{
    display: inline;
}

}
@media screen and (max-width:550px){
    main {
        margin: auto;
    }
    .img-description{
        width: 90px;
        margin: 10px 100px 75px;
    }
}
@media screen and (max-width: 920px) {
    .image1,
    .image2,
    .image3{
        width: 320px;
    }
    .footer1, 
    .footer2{
        width: 320px;
    }
    .footer3 {
        float: none;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 3px
    }
    .footer3 ul li{
        display: inline;
    }
    footer p{
        text-align: center;
    }
}