
.app {
  background: rgb(70, 36, 36);
  height: 40vh;
  padding: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: white;
    margin-bottom: 30px;
}
.todo-header{
    margin-left: 400px;
    margin-top: 20px;
    
}
.todo-create input{
  width: 475px;
  float: left;
  margin-right: 10px;
  padding: 6px;
  border-radius: 8px;
}
.todo-button button{
  padding: 6px;
  border-radius: 8px;
  width: 62px;
  background-color: rgb(202, 226, 241);
}
.todo-list {
  background: #f8d408;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 550px;
  margin-top: 15px;
  margin-left:400px;
  padding: 20px;
}

.todo {
  align-items: center;
  background: rgb(247, 244, 244);
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin: 15px;
  padding: 9px 30px;
}
.todo-footer{
  margin-left:400px;
  background-color: rgb(255, 255, 255);
  max-width: 550px;
  box-shadow: 5px 5px 5px 2px rgba(17, 14, 14, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.todo-footer p{
  display: inline-block;
  padding: 5px;
}
.todo-middle-footer p:nth-child(1){
  color: blue;
}
.todo-middle-footer p:nth-child(2){
  color: red;
}
.todo-middle-footer p:nth-child(3){
  color: green;
}
.todo-right-footer p{
  color: red;
}
input [type=checkbox]{
  display: inline-block;
  width: 25px;
} 
.hide-display{
  display: none;
}
.container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 50px;
  height: 22px;
  width: 25px;
  background-color: #eee;
  border:3px rgb(216, 33, 33) solid;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border:3px green solid;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 5px;
  height: 10px;
  border:2px solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width:768px) {
  .app{
    width: 100%;
  }
  .todo-header {
    margin: 0;
  }
  .todo-list,
  .todo-footer{
    margin-left: 0;
  }
}

@media (max-width:320px) {
  h1{
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .app{
    width: 285px;
    height: 245px;
    padding: 15px;
  }
  .todo-create input{
    width: 170px;
    padding: 4px;
  }
  .todo-list,
  .todo-footer{
    margin-left: 0;
  }
  .todo-list{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
    left: -30px;
    width: 300px;
  }
  .todo-button button{
    padding: 4px;
  }
  .todo-footer{
    width: 270px;
  }
  .todo-footer p {
    font-size: 15px;
    display: inline-block;
  }
  .todo-left-footer,
  .todo-right-footer {
    position: relative;
    top: -30px;
    width: 50%;
  }
  .todo-middle-footer{
    display: none;
  }
  .hide-display {
    display: flex;
    position: relative;
    top: -40px;
    left: 40px;
  }
  .hide-display p {
    padding-right: 10px;
  }
  .hide-display p:nth-child(1){
    color: blue;
  }
  .hide-display p:nth-child(2){
    color: red;
  }
  .hide-display p:nth-child(3){
    color: green;
  }
}