*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Roboto', sans-serif;
    background-color: #F0FFFF;
    margin: 0;
    font-size: 18px;
}

header #logo{
  border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2px;
    width:5em;
    margin-left: 0.2em;
}

header ul{
    list-style: none;
    margin-left: 0.2em;
}
header ul li{
    padding: 0.4em;
    margin-left: 1em;
}
header ul li a{
    text-decoration: none;
    color: white;
}



a:hover{
    color: royalblue;
}
img{
    width: 30px;
}
button{
    cursor: pointer;
}
header {
    background: #E9967A;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1em;
}

/*Body styling*/
main{
    padding: 2.5em;
}
main .contactUs   {
    display: flex;
    flex:row wrap;
}
main #details{
    width: 72%;
    margin: 0 7em;
    text-align: center ;
}
main .head{
    text-align: center ;
}
main .form{
    border: 1px solid #000000;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto 5em;
    padding: 1em;
}
main .form input{
    display: block;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0.6em;
    margin-bottom: 0.3em;
}

main .form #label{
    display: block;
    margin-bottom: 0.5em;
}

main .form #button{
    display: block;
    margin: 0.5em auto 0;
    padding: 0.5em 1.5em;
    background: #E9967A;
    border: 1px solid #E9967A;
    border-radius: 5px;
    color: white;
}
main .contact_form {
    padding: 24px 100px 40px 100px;
}
main .contact_form img{
    display: block;
    margin: 15px auto 0 auto;
}


/*footer styling*/
footer{
    background: #E9967A;
    color: white;
    padding: 1.5em;
}
footer .footer .coloumn1 ul{
    list-style: none;
    margin-bottom: 1em;
}
footer .footer .coloumn1 ul li a {
    text-decoration: none;
    color: white;
}
footer .footer .coloumn2 form{
    margin: 0.5em 0 1em;
}
footer .footer .coloumn2 form input{
    padding: 0.7em;
    width: 40%;
    border: 2px solid black;
}
footer .footer .coloumn2 form input:-ms-input-placeholder,
footer .footer .coloumn2 form input::placeholder,
footer .footer .coloumn2 form input::-ms-input-placeholder
{
    color: #E9967A;
}
footer .footer .coloumn2 form button{
    padding: 0.7em 1em;
    color: #E9967A;
    border: 2px solid black;
}
footer p:last-child{
    width: 70%;
    text-align: center;
    margin: 2em auto 0;
}
footer .footer .coloumn2#connect{
    margin-bottom: 0.3em;
}

/* social medias */

#facebook{
    display: inline-block;
    width: 2em;
    margin-left: 0.3em;
}
#twitter{
    display: inline-block;
    width: 1.7em;
    margin-left: 0.1em;
}
#instagram{
    display: inline-block;
    width: 2.7em;
    margin-left: 0.3em
}
#gmail {
    display: inline-block;
    width: 2.0em;
    margin-left: 0.1em;
}

/*Responsiveness */
/* For mobile phones: */
@media only screen and (max-width: 768px) {

    [class*="col-"] {
        width: 100%;
    }
}

/* Tablet View*/
@media only screen and (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    header ul{
        display: flex;
        flex-direction: row;
    }

     main #details{
        width: 60%;
    }

    footer .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer .footer .coloumn1{
        flex: 0 0 50%;
        margin-left: 1em;
    }
    footer .footer .coloumn2{
        flex: 0 0 50%;
    }
}
/* desktop view*/
@media only screen and (min-width: 1025px) {
     main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    main .contactUs{
        flex: 0 0 25%;
        align-self: center;
        
    }
    main .contactUs #details{
        text-align: center;
        width: 100%;
    }
    main .socialmedias{
        text-align: center;
        width: 100%;
        margin: 0 auto 1em;
    }
    main .contact_form{
        flex: 0 0 55%;
    }
    main .contact_form .form{
        margin: 1em auto;
    }
    
    footer .footer .coloumn1{
        flex: 0 0 30%;
        margin-left: 1em;
    }
    footer .footer .coloumn2{
        flex: 0 0 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer .footer .coloumn2 form input{
        width: 65%;
    }

