body{
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
  }
  
  @media screen and (max-width: 1085px)
  {
    header {
      flex-flow: wrap;
      justify-content: flex-end;
    }
  }
  
  header{
    color: white;
    background-color: blue;
    display: flex;
    align-items:center;
  }
  
  header,.nav-header {
      margin-right: auto;
    }
  
  header, .nav-header a h1 img{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a h1{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: -webkit-inline-box;
    color: #fff;
  }
  a img{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 50%;
  }
  
    h2{
      margin: 0;
      padding: 0;
      color: white;
    }
  
    p{
      margin: 0;
      padding: 0;
      color: white;
      font-family: Montserrat;
    }
  
    .nav-content{
      float: right;
      margin-top: 15px;
    }
  
    .nav-content ul{
      padding: 0;
      margin: 0;
    }
  
    .nav-content ul li{
      display: inline;
      padding: 0 30px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: white;
    }
    ul li a{
      cursor: pointer;
      font-family: Montserrat;
      display: -webkit-inline-box;
      color: #fff;
      font-weight: bolder;
      font-size: large;
      text-decoration: none;
    }

    @media screen and (max-width: 986px)
    {
      .contact {
    flex-wrap: nowrap;
    flex-flow: column;
  }
}
.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 25px;
}
    
@media screen and (mad-width: 986px){
  .contact-us {
        margin-top: 20px;
    }
  }
  

.img-contact {
  display: block;
  margin: 20px auto 15px auto;
}

.contact h3 {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.25px;
  text-align: center;
  font-family: Montserrat;
}
.social-contact li {
  display: inline-block;
  margin-right: 20px;
}

.contact-list {
  text-align: center;
  list-style: none;
  margin-top: 10px;
}
.contact-list a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  font-size: 22px;
}

.contact-form fieldset {
    margin: 20px 30px 17px 30px;
    padding: 0 30px;
    border-radius: 10px;
  }

.contact-form img {
  display: block;
  margin: 24px auto 0 auto;
}

.contact-form h3{
  font-family: Montserrat;
  margin: 25px 66px 43px 72px;
}

.contact h3 {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.25px;
  text-align: center;
  font-family: Montserrat;
}

.contact-form input{
  width: 500px;
  font-family: Montserrat;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 30px;
}

.contact-form label {
  font-size: 20px;
  line-height: 30px;
  font-family: Montserrat;
}

textarea {
  width: 500px;
  height: 250px;
}

.contact-form .contact-submit {
  width: 113px;
  background-color:blue;
}
.contact-submit {
  border-radius: 4px;
  margin: 19px 0px 32px 400px;
}

footer {
  background-color: #0066f5;
  color: white;
}
.footer-links{
  display: flex;
  justify-content: space-evenly;
  padding-top: 37px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.footer-links ul {
  list-style: none;
}
  
.footer-links ul li {
      color: white;
      line-height: 22px;
      font-size: 18px;
      margin-bottom: 15px;
      font-family: Montserrat;
    
    }
.footer-links ul li a {
      text-decoration: none;
      display: inline;
      color: white;
      font-family: Montserrat;
  }
  .social h3, .footer-link h3 {
    color: white;
}

  .footer-links label{
    color: white;
    font-family: Montserrat;
  }
  .footer-links input {
      height: 20px;
      padding: 3px 18px 3px;
      font-size: 14px;
    }
    .footer-links button{
      height: 30px;
      padding: 0 5%;
      font-size: 12px;
      color: #0066f5;
      font-weight: bold;
      width: 108px;
      font-size: 18px;
      font-family: Montserrat;
      line-height: 22px;
      margin-top: 9px;
    }
    .social h3, .footer-links h3 {
      color: white;
      font-family: Montserrat;
    }

    .footer-links ul{
      list-style: none;
    }
    .social-links {
      margin-top: 13px;
      margin-left: auto;
  }
  
    .footer-links ul li{
      color: white;
      line-height: 22px;
      font-size: 18px;
      margin-bottom: 15px;
      font-family: Montserrat;
      text-align: left;
    }
    .social-links li {
      display: inline-block;
      margin-left: 12px;
  }
  
    .footer-links ul a{
      text-decoration: none;
      color: white;
      font-family: Montserrat;
    }
    footer p {
      font-family: Montserrat;
      display: block;
      color: #ffffff;
      text-align: center;
    }