body{
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

@media screen and (max-width: 1085px)
{
  header {
    flex-flow: wrap;
    justify-content: flex-end;
  }
}

header{
  color: white;
  background-color: blue;
  display: flex;
  align-items:center;
}

header,.nav-header {
    margin-right: auto;
  }

header, .nav-header a h1 img{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a h1{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  color: #fff;
}
a img{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

  h2{
    margin: 0;
    padding: 0;
    color: white;
  }

  p{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Montserrat;
  }

  .nav-content{
    float: right;
    margin-top: 15px;
  }

  .nav-content ul{
    padding: 0;
    margin: 0;
  }

.nav-content ul li{
    display: inline;
    padding: 0 30px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
ul li a{
    cursor: pointer;
    font-family: Montserrat;
    display: -webkit-inline-box;
    color: #fff;
    font-weight: bolder;
    font-size: large;
  }


.container{
    overflow: hidden;
    padding: 30px 0;
    margin: auto;
    width: 90%;
  }
.main{
  float: left;
  text-align: left;
  width: 43%;
}

  .main, h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    color: #0066f5;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
  }

  h2{
    color:blue;
  }

  .main, p, h3{
    font-family: Montserrat;
    font-size: 30px;
    padding: inherit;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: blue
  }

  p, h3{
    color: #080655;
  }

  h3 .text-style-1{
    font-weight: bold;
    color: #0066f5;
  }
  
  .side-bar{
    float: left;
    width: 50%;
    margin-left: 5%;
  }

  .form{
    display: block;
    margin-top: 0em;
  }

 .side-bar .form-info{
    padding: 20px;
    width: 90%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 3%;
    margin-bottom: 10px;
  }
  .form-info label {
    width: 99px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: blue;
  }

  .form-info input[type="text"], 
  .form-info input[type="tel"],
  .form-info input[type="email"], 
  .form-info input[type="password"],
  .form-info input[type="confirm-password"] {
    width: 521px;
    height: 50px;
    border-radius: 10px;
    border: solid 2px #5f5f5f;
  }
  .form-info input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color: #5f5f5f;
  }

  .form-info label input[type="terms-conditions"]{
    width: 337px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: gainsboro;
  }

  .form-info button {
    width: 95px;
    height: 40px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    margin: 0 160px;
    border: none;
    font-size: 18px;
    color: #ffffff;
  }


  footer{
    background-color: #0066f5;
    color: white;
  }

  .footer-links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 37px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .footer-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .footer-links ul li {
    color: white;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: Montserrat;
  }
  .footer-links ul li a {
    text-decoration: none;
    display: inline;
    color: white;
    font-family: Montserrat;
}
.footer-links label{
  color: white;
  font-family: Montserrat;
}
.footer-links input[type="email"] {
    height: 20px;
    padding: 3px 18px 3px;
    font-size: 14px;
  }
  .footer-links button[type="submit"] {
    height: 30px;
    padding: 0 5%;
    font-size: 12px;
    color: #0066f5;
    font-weight: bold;
    width: 108px;
    font-size: 18px;
    font-family: Montserrat;
    line-height: 22px;
    margin-top: 9px;
  }
  .footer-links h3 {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
  }

  .footer-links ul{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .footer-links ul li{
    color: white;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: Montserrat;
    text-align: left;
  }

  li{
    display: inline-block;
    margin-left: 20px;
  }

  .footer-links ul a{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
  }
  .footer-box p {
    font-family: Montserrat;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
  }