* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: teal;
}

a:active {
  text-decoration: underline;
}

img:hover {
  transform: scaleX(-1);
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

.navbar {
  text-align: right;
  text-decoration: none;
  color: white;
  margin-right: 40px;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list li {
  display: inline;
  margin: 15px;
  text-decoration: none;
}

.container {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6em;
}

.product-1 {
  width: 70%;
  box-sizing: border-box;
  margin: auto;
}

.product-1-img {
  width: 30%;
  float: left;
}

.product-1-form {
  width: 70%;
  float: right;
  padding-top: 100px;
  padding-left: 20px;
}

#buy-now{
  background-color: beige;
  border: none;
  color: teal;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.related-products {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: beige;
  margin-bottom: 10px;
}

.related-products-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.related-products h3 {
  text-align: center;
  padding-bottom: 10px;
}

.product-2,
.product-3,
.product-4 {
  width: 300px;
}

#product-image {
  border: 5px solid white;
  border-radius: 0.3px;
  padding: 10px;
  width: 300px;
  background-color: white;
}

.footer {
  background-color: black;
  color: white;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.footer-1,
.footer-2,
.footer-3 {
  float: left;
  width: 33%;
}

.footer-1 {
  text-align: left;
  width: 33.3%;
}

.footer-2 {
  text-align: center;
  width: 33.3%;
}

.footer-3 {
  text-align: right;
  width: 33.3%;
}

.footer-bottom {
  padding-top: 30px;
  text-align: justify;
}

#submit {
  text-align: center;
}

@media (max-width: 768px){
  .product-1{
    width: 100%;
  }
  .product-1-img{
    width: 35%;
  }
  .product-1-form{
    width: 65%;
  }
  .related-products-list{
    flex-wrap: wrap;
  }
  .footer-1{
    width: 50%;
    text-align: left;
    margin-bottom: 20px;
  }
  .footer-2{
   width: 50%;
   text-align: right;
   margin-bottom: 20px;
  }
  #submit{
   text-align: right;
  }
  .footer-3{
   width: 50%;
   text-align: left;
   margin-bottom: 20px;
  }
  .footer-bottom{
   width: 100%;
   text-align: center;
  }
}

@media (max-width: 360px) {
  .navbar {
      text-align: left;
      width: 100px;
    }
  .navbar-list li {
      display: block;
    }
  .product-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-1-img {
    width: auto;
  }
  .product-1-form {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
  }
  .related-products {
    margin-top: 12px;
  }
  .related-products-list {
    flex-wrap: wrap;
  }
  .footer-1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
.footer-2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
.footer-3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
.footer-bottom {
    width: 100%;
    text-align: center;
  }
}