* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: teal;
}

a:active {
  text-decoration: underline;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

.navbar {
  text-align: right;
  text-decoration: none;
  color: white;
  margin-right: 40px;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list li {
  display: inline;
  margin: 15px;
  text-decoration: none;
}

.container {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6em;
}

.inner-container {
  margin: 30px;
  overflow: hidden;
}

.my-form {
  display: block;
}

#existing-account-signin {
  color: teal;
  text-decoration: underline;
}

.main-block {
  box-sizing: border-box;
  float: left;
  padding: 15px;
  margin-top: 150px;
  text-align: center;
  width: 50%;
}

.side-bar {
  float: right;
  width: 50%;
  padding: 25px;
  columns: white;
  border: 0.3px black solid;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: justify;
}

input,
textarea {
  width: 100%;
  height: 50px;
}

#sidebar {
  border-radius: 0.4em;
  padding: 5px;
  border: azure;
}

.termsandconditionsRow {
  display: flex;
}

.termsandcondtionsLabel {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 5%;
  height: auto;
}
.footer {
  background-color: black;
  color: white;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-1 {
  text-align: left;
  width: 33.3%;
  list-style-type: none;
}

.footer-2 {
  text-align: center;
  width: 33.3%;
}

.footer-3 {
  text-align: right;
  width: 33.3%;
  display: flex;
}

.footer-3 div {
  display: flex;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

@media (max-width: 360px) {
  .navbar {
    text-align: left;
  }
  .navbar-list li {
    display: block;
  }
  #main-block {
    width: 100%;
    margin-top: 0%;
  }
  #side-bar {
    width: 100%;
  }
  input[type="checkbox"] {
    width: 5%;
    height: auto;
  }

  .footer-1-2 {
    width: 100%;
  }

  .footer-3 {
    width: 100%;
    padding-top: 8%;
  }

  .footer-bottom {
    padding: 10px;
    padding-top: 8%;
  }
}
