body {
    margin: 0 -80px 0 0;
    font-family: 'Lato' , sans-serif;
    font-size: 16px
}

* {
    box-sizing: border-box;
}

nav a[href*="*"] {
    font-size: 31px;
    font-weight: bold;
    color: white;
}

nav ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 5px;
    color: white;
}

a,
a:link,
a:hover {
    text-decoration: none;
    color: palegreen;
}

a:visited {
    color: white;
}

a[href*="#"] {
    color: white;
}

.register {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: -webkit-center;
}

.account {
    width: 250px;
    font-size: 40px;
    font-weight: bold;
    color: olive;
}

.registering {
    width: 250px;
  /*  height: 151px; */
    margin: 0;
    font-size: 19px;
    text-align: center;
}

.registering a[href*="#"] {
    color: olive;
    text-decoration: underline;
}

.information {
    width: 100%;
    padding: 0 34px 74px 34px;
    display: flex;
    justify-content: center;
}

.inform {
    width: 200px;
    border-width: 1px;
    border-radius: 20px;
    padding: 35px 45px;
    margin: 0 0 -50px 0;
}

img {
    height: 50px;
    padding: 8px;
}

#fname, #lname, #mname, #pnumber, #email, #password, #cpassword {
    width: 100%;
    height: 34px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.term {
    text-align: center;
}

.ton {
    font-weight: bold;
    margin-left: 148px;
    padding: 10px 30px;
    background-color: olive;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

.sign {
    display: flex;
    flex-direction: column;
}

.error-block {
    font-size: 17px;
    color: red;
    padding: 0;
}

footer p {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.footer > div {
    padding: 9px 100px 13px 20px ;
}

footer ul {
    margin: 5px;
    font-size: 18px;
}

footer {
    background-color: olive;
    color: white;
}

.connect p {
    margin: 0;
    text-align: left;
}

.connect {
    margin-top: 0;
}

.newsletterSignup {
    margin-top: 10px;
    font-size: 20px;
    padding-left: 25px;
}

.newsletterSignup input {
    width: 250px;
    height: 40px;
    font-size: 15px;
}

.newsletterSignup button {
    color: olive;
    font-weight: bold;
    height: 40px;
}

.news {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 640px) {
    body {
        margin: 0;
    }
    nav {
        padding: 25px 35px;
    }

    nav li {
        display: inline;
        padding: 8px;
        margin-right: 50px;
        float: right;
    }   

    .sign {
        
        flex-direction: row;
        justify-content: space-between;
    }

    .register {
        width: 35%;
        margin: 100px 25px;
        padding: 20px;
    }

    .account {
        width: 360px;
        font-size: 45px;
        font-weight: bold;
        color: olive;
    }    

    .registering {
        width: 367px;
        margin: 10px 0;
        font-size: 25px;
        text-align: left;
    }

    .information {
        width: 55%;
        padding: 100px 50px;
        display: flex;
        justify-content: center
    }

    .inform {
        width: 500px;
        height: 790px;
        margin: -50px;
        
    }

    .info {
        height: 650px;
    }


    #fname, #lname, #mname, #pnumber, #email, #password, #cpassword {
        width: 100%;
    }

    .footer > div {
        padding: 50px 140px 0 40px ;
    }

    .newsletterSignup {
        padding: 48px 140px 0 70px;
        font-size: 20px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1050px) {
    body {
        margin: 0 -52px 0 0;
    }
    nav {
        padding: 25px 35px;
    }

    nav li {
        display: inline;
        padding: 8px;
        margin-right: 50px;
        float: right;
    }

    .sign {
        display: flex;
        flex-direction: column;
    } 
    
    .register {
        width: 100%;
        margin: 9px 25px;
        text-align: -webkit-center;
    }
    
    .account {
        width: 360px;
        text-align: center;
    }
    
    .registering {
        width: 367px;
        text-align: center;
    }

    .information {
        width: 100%;
        padding: 23px 50px 150px 54px;
    }
    
    .inform {
        width: 500px;
        height: 790px;
        margin: -24px;
    }
    
    .info {
        height: 650px;
    }

    #fname, #lname, #mname, #pnumber, #email, #password, #cpassword {
        width: 100%;   
    }

    .ton {
        margin-left: 148px;
    }

    .footer > div {
        padding: 50px 150px 0 40px ;
    }

    .newsletterSignup {
        padding: 48px 140px 0 45px;
        font-size: 20px;
    }
}
   
.footer {
    display: flex;
    flex-wrap: wrap;
}

nav{
    padding: 10px 10px 10px 27px;
    background-color: olive;
    color: white;
    position: relative;
}