@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@media screen and (min-width: 900px) {
    .content {
            display: flex;
            width: 100%;
            margin: 0 auto;
        }
    .left-div, .right-div {
        float: left;
        width: 50%;
        margin: auto;
        padding: 10px 80px;
        align-items: center;
    }
    header, .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rosybrown;
        padding: 0 10px;
    }
    .nav-list li {
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
    }
    }

@media screen and (min-width: 451px) and (max-width: 900px) {
    .content {
            display: inline-block;
            width: 100%;
            margin: auto;
            align-items: center;
        }
    .left-div, .right-div {
        margin: 15px auto;
        padding: 0 70px;
        align-items: center;
    }
    header, .footer {
        display: flex;
        justify-content: flex-end;
        background-color: rosybrown;
        align-items: center;
        padding: 0 10px;
    }
    .nav-list li {
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
    }
    }

    @media screen and (max-width: 450px) {
    .content {
            display: inline-block;
            width: 100%;
            padding: 0 30px;
            margin: 10px auto;
            align-items: center;
        }
    .left-div, .right-div {
        margin: 15px auto;
        padding: 0;
        align-items: center;
    }
    .left-div {
        text-align: center;
    }
    .nav-list li {
        display: block;
        padding: 10px;
        margin: 0 5px;
    }
    header, .footer {
        display: block;
        background-color: rosybrown;
        margin: 5px 0;
        padding: 0 10px;
    }
    .foot-list {
        margin-bottom: 15px;
    }
    .conn {
        margin-top: 15px;
    }
    }
    
* {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: auto;
}

.left-div {
    text-align: center;
}

.call-icon {
    width: 30px;
    height: 20px;
    margin: auto;
}

.message-icon {
    width: 50px;
    height: 40px;
    margin-top: 10px;
}

.field-icon {
    text-align: center;
}

.nav-list {
    list-style: none;
}

.nav-list li a, .foot-list li a{
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover, .foot-list li a:hover{
    color: black;
}

li, a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.foot-list {
    margin-right: auto;
    list-style: none;
}

.email-div {
    display: flex;
    margin: 0 5px;
}

.foot-signup {
    margin-right: auto;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}
fieldset {
    border-radius: 20px;
    padding: 21px;
    line-height: 30px;
}
.right-div label {
    line-height: 30px;
    margin-top: 200px;
}
textarea {
    width: 100%;
    height: auto;
}
input {
    width: 100%;
    height: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.submit-btn {
    display: block;
    border-radius: 5%;
    width: 30%;
    height: 30px;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rosybrown;
}

.submit-btn:hover {
    color: black;
}
.newsletter-input {
    margin-right: 10px;
}

.conn-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.conn-div {
    display: inline-block;
}
footer {
    background-color: rosybrown;
}
.left-div a {
    color: rosybrown;
    margin: 0 auto;
    text-decoration: underline;
}
.errorSpan {
    color: red;
    font-size: 12px;
}
#newsError {
    color: white;
    font-size: 12px;
}