*{
	box-sizing: border-box;
}
html, body{
	height:100%;
	padding: 0;
	margin: 0;
	background: #f6f6f6;
	font-family: 'Poppins', sans-serif;
}
a{
   text-decoration: none;
}
header{
	background-color: #69629f;
	height: 66px;
}
header *{
	color: white;
}
header .logo{
	float: left;
	height: inherit;
	margin-left: 20px;
}

header .logo-text{
	margin: 9px;
}
header ul {
	float: right;
	padding-left:40px;
	list-style: none;
}
header ul li{
	float: left;
}
header ul li a{
	display: block;
	padding: 21px;
	text-decoration: none;
}
header ul li a:hover {
	background-color: #5e578e;
	transition: 0.5s;
}
.page-wrapper{
	min-height: 100%;	
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.selected-product{
}
.selected-product .product-wrapper{
	width: 100%;
	height: 330px;
	margin: 0 auto;
	background:white;
}
.selected-product .product-wrapper .product{
	margin: 20px 0 0 20px;
	width: 25%;
	height: 210px;
	display: inline-block;
}
.selected-product .product-wrapper .product .selected-image{
	width: 100%;
	height: 200px;	
}
#product-description{
	margin-left: 20px;
	display:inline-block;
	padding: 0;
}
#descripton-title{
	display:inline-block;
	margin: 0;
	padding: 0;
}
#description{
	padding: 0;
	margin-top: 35px;
}
h2,
h3{
	color:#5f5f5f;
	margin: 0 ;
	padding: 8px;
	
}
.description-summary{
	position: absolute;
	top: 86px;
    margin-left:30px;
	display: inline-block;
}
.description-summary #summary-title{
	color: #5f5f5f;
	margin-bottom: 0;
}
#form-label,
#form-label-price,
#form-label-total{
	color: #5f5f5f;
	margin:10px;
	font-weight: bold;
	display: inline-block;
	line-height: 0.7;
}
#form-label-price #productPrice,
#productTotal, 
#shippingCost {
	display: inline-block;
	padding: 0;
	margin:0;
}
.text-input {
	padding: 8px;
	width: 20%;
	color: #444;
	line-height: 20px;
	margin: 0 auto;
}
.buy-btn{
	background-color: #f79521;
	color: white;
	width: 35%;
	height: 35px;
	border: none;
	font-weight: bold;
	border-radius: 14px;
	margin-left: 10px;
}
.related-product .related-product-title{
	text-align: center;
	margin: 15 auto;
	color:#5f5f5f;
}
.related-product .related-wrapper{
	width: 86%;
	height: 300px;
	margin: auto;
	padding: 10px 0;
}
.related-product .related-wrapper .similar-products{
	width: 30%;
	height: 230px;
	margin: 0 10px;
	display: inline-block;
	background:white;
}
.related-product .related-wrapper .similar-products .related-image{
	width: 100%;
	height: 180px;
}
.related-product .related-wrapper .similar-products .related-infor{
	text-align: center;
	font-weight: bold;
	color:#5f5f5f;
}
/**Footer**/
.footer{
	background-color: #69629f;
	padding: 10px;
}
.footer-content{
	width: 100%;
	height: 150px;
	background-color: #69629f;
	color: white;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}
.footer .footer-section a{
	color: white;
	text-decoration: none;
	list-style-type: none;
}
.footer .footer-section ul{
	list-style-type: none;
}
.footer .footer-content .footer-section .footer-email{
    width: 170px;
	border-radius: 5px;
	padding: 8px;
	border: none;
}
.footer .footer-content .footer-section .footer-button{
    background-color: white;
	color: #69629f;
	font-weight: bold;
    width: 100px;
	padding: 5px;
	height: 32px;
	border: none;
}
.footer .footer-content .footer-section input[type="image"]{
  border-radius: 11px;
  margin: 8px;
}
.footer-copyright{
  background:#69629f;
  color: white;
  text-align: center;
}
.error-block {
	color: red;
	font-size: 14px;
	
}
.footer-error-block{
	display: inline-block;
	color: red;
	font-size: 14px;
	margin-left:0;
	
}
/**MEDIA QUERIES**/
@media screen and (max-width: 1300px){
	header ul li a{
	font-size: 16px;
}
ul .nav{
	margin-left: 40px;
	padding:0;
	list-style: none;
}
}
/**MEDIA QUERIES FOR content**/
@media screen and (max-width: 1300px){
	.related-product{
		height: 540px;
}
	.selected-product .product-wrapper{
	height: 390px;
}
  .selected-product .product-wrapper .product{
	width: 50%;
}
.description-summary #summary-title{
	margin-top: 10px;
	font-size: 20px;
}
.related-product .related-product-title{
	font-size: 23px;
}
#descripton-title{
	font-size: 15px;
}
#description{
	font-style: 10px;
	margin-top: 12px;
}
.related-product .related-wrapper .similar-products{
	width: 45%;
	height: 200px;
	margin:20px 10px;
}
.related-product .related-wrapper .similar-products .related-image{
	height: 150px;
}
}
@media screen and (max-width: 1300px){
  .footer{
  	  height: 40vh;
  }
  .footer .footer-content .footer-section.newslatter{ 
    width: 100%;	
  }
   .footer .footer-content .footer-section.newslatter p{
  text-align: right;
  margin-right:80px;
  padding-right: 40px;
}
.footer .footer-content .footer-section input[type="image"]{
   float: right;
   width: 60px;
   height: 40px;
   margin: 4px;
   border:1px solid #69629f;
}
/**Media queries for mobile**/
@media screen and (max-width: 425px){
	.related-product{
		height: 880px;
}
.selected-product .product-wrapper .product .selected-image{
  width: 80%;
  height: 200px;
}
}
@media screen and (max-width: 425px){
 header{
	background-color: #69629f;
	height: 44px;
}
  header .logo{
	margin-left: 10px;
}
  header .logo-text{
	font-size: 20px;
}	
  header ul li a{
	padding: 0;
	font-size: 16px;	
}
}
/**Media queries for content mobile**/
@media screen and (max-width: 425px){
	.selected-product .product-wrapper{
	height: 700px;
}
 .selected-product .product-wrapper .product{
	width: 100%;
	margin-left: 35px;
}
.description-summary #summary-title{
font-size: 17px;
}
.buy-btn{
	width: 30%;
	height: 30px;
	margin-bottom: 20px;
	border-radius: 7px;
}
#form-label{
	font-size: 14px;
	line-height: 0.5;
}
.text-input {
	line-height: 10px;
}
.description-summary{
	position: relative;
	top: 5px;
    margin-left:30px;
}
#product-description #descripton-title{
	font-size: 13px;
	margin-left: 20px;
}

#description{
	font-size: 12px;
	padding: 10px;
	margin: 0 0 12px 0;
	background-color: white;
}
.related-product{
	margin-top: 30px;
}
.related-product .related-wrapper .similar-products{
	width: 90%;
	
}
.related-product .related-product-title{
	font-size: 20px;
}
}
@media screen and (max-width: 425px){
 .footer{
	height:auto;
}
.footer .footer-content{
	height: auto;
	flex-direction: column;
	padding-bottom: 15px;
	margin-top: 2px;	
 }
 .footer .footer-content .footer-section input[type="image"]{
  border-radius: 11px;
  margin: 3px;
}
.footer .footer-copyright{
  font-size: 15px;
}
}
@media screen and (max-width: 425px){
header ul {
	width: 100%;
	background-color:#69629f;
	margin-top: 0px;
}
header ul li{
width: 100%;
}
header .logo{
	padding-left: 20px;
}
header ul li a{
	padding-top: 1px;
}
}

