*{
	box-sizing: border-box;
}

html, body{
	height:100%;
	padding: 0;
	margin: 0;
	background: #f6f6f6;
	font-family: 'Poppins', sans-serif;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.text-input {
	padding: .6rem;
	display: block;
	width: 90%;
	border-radius: 5px;
	border:1px solid #e0e0e0;
	outline: none;
	color: #444;
	line-height: 1.5rem;
	margin: 0 auto;
}

#form-label{
padding-left: 25px;
}	

a{
	text-decoration: none;
}

header{
	background-color: #69629f;
	height: 66px;	
}

header *{
	color: white;
}

header .logo{
	float: left;
	height: inherit;
	margin-left: 2em;	
}

header .logo-text{
	margin: 9px;
}

header ul {
	float: right;
	margin: 0px
	padding:0px;
	list-style: none;	
}

header ul li{
	float: left;
	
}
header ul li a{
	display: block;
	padding: 21px;
	text-decoration: none;
}

header ul li a:hover {
	background-color: #5e578e;
	transition: 0.5s;
}
.page-wrapper{
	min-height: 100%;	
}

/**--Content--**/
.content{
	width: 90%;
	margin: 10px auto 30px;
}
.content .main-content{
	width: 58%;
	float: left;	
}
.content .main-content .registration-title{
   font-size: 48px; 
   color: #69629f;
   padding-top: 140px;
   width: 50%;
   margin: 0 auto;
}

.content .main-content .section-one{
	width: 50%;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 25px;
	color: grey;
}
.content .main-content .section-one .reg-wording{
  width: 130%;
}
.content .main-content .section-one .reg-wording a{
  font-weight: bold;
}
/**Sidebar styles**/
.content .sidebar {
	width: 30%;
	float: left;
	border: 1px solid grey;
	border-radius: 10px;	
}

.content .sidebar .section {
	padding: 20px;
	border-radius: 5px;
    margin-bottom: 20px;
}	

.btn{
	width: 50%;
	margin: 0 auto;
	background-color: #69629f;
	color: #fff;
	font-weight: bold;
	padding: .7rem 1rem;
	border-radius: 5px;
	display: block;
	margin: auto;
	border: none;
	margin-bottom: 10px;	
}

#terms{
	color: #69629f;
	display: block;
	padding-top: 15px;
	text-align: center;
}

/**Footer**/

.footer{
	background-color: #69629f;
	padding: 10px;
}
.footer-content{
	width: 100%;
	height: 150px;
	background-color: #69629f;
	color: white;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}

.footer .footer-section a{
	color: white;
	list-style-type: none;
}

.footer .footer-section ul{
	list-style-type: none;
}

.footer .footer-content .footer-section input[type="emailaddress"]{
    width: 170px;
	border-radius: 5px;
	padding: 8px;
	border: none;
}
.footer .footer-content .footer-section input[type="button"]{
    background-color: white;
	color: #69629f;
	font-weight: bold;
    width: 100px;
	padding: 5px;
	height: 32px;
	border: none;
}
.footer .footer-content .footer-section input[type="image"]{
  border-radius: 11px;
  margin: 8px;

}
.footer-copyright{
  background:#69629f;
  color: white;
  text-align: center;
}
/** end of footer**/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #69629f;
  opacity: 1; /* Firefox */
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #69629f;
  }
::-ms-input-placeholder { /* Microsoft Edge */
  color: #69629f;
}
}
/**Media queries for tablet**/

@media screen and (max-width: 1300px){

	header ul li a{
	font-size: 16px;
}

ul .nav{
	margin-left: 40px;
	background: yellow;
	padding:0;
	list-style: none;
}
}
@media screen and (max-width: 1300px){
  .content{
   width: 100%;
  }
  .content .main-content{
	width: 100%;
	padding: 10px;
  }
  .content .main-content .section-one{
    width: 100%;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	padding-right: 165px;
}
   .content .main-content .registration-title{
    font-size: 30px; 
    color: #69629f;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 1px;
    text-align: center;
}
.content .sidebar {
	width: 90%;
	margin-left: 40px;
}

.btn{
	
	padding: .5rem 1rem;
	margin-top: 10px;
	width: 30%;
	margin-bottom: 10px;
}
}

@media screen and (max-width: 1300px){
  .footer{
  	  height: 40vh;
  }

  .footer .footer-content .footer-section.newslatter{ 
    width: 100%;	
  }
   .footer .footer-content .footer-section.newslatter p{
  text-align: right;
  margin-right:80px;
  padding-right: 40px;
}
.footer .footer-content .footer-section input[type="image"]{
   float: right;
   width: 60px;
   height: 40px;
   margin: 4px;
   border:1px solid #69629f ;
}
/**Media queries for mobile**/
@media screen and (max-width: 425px){
.text-input {
	padding: .3rem 1rem;
	display: block;
	border-radius: 5px;
	border:1px solid #e0e0e0;
	outline: none;
	color: #444;
	line-height: 1.1rem;
}
.btn{
	padding: .7rem 1rem;
	margin-top: 10px;
}
#terms{
	font-size: 12px;
	font-weight: bold;

}
label {
	font-size: 13px;
}
}

@media screen and (max-width: 425px){
 
 header{
	background-color: #69629f;
	height: 44px;
}

  header .logo{
	margin-left: 10px;
}
  header .logo-text{
	font-size: 20px;
}	

  header ul li a{
	padding: 0;
	font-size: 16px;	
}
}

@media screen and (max-width: 425px){
  .content{
   /**width: 100%;**/
  }
  .content .main-content{
	/**width: 100%;**/
	padding: 20px;
  }
  .content .main-content .section-one{
    /**width: 100%;**/
    font-size: 13px;
	/**line-height: 0.5cm;**/
	padding-left:20px;
	padding-right:80px;
	text-align: center;
	margin: auto;
}
.content .main-content .section-one p{
    width: 100%;
	text-align: center;
}
    .content .main-content .registration-title{
    font-size: 20px; 
    color: #69629f;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 1px;
    text-align: center;
}
.content .sidebar {
	width: 90%;
	margin-left: 20px;
}
 .footer{
	height:auto;
}
.footer .footer-content{
	height: auto;
	flex-direction: column;
	padding-bottom: 15px;
	margin-top: 2px;	
 }
 .footer .footer-content .footer-section input[type="image"]{
  border-radius: 11px;
  margin: 3px;

}
.footer .footer-copyright{
  font-size: 15px;
}
}
@media screen and (max-width: 425px){
header ul {
	width: 100%;
	background-color:#69629f;
	margin-top: 0px;
}

header ul li{
width: 100%;
}
header .logo{
	padding-left: 20px;
}

header ul li a{
	padding-top: 1px;
}
}





