*{
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	}
/* ******HEADER SECTION****** */
/*.nav-wrapper,
.content-wrapper{
	display: grid;
	grid-template-columns:1fr 1fr;
}*/
.nav-wrapper{
	background:#26323D;
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 10px;
}
img{
	/*padding: 10px auto;*/
	margin-left: 5px;	
}
ul{
	list-style: none;
}
nav li{
	float: left;	
}
nav a{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	margin-right: 85px;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
}
nav a:hover,
.reg-info p a:hover{
	color: yellow;
}
/* ******MAIN SECTION****** */
.content-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	margin-left: 40px;
	padding:auto;
	margin:auto;
	height: 700px;
}
.msg-form{
	justify-content: center;
	align-items: left;
	height: 200px;
	width: 550px;
	margin-left: 50px;
	padding-top:50px;	
	margin-right: 80px;
}
form img{
	margin-left: 220px;
	padding-top: 20px; 
}
form h4{
	text-align: center;
}
.msg-form form input,
.msg-form form label,
.msg-form form textarea{
	margin-left: 25px;
	margin-bottom: 20px;
	margin-top: 10px;
}
textarea{
	display: block;
	width: 90%;
	overflow: hidden;
	resize: both;
	min-height: 100px;
	line-height: 20px;
	border: 2px solid black;
}
.msg-form form input{
	width: 90%;
	height: 30px;
	border: none;
	border-bottom: 2px solid black;
}
form button{
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px;
	background-color:#26323D;
	border-radius: 10px;
	width: 120px;
	height: 40px;
	margin-left: 170px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
.connect{
	padding-top: 50px;
}
.contact li,
.mail p{
	margin-left: 180px;
}
.contact img,
.mail img{
	margin-left: 250px;
}
.connect h4{
	text-align: center;
	
}
.social{
	margin-left: 30px;
}
.social img{
 	width: 50px;
	height: 40px;
	float:left;
	align-items: center;
	padding-left:-10px; 
	margin-left: 60px;
	
}

/* ******FOOTER SECTION****** */
.footer-wrap{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	background-color: #26323D;
	color: white;
	margin: auto;
	clear:all;
}
.footer-wrap li{
	line-height: 1.8em;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}
.footer-wrap a{
	color: white;
}
.footer-wrap a:hover{
	color: yellow;
}
.news-mail h3{
	letter-spacing: 1px;
	opacity: 0.5;
}
.news-mail input{
	width: 220px;
	height: 30px;
	border: 0px;
	padding: 10px;
	font-size: 15px;
	opacity: 0.5			
}
.news-mail button{
	height: 33px;
	width: 85px;
	color: blue;
	font-weight: bold;
	opacity: 0.5
}
.social-connect li img{
	display: inline-grid;
	float: left;
}
.social-connect h3{
	text-align: center;
	opacity: 0.5;
}
.social-connect img{
	width: 40px;
	height: 30px;
	margin-left:40px;
	margin-right: auto;
	opacity: 0.5
}
.footer-wrap p{
	grid-column: 1/-1;
	color: yellow;
	text-align: center;
}
media screen and max-width: 800px){
	.content-wrapper{
	justify-content:center;
		padding-left: 140px
			}
	.reg-info{
	margin: 10px 0;
	float: none;
	font-stretch: normal;
	}
	.reg-info p{
		padding-left: 0;
		text-align: center;
	}
	.reg-info p{
		letter-spacing: normal;
		font-size: 18px
	}
	.sign-up-form{
	float none;
	width: 500px;
}
	form input{
		width: 500px;
	}
	.news-mail input{
		width: 180px;
	}
	.news-mail button{
		width: 80px;
	}
	.social-connect img{
	width: 40px;
	height: 30px;
	margin-left:10px;
	margin-right: auto;
  }
}
@media screen and (max-width: 640px){
	/****header navigation ****/
	.nav-wrapper{
		display grid;
		grid-row: 170px 20px;
		align-items: : center;
		justify-content: center;
		}
		img{
			margin-left:30%;
			justify-content: space-around;
		}
		/****main content ****/
.content-wrapper{
	grid-template-columns: none;
	padding: 0;
	marg: 0;
	height: 1100px;
	overflow: hidden;
}
/*.connect{
	margin: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	height: 400px
}
.connect{
	padding-top: 50px;
}*/
.contact li,
.mail p{
	margin-left: 230px;
}
.contact img,
.mail img{
	margin-left: 330px;
}
.social{
	margin-left: 20px;
}
.social img{
 	padding-left: -60px
	margin-left: 140px
	margin-right: -100px
}
.msg-form{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 0;
	height: 500px;
	padding-right:-30px;
	padding-left: 50px;
		
}
.msg-form form input,
.msg-form form label,
.msg-form form textarea{
	margin: 10px 30px 10px 10px;
	p
}

/****footer navigation ****/
	.footer-wrap{
		grid-template-columns: 1f 1fr;
	}
	.footer-nav{
		grid-row: span 2;
	}
	.social-connect h3{
		text-align: left
	}	
		.social-connect img{
		margin-left:-40px;
	  margin-right:50px 
		}
		.reg-info h1,
		.reg-info p{
			text-align: center;
		}
}
/****when maximum view width is360px ****/
@media screen and (max-width: 360px){
	/****header navigation ****/
		.nav-wrapper{
		display: grid-table;
		/*grid-row: 170px 50px;*/
		align-items: : left;
		justify-content: left;
		padding: 10px 5px;
		}
		img{
			margin-left:5%;
			justify-content: space-around;
		}
	nav lifloat: none;
	}
	/****main content ****/
	.contact li,
	.mail p{
		margin-left: 100px;
	}
.contact img,
.mail img{
	margin-left: 200px;
}
.social{
	margin-left: 20px;
}
.social img{ 
	margin-left: 40px;
	margin-right: -20px;
}
-form{
	width: 350px;
	margin-left: 20px;
	padding-top:0;	
	margin-right: 50px;
}
form img{
	margin-left: 120px;
	
.msg-form form input{
	width: 90%;
	height: 30px;
	border: none;
	border-bottom: 2px solid black;
}
form button
		margin-left: 70px;
	}
	/****footer navigation ****/
	.footer-wrap{
			padding-left: 30px;
	}
	.footer-nav,
	.news-mail,
	.social-connect{
		grid-column: 1/-1;
	
	.news-mail h3,
	.social-connect h3{
		text-align: left;		
	}
	.social-connect img
		margin-left:-5px;
		margin-right: 20px
	}
	.footer-wrap ul{
		margin-left: -30px;
	}
	.footer-wrap p{
		margin-left:-7px
	}
}
