body,html{
	margin:0;
	padding: 0;
	border:0;
}
*{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
.product-1, .product-2, .product-3{
    margin-top:0;
    background:white;
    padding-left:1rem;
    padding-top:2rem;
    text-align:center;
    padding-bottom: 1rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
}
.display-box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:0.22rem;
}
.display-image{
    text-align:center;
    padding-top:2rem;
    padding-bottom:1rem;
}
button{
    background:orange;
    color:white;
    padding:10px 30px 10px 30px;
    border-radius:14px;
    border:1px solid orange;
    font-weight: bolder;
    text-transform: uppercase;
}
.sub-text{
    text-align:left;
    margin-left:4.5rem;
}
.display-text{
    text-align:left;
    padding-left:2rem;
    margin-left:2rem;
    padding-top:2rem;
}
.image-bg{
    background:rgb(248, 246, 246);
    padding-bottom: 2rem;
    padding-top:2rem;
    padding-top:2rem;
    margin-right:0.11rem;
    margin-left:0.11rem;
}
input[type=text]{
    border-radius:2px;
    padding:0.22rem;
    width:50px;
    padding-left:10px;
    margin-left:10px;
    font-size:14px;
}
.header {
	display:block;
	background:orange;
    }
    .container-2{
        display:inline-block;
        flex-basis: 100%;
    }
    .image-box{
        display:grid;
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: auto;
        column-gap:10px;
    }
    .image-text{
        text-align: center;
    }
    nav {
	padding-top:2px;
	padding-bottom:2px;
	padding-left: 0;
	clear:auto;
    }
    nav li{
	padding-right:35px;
	padding-left:35px;
	color:white;
	font-size: 18px;
	display: inline;
	float:right;
    }
    nav li:hover{
    	color:black;
    }
    nav a {
	color:white;
	text-decoration: none;
	font-size:22px;
	padding-top:0;
	padding-bottom:5px;
}
.footer{
	margin-bottom:0;
	background:orange;
	padding:10px;
}
.footer a{
	text-decoration: none;
	color:white;
}
.footer{
	display: flex;
	flex-direction: row;
	padding-top:2rem;
}
.footer li{
	color:white;
    font-weight: bolder;
    font-size:18px;
}
.footer-bottom{
	background: orange;
	text-align: center;
	color:white;
}
.footer button{
	color:orange;
	padding-top:3px;
	padding-left:5px;
	padding-right: 5px;
}
.footer li a:hover{
	color:black;
}
li{
	list-style-type: none;
	margin: 0;
	padding: 0;
    }
    
    @media only screen and (max-width:760px){
        .nav li{
            display: flex;
            flex-direction: column;
            float:none;
            color:white;
            padding-left:0;
            margin-left:0;
        }
        .pp{
            display:flex;
            flex-direction: column;
            text-align:center;
        }
        .d-box{
            display:flex;
            flex-direction: column;
        }
    }
    @media only screen and (max-width:768px),only screen and(min-width:768px){
        .cont-1{
            flex-direction: column;
            margin-top:0;
            padding-top: 0;
            margin-bottom: 5rem;
        }
        .container-2 div{
            flex-direction: column;
            justify-content: flex-start;
        }
         .foot-1 div,.foot-2 div, .foot-3 div{
             padding-top:5px;
             padding-bottom:10px;
         }
        }
        @media only screen and (min-width:768px){
            .product-grid{
                display:grid;
                grid-template-columns: repeat(2, auto);
            }
            .select-2{
                display: grid;
                    bottom: 0;
                    width: 100%;
                    grid-template-columns:1fr 1fr;
                    grid-template-rows: auto;
                    grid-template-areas:
                    "foot-1  foot-2"
                    "foot-1 foot-3";  
            }
            .foot-1{
                grid-area: foot-1;
            }
            .foot-2{
                grid-area: foot-2;
            }
            .foot-3{
                grid-area: foot-3;
            }
            .text-1{
                display:flex;
                flex-direction:column;
            }
            }
            @media only screen and (min-width:992px){
                .select-1{
                    display:flex;
                    flex-direction:row;
                    margin-bottom:2rem;
                }
                .footer-item{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-top:20px;
                    margin-bottom:30px;
                    padding-left:10px;
                    padding-right:10px;
                    font-size:20px;
                    font-weight:lighter;
                }
                .photo-grid{
                    display:grid;
                    grid-template-columns: repeat(3, auto);
                }
            }
        