body,html{
	margin:0;
	padding: 0;
	border:0;
}
*{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
.box-1{
	flex:1;
}
.box-2{
	flex:1;
}
.box-3{
	flex:1;
	padding-left:5rem;
}
.box-3 label{
	display: inline-block;
	text-align: right;
	float:left;
}
.box-3 input[type=text], input[type=email], input[type=number],input[type=password]{
	display: block;
}
.input-1{
	float:left;
	margin-top:0;
	padding-left:6rem;
	margin-bottom:0;
	padding-bottom: 0;
}
#btn{
	color:orange;
}
.box-1 h1{
	color:orange;
	font-size: 40px;
}
.container-1{
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	margin-top: 2rem;
}
.container-1 div{
	padding-top:1rem;
	flex-basis: 100%;
	text-align:center;	
}
.container-2{
	display:inline-block;
	flex-basis: 100%;
}
.footer a{
	text-decoration: none;
	color:white;
}
.footer{
	display: flex;
	flex-direction: row;
	padding-top:2rem;
	margin-bottom:0;
	background:orange;
}
.footer li{
	color:white;
	font-weight: bolder;
}
.footer-bottom{
	background: orange; 
	text-align: center;
	color:white
}
.footer button{
	color:orange;
	padding-top:3px;
	padding-left:5px;
	padding-right: 5px;
}
.footer li a:hover{
	color:black;
}
.fieldset{
	border-radius:10px;
	padding-left: 3em;
	padding-top:0.55rem;
}
input[type=text]{
    	width:90%;
    	box-sizing: border-box;
    	border-radius:5px;
    	padding:10px;
    }
    input[type=password]{
    	width:90%;
    	box-sizing: border-box;
    	border-radius:5px;
    	padding:10px;
    }
    input[type=email], input[type=number]{
    	width:90%;
    	box-sizing: border-box;
    	border-radius:5px;
    	padding:10px;
    }
    #btnn{
    	box-sizing: border-box;
    	padding-left:40px;
    	padding-right:30px;
    	padding-top:5px;
    	padding-bottom: 5px;
    	margin-top: 13px;
    	color:white;
    	background:orange;
    	border:orange;
		margin-left:2rem;
    }
    li{
	list-style-type: none;
	margin: 0;
	padding: 0;
    }
    .header {
	display:block;
	background:orange;
    }
    nav {
	padding-top:2px;
	padding-bottom:2px;
	padding-left: 0;
	clear:auto;
    }
    nav li{
	padding-right:35px;
	padding-left:35px;
	color:white;
	font-size: 18px;
	display: inline;
	float:right;
    }
    nav li:hover{
    	color:black;
    }
    nav a {
	color:white;
	text-decoration: none;
	font-size:22px;
	padding-top:0;
	padding-bottom:5px;
    }
    #agree{
	color:orange;
     }
/************************************************************************/
/*******************************MEDIA BREAKPOINTS*****************/
@media only screen and (max-width:760px){
	.nav li{
		display: flex;
		flex-direction: column;
		float:none;
		color:white;
		padding-left:0;
		margin-left:0;
	}
}
@media only screen and (max-width:768px),only screen and(min-width:768px){
	.cont-1{
		flex-direction: column;
		margin-top:0;
		padding-top: 0;
		margin-bottom: 5rem;
	}

.input-button{
	padding-left:1rem;
}
	.container-2 div{
		flex-direction: column;
		justify-content: flex-start;
	}

	.box-3 div{
		margin-bottom: 4rem;
		margin-right:0.55rem;
	}
	.box-1 div{
		margin-top:3rem;
	}  
     .foot-1 div,.foot-2 div, .foot-3 div{
     	padding-top:5px;
     	padding-bottom:10px;
     }
    fieldset {
    	min-width: auto;
    	padding-right:1rem;
    }
	}
	@media only screen and (min-width:768px){
	.select-2{
		display: grid;
			bottom: 0;
			width: 100%;
			grid-template-columns:1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas:
			"foot-1  foot-2"
			"foot-1 foot-3";  
	}
	.foot-1{
		grid-area: foot-1;
	}
	.foot-2{
		grid-area: foot-2;
	}
	.foot-3{
		grid-area: foot-3;
	}
	.text-1{
		display:flex;
		flex-direction:column;
	}
	}
	@media only screen and (min-width:992px){
		.select-1{
			display:flex;
			flex-direction:row;
		}
		.footer-item{
			display:flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			margin-top:30px;
			margin-bottom:30px;
			padding-left:10px;
			padding-right:10px;
			font-size:20px;
			font-weight:lighter;
		}
		
	}

	
