body,html{
	margin:0;
	padding: 0;
	border:0;
}
*{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
.box-1{
	flex:1;
}
.box-2{
	flex:1;
}
.box-3{
	flex:1;
	padding-left:5rem;
}
.box-3 label{
	display: inline-block;
	text-align: right;
	float:left;

}
.box-3 input[type=text], input[type=email], input[type=number],input[type=password]{
	display: block;
}
.input-1{
	float:left;
	margin-top:0;
	padding-left:6rem;
	margin-bottom:0;
	padding-bottom: 0;
}
#btnn{
	margin-left:2rem;
}
#btn{
	color:orange;
}
.box-1 h1{
	color:orange;
	font-size: 40px;
}
.container-1{
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	margin-top: 2rem;
	height:70vh;
}
.container-1 div{
	padding-top:1rem;
	flex-basis: 25%;
	text-align:center;
	height:50vh;
}
.container-1{
	margin-bottom:13rem;
	padding-bottom: 10rem;
	padding-top: 3rem;
	padding-right:1rem;
	padding-left:1rem;
	margin-top:3rem;
}
.container-2{
	display:inline-block;
	flex-basis: 100%;
}
.footer{
	margin-bottom:0;
	background:orange;
	padding:10px;
}
.footer a{
	text-decoration: none;
	color:white;
}
.footer{
	display: flex;
	flex-direction: row;
	padding-top:2rem;
	height:5vh;
}
.footer li{
	color:white;
	font-weight: bolder;
}
.footer-bottom{
	background: orange; 
	text-align: center;
	color:white
}
.footer button{
	color:orange;
	padding-top:3px;
	padding-left:5px;
	padding-right: 5px;
}
.footer li a:hover{
	color:black;
}
.foot-1{
	flex:1;
}
.foot-2{
	flex:1;
}
.foot-3{
	flex:1;
}
fieldset{
	border-radius:10px;
	padding-left: 3em;
	padding-top:0.55rem;
	height:119%;
}

input[type=text]{
    	width:90%;
    	box-sizing: border-box;
    	border-radius:5px;
    	padding:10px 10px;
    }
    input[type=password]{
    	width:90%;
    	box-sizing: border-box;
    	border-radius:5px;
    	padding:10px 10px;
    }
    input[type=email], input[type=number]{
    	width:90%;
    	box-sizing: border-box;
    	border-radius:5px;
    	padding:10px 10px;
    }
    #btnn{
    	box-sizing: border-box;
    	padding-left:40px;
    	padding-right:30px;
    	padding-top:5px;
    	padding-bottom: 5px;
    	margin-top: 13px;
    	color:white;
    	background:orange;
    	border:orange;
    	margin-left:2rem;
    }
    li{
	list-style-type: none;
	margin: 0;
	padding: 0;
    }
    .header {
	display:block;
	background:orange;
    }
    nav {
	/*padding:25px 35px;*/
	padding-top:2px;
	padding-bottom:2px;
	padding-left: 0;
	clear:auto;
    }

    nav li{
	padding-right:35px;
	padding-left:35px;
	color:white;
	font-size: 18px;
	display: inline;
	float:right;
    }
    nav li:hover{
    	color:black;
    }
    nav a {
	color:white;
	text-decoration: none;
	font-size:22px;
	padding-top:0;
	padding-bottom:5px;
}
#agree{
	color:orange;
}
/************************************************************************/
/*******************************MEDIA BREAKPOINTS*****************/
@media only screen and (max-width:768px){
	.container-1{
		flex-direction: column;
		height:90vh;
		margin-top:0;
		padding-top: 0;
		margin-bottom: 5rem;
	}
.header li{
	display: flex;
}
.input-1{
	padding-left:1rem;
}
nav li{
	display: flex;
	flex-direction: column;
	float:none;
	color:white;
	padding-left:0;
	margin-left:0;
}
	.container-2{
		flex-direction: column;
		justify-content: flex-start;
	}
	.footer{
		height:25vh;

	}
	.box-3{
		margin-bottom: 4rem;
	}
	.box-1{
		margin-top:3rem;
	}  
     .foot-1,.foot-2, .foot-3{
     	padding-top:5px;
     	padding-bottom:10px;
     }
    
    fieldset{
    	min-width: auto;
    	height:134%;
    	padding-right:1rem;
    }
    .box-3{
    	margin-right:0.55rem;
    }
    }

@media only screen and (min-width:768px){

	.container-1{
		flex-direction:column;
         flex-wrap:nowrap;
		height:100vh;
		margin-top:0;
		padding-top: 0;
	}
	.header ul li{
		flex-direction: column;
}
.footer{
	flex-wrap: wrap;
	height:24vh;
}
.container-2{
	display: grid;
        bottom: 0;
        width: 100%;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
                "foot-1  foot-2"
                "foot-1 foot-3";  
}
.foot-1{
	grid-area: foot-1;
}
.foot-2{
	grid-area: foot-2;

}
.foot-3{
	grid-area: foot-3;
}

fieldset{
	margin-left:23px;
	height:138%;
}
}
@media only screen and (min-width: 992px){
	.container-1{
		flex-direction:row;
		flex-wrap:nowrap;
		height:35vh;
		margin-top:0;
		padding-top: 2rem;
	}
	.footer{
		flex-direction: column;
	}
	.container-2{
	display:flex;
	flex-direction:row;
}
.foot-3 li{
	padding-left:2rem;
	padding-right:2rem;
}
.foot-2 li{
	font-size:18px;
	padding-left:2rem;
}
.foot-1 li{
	font-size:18px;
	padding-left: 2rem
}
fieldset{
	height:125%;
}
}
