*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	margin: 0 auto;
	font-size: 16px;
	padding: 0;
	height: 120vh;

}
.error-block{
	font-size: 10px;
	color: red;
}
header img{
	height: 100px;
	float: left;
	padding-bottom: 20px;
	margin-top: 0;
	margin-left: 30px;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #24305E;
	text-align: right;
}
nav li{
	display: inline-block;
	padding: 20px;
}
nav a{
	font-size: 15px;
	text-decoration: none;
	color:white;
}
span{
	color: #24305E;
	font-weight: bold;
}
.container{
	margin: 10px ;
}
.main{
	float: left;
	text-align: center;
	margin-top: 40px;
	margin-left: 0;
	padding-left: 0;
	line-height: 35px;
	word-spacing: 5px;
}
main h2{
	font-size: 1.3em;
}
.main ul{
	padding: 0;
}
.main li{
	display: inline;
	padding: 5px;
	margin-right: 5px;
}
.main ul li img{
	width: 30px;

}
.sidebar{
	height: 550px;
	width: 50%;
	float: right;
	font-size: 12px;
	margin-top: 20px;
	border:solid #24305E ;
	border-radius: 2px;
	margin-right: 60px;
	padding:20px;
}
.sidebar h2,
.icon{
	text-align: center;
}
.sidebar input[type=text],
.sidebar input[type=email]{
	background: transparent;
	border:none;
	border-bottom: 1px solid #000000;
	padding: 5px ;
	margin: 5px;
	width: 100%;
}
label{
	font-size: 15px;
}
textarea {
	width: 95%;
	padding-top: 30px;
	margin: 10px;
	padding-right: 30px;
}
main button{
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	margin-left: 420px;
	height: 30px;
	width: 130px;
	border-radius: 5px;
	background-color: #24305E;
	color: white;
}
footer{
	position: absolute;
	height: 21%;
	top: 670px;
	width: 100%;
	background-color: #24305E;
}
footer li{
	padding: 4px;
	list-style-type: none;
}

footer a{
	line-height: 1px;
	color: white;
	text-decoration: none;
}
.left-footer{
	float: left;
	margin-left: 5px;
}
.middle-footer{
	width: 40%;
	float: left;
	margin-left: 5px;
	padding-left: 50px;
	color: white;
}
footer input[type=email]{
	width: 70%;
}
footer input[type=email],
footer button {
	border-radius: 0;
	padding: 5px;
	margin-top: 0;
	margin-right: 2px;
}
.right-footer{
	width: 35%;
	float: right;
	color: white;
	margin-left: 5px;
}
.right-footer ul{
	padding: 0;
}
.right-footer li{
	display: inline;
	padding: 8px;
	margin-right: 5px;
}
.right-footer img{
	height: 30px;
}
.copyright{
	font-size: 15px;
	height: 30px;
	color: white;
	text-align: center;
}
.copyright p{
	margin-top: 50px;
	padding-right: 90px;
	padding-top: 50px;
}
@media screen and (max-width: 768px){
	body{
		height: 150vh;
	}
	main button{
		margin-left: 390px;
	}
	.main{
		width: 70%;
		line-height: 15px;
	}
	.sidebar{
		width: 80%;
		margin-top: 10px;
		margin-right: 80px;
		margin-left: 80px;
		height: 460px;
		padding: 7px 40px;
	}
	.sidebar h2{
	    letter-spacing: 2px;
	}
	textarea {
		padding-right: 85px;
		margin: 0;
}
	footer{
		height: 250px;
		top: 950px;
	}
	footer a{
		line-height: 3px;
	}
	.middle-footer{
		width: 50%;
		float: right;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.right-footer{
		width: 50%;
	}
	.right-footer li{
		padding: 5px;
		margin-left: 10px;
	}
	.right-footer img{
		height: 20px;
	}
	.copyright p{
		margin-top: 100px;
		padding-top: 120px;
	}
	footer button {
		padding: 2px;
		margin-left: 3px;
		margin-right: 1px;
	}
}


@media screen and (max-width: 360px){
	header img{
		margin: 10px;
		display: none;
	}
	nav ul{
		text-align:left;
	}
	nav li{
		display: inline-block;
		width: 50%;
	}
	main button{
		margin-left: 230px;
		width: 70px;
	}
	.main {
	    padding: 0;
	    line-height: 25px;
	    width: 100%;
	    font-size: 0.8em;
	}
	main img{
		width: 9%;
	}
	.sidebar{
		width: 100%;
		margin-right: 1px;
		margin-left: 1px;
		margin-top: 0;
		height: 450px;
		padding: 15px;
	}
	.sidebar h2{
		font-size: 1.1em;
		letter-spacing: 1px;
	}
	input[type=text], 
	input[type=email],
	input[type=password], 
	input[type=confirmpassword] {
   		 width: 100%;
	}
	input[type=checkbox] {
	    margin: 0 1px;
	}
	textarea{
		width: 100%;
	}
	footer{
		height: 49%;
		margin-top: 150px;
		border-top: 60px;
		padding-left: 25px;
		font-size: 0.8em;
	}
	footer button {
		padding: 5px;
	}
	
	.left-footer,
	.right-footer,
	.middle-footer{
		width: 100%;
	}
	.left-footer ul{
		padding-left: 0;
		margin-left: 0;
	}

	.right-footer li {
	    padding: 2px;
	    margin-left: 0;
	}
	.copyright p{
		padding-top: 150px;
		padding-right: 0;
		font-size: 12px;
	}

}