.app {
  background:lightsalmon;
  height: 20vh;
  padding: 40px;
  font: bolder 20px cursive, "cookie";
  }
  
  h1{
  color: white;
  margin-bottom: 30px;
  }
  
  .todo-header{
  margin-left: 400px;
  margin-top: 20px;    
  }
  
  .todo-create input{
  width: 495px;
  float: left;
  margin-right: 10px;
  padding: 6px;
  border-radius: 8px;
  font-size: 20px;
  }
  
  .todo-button button{
  padding: 6px;
  font-size: 20px;
  border-radius: 8px;
  width: 62px;
  background-color: rgb(202, 226, 241);
  }
  
  .todo-list {
  background: white;
  position: relative;
  width: 650px;
  margin-top: 45px;
  margin-left:350px;
  padding: 20px;
  }
  
  .todo {
  align-items: center;
  background: palegoldenrod;
  border-radius: 8px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 15px;
  padding: 9px 20px;
  }
  
  .todo-footer{
  margin-left:400px;
  width: 590px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  }
  
  .todo-footer p{
  display: inline-block;
  padding: 5px;
  }
  
  .todo-middle-footer p:nth-child(1){
  color: blue;
  }
  
  .todo-middle-footer p:nth-child(2){
  color: red;
  }
  
  .todo-middle-footer p:nth-child(3){
  color: green;
  }
  
  .todo-right-footer p{
  color: red;
  }
  
  input [type=checkbox]{
  display: inline-block;
  width: 25px;
  }
  
  .hide-display{
  display: none;
  }
  
  .container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  }
  
  .container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  }
  
  .checkmark {
  position: absolute;
  left: 10px;
  height: 18px;
  width: 18px;
  background-color: blanchedalmond;
  border:3px red solid;
  border-radius: 4px;
  }
  
  .container input:checked ~ .checkmark {
  border:3px green solid;
  }
  
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  
  .container input:checked ~ .checkmark:after {
  display: block;
  }
  
  .container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border:2px solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  @media screen and (max-width:320px)
  {
    .app{
    height: 80px;
    width: 300px;
    font: 10px  "cookie";
    padding: 1px;
    }
  
    h1{
    color: white;
    margin: 1px;
    padding: 10px;
    }
  
    .todo-header{
    margin-left: 1px;
    margin-top: 2px;
    }
  
    .todo-create input{
    width: 230px;
    float: left;
    margin-right: 1px;
    padding: 2px;
    margin-left: 10px;
    border-radius: 1px;
    font-size:  10px;
    border: powderblue;
    }
  
    .todo-button button{
    padding: 1px;
    font-size: 11px;
    border-radius: 1px;
    display: inline-block;
    width:30px;
    border: powderblue;
    }
  
    .todo-list {
    position:absolute;
    border-radius:1px;
    width: 290px;
    margin: 1px;
    margin-top: 25px;
    margin-left: 1px;
    padding: 1px;
    }
  
    .todo {
    border-radius: 10px;
    font-size: 10px;
    margin: 15px;
    padding: 5px 10px;
    }
  
    .todo-footer{
    margin-left:1px;
    margin-top: 275px;
    width: 300px;
    border-radius: 1px;
    }
  
    .todo-footer p {
    font-size: 10px;
    display: inline-block;
    }
  
    .todo-left-footer,
    .todo-right-footer {
    position: relative;
    top: -30px;
    width: 50%;
    }
  
    .todo-right-footer {
    width: 90%;
    }
  
    .todo-middle-footer{
    display: inline-flex;
    margin-left: -10px;
    width: 130%; 
    }
  
    input [type=checkbox]{
    display: inline-block;
    width: 25px;
    }
  
    .checkmark {
    position: absolute;
    left: 10px;
    height: 15px;
    width: 15px;
    }
  
    .container input:checked ~ .checkmark {
    border:3px green solid;
    }
  
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
  
    .container input:checked ~ .checkmark:after {
    display: block;
    
    }
  
    .container .checkmark:after {
    left: 1px;
    top: 1px;
    width: 5px;
    height: 7px;
    border:1px solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
  }