/* header */
header {
  background: #004b18;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
}
header .logo {
  width: 10em;
  margin-left: 0.2em;
}

header ul {
  list-style: none;
  margin-left: 0.2em;
}
header ul li {
  padding: 0.6em;
  margin-left: 2em;
}
header ul li a {
  text-decoration: none;
  color: white;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  header ul {
    display: flex;
    flex-direction: row;
  }
}
