.container {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}
.container .heading {
  margin-bottom: 1.5rem;
}
.container .heading a {
  color: #5f5f5f;
  font-size: 0.9em;
}
.container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.container table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.container table tr {
  display: block;
  margin-bottom: 0.625em;
}
.container table td {
  display: block;
  font-size: 0.8em;
  text-align: right;
  padding: 10px 15px 5px 10px;
}
.container table td:nth-child(even) {
  background: #cad7e6;
}
.container table td:nth-child(odd) {
  background-color: #f1f5f8;
}
.container table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
}
.container table td:last-child {
  border-bottom: 0;
}
.container table tr td a {
  text-decoration: none;
  background-color: #f58634;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .container table {
    table-layout: auto;
  }
  .container table tr {
    display: table-row;
  }
  .container table td {
    display: table-cell;
    text-align: center;
  }
  .container table td::before {
    content: '';
  }
  .container table thead {
    position: static;
  }
  .container table thead td {
    font-weight: bold;
    background: #cad7e6;
  }
}

@media only screen and (min-width: 1025px) {
  .container table td {
    font-size: 1em;
  }
}
