* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: rgba(225, 225, 217, 0.434);
}
nav {
  background: rgba(211, 210, 210, 0.577);
  height: 80px;
  width: 100%;
  cursor: pointer;
}
#logo {
  width: 100px;
  height: auto;
  display: inline;
  margin-top: 10px;
  border-radius: 50px;
}
a {
  color: rgba(34, 34, 34, 0.797);
}
label.logo {
  font-size: 2rem;
  line-height: 80px;
  padding: 0 1rem;
  font-weight: bold;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  color: rgba(238, 237, 237, 0.87);
  font-size: 20px;
  padding-right: 90px;
  text-transform: uppercase;
}
.container {
  margin-top: 40px;
  border: 1px solid gray;
  border-radius: 20px;
  margin-left: 45.2rem;
  margin-right: 0.5rem;
  margin-bottom: 50px;
}
.form {
  margin-top: 40px;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 40px;
  padding-top: 0;
}
.forminput {
  display: block;
  width: 550px;
  height: 36px;
  border-radius: 10px;
  border: 3px solid gray;
}
.error {
  color: rgb(163, 13, 13);
}
label {
  font-size: 18px;
}
.agreeContainer {
  text-align: center;
}
.box {
  margin-top: 0;
}
.signupbutton {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
#submitbtn {
  padding: 10px 60px;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.74);
  cursor: pointer;
}
section {
  position: absolute;
  top: 300px;
  right: 0;
  left: 9rem;
  margin-right: 55rem;
  margin-left: 0;
}

.registerContainer {
  font-size: x-large;
  color: rgba(0, 0, 0, 0.55);
}
.para {
  font-size: 20px;
}
footer {
  padding: 3px;
  width: 100%;
  height: 220px;
  background-color: rgba(187, 187, 187, 0.776);
  color: white;
}
.contact {
  position: absolute;
  line-height: 40px;
  padding-top: 20px;
  margin-left: 60px;
  font-size: x-large;
}
.newsletter {
  text-align: center;
  font-size: larger;
  margin-top: 20px;
  line-height: 40px;
}
#newsEmail {
  padding: 10px 60px;
}
#newsSubmit {
  padding: 10px 20px;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.74);
  cursor: pointer;
}
.copyRight {
  text-align: center;
  margin-top: 50px;
}
.media {
  display: flex;
  position: absolute;
  right: 30px;
}
#connect {
  color: rgba(0, 0, 0, 0.461);
  line-height: 100px;
}

#imglogo {
  position: absolute;
  right: 25rem;
  /*  margin-top: 0; */
}
.fb {
  left: 0;
  width: 20%;
  border-radius: 7px;
}
.tw {
  left: 40px;
  width: 21%;
  border-radius: 7px;
}
.gm {
  left: 80px;
  width: 26%;
  border-radius: 7px;
}
.yt {
  left: 130px;
  width: 26%;
  border-radius: 7px;
}

/* mediaQuary */
@media (max-width: 375px) {
  nav {
    background: rgba(211, 210, 210, 0.577);
    height: 130px;
    width: 100%;
    cursor: pointer;
  }
  #logo {
    width: 90px;
    height: auto;
    display: inline;
    margin-top: 0;
  }

  nav ul li {
    display: block;
    line-height: 5px;
    color: rgba(238, 237, 237, 0.87);
    font-size: 11px;
    top: 0;
    margin-top: 10px;
    margin-right: 180px;
    text-transform: uppercase;
  }
  .form {
    margin-top: 40px;
    margin-left: 2rem;
    margin-right: 4.5rem;
    margin-bottom: 40px;
    padding-top: 0;
  }

  .forminput {
    display: block;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid gray;
  }
  section {
    position: absolute;
    top: 140px;
    right: 14px;
    left: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
  .container {
    margin-top: 150px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 50px;
  }
  .registerContainer {
    text-align: center;
    font-size: large;
    color: rgba(0, 0, 0, 0.55);
  }
  .para {
    font-size: 15px;
  }
  #submitbtn {
    padding: 9px 20px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
  }
  footer {
    padding: 3px;
    width: 100%;
    height: 320px;
    background-color: rgba(187, 187, 187, 0.776);
    color: white;
  }
  .contact {
    position: absolute;
    line-height: 20px;
    padding-top: 20px;
    margin-left: 30px;
    font-size: 20px;
  }
  .newsletter {
    text-align: center;
    font-size: larger;
    margin-top: 90px;
    line-height: 40px;
  }
  #newsEmail {
    padding: 10px 40px;
  }
  #newsSubmit {
    padding: 10px 20px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
  }
  .copyRight {
    margin-top: 120px;
    text-align: center;
  }
  .media {
    display: flex;
    position: absolute;
    top: 63rem;
    right: 90px;
  }
  #connect {
    color: rgba(0, 0, 0, 0.461);
    line-height: 100px;
  }
}
