body {
  font-family: "montserrat", sans-serif;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #header {
    background-color: #0066f5;
    width: 784px;
    height: 70px;
    margin: 0;
    padding: 14.7px 33px 15px;
    text-decoration: none;
  }

  #logo {
    width: 67px;
    height: 27px;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.23;
    text-align: left;
    margin: 6.3px 235px 7px 0;
    text-decoration: none;
  }

  #product {
    width: 110px;
    height: 22px;
    margin: 12.3px 60px 9px 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  #contact {
    width: 88px;
    height: 19px;
    margin: 12.3px 40px 9px;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  #sign {
    width: 64px;
    height: 19px;
    margin: 12.3px 0 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  .prod {
    width: 250px;
    height: 300px;
    margin: 20px 30px;
    padding: 50px;
    border: 1px solid #5f5f5f;
  }

  .quantity {
    width: 50px;
    height: 30px;
  }

  .text1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #5f5f5f;
    padding-left: 20px;
  }

  .buy {
    width: 150px;
    height: 30px;
    background-color: #f79521;
    color: #ffffff;
    border-radius: 10px;
    border: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .child-grid {
    font-weight: bolder;
    font-size: 20px;
    margin-left: -100px;
    padding: 50px;
  }
  .desc {
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.2;
    color: #5f5f5f;
    text-transform: uppercase;
  }

  .desc2 {
    line-height: 1.39;
    font-size: 15px;
    color: #5f5f5f;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ebebeb;
  }

  .grid-item {
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    padding: 80px;
    margin-left: 50px;
  }
  .related-product {
    width: inherit;
    padding: 15px 0;
    background-color: #ebebeb;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    text-align: center;
  }

  .downdesc {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    background-color: #ffffff;
    text-align: center;
    height: 50px;
    width: 360px;
    margin-top: -10px;
    margin-left: 50px;
  }

  footer {
    width: 770px;
    height: 250px;
    background-color: #0066f5;
    padding: 40px;
    margin: -18px 0 0;
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-label {
    color: #ffffff;
  }

  .float-right {
    float: right;
  }
  .copy-right {
    color: #ffffff;
    padding-left: 150px;
  }
  .side {
    padding-left: 200px;
  }
  .up {
    width: 200px;
    height: 22px;
    margin: 4px 203px 5px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #fcf8f8;
    text-align: left;
  }

  #mid {
    width: 200px;
    height: 40px;
    float: right;
    color: #fcf8f8;
  }

  .right {
    padding-left: 20px;
  }

  .full-size {
    width: 760px;
  }

  #input-signup {
    width: 300px;
    height: 35px;
    margin: 13px 1px 0 0;
    line-height: 1.33;
    border: 1px solid #707070;
    text-align: left;
    color: #0066f5;
  }

  .submit {
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #0066f5;
    border: 1px solid inherit;
  }

  .connect {
    color: #ffffff;
    font-weight: bold;
    float: right;
  }

  .logos {
    width: 60px;
    height: 40px;
    padding-right: 10px;
  }
  .page {
    height: inherit;
    width: 850px;
    border: 1px solid grey;
    margin: auto;
  }
  .base {
    text-align: center;
  }
}

@media only screen and (min-width: 1224px) {
  #header {
    background-color: #0066f5;
    width: 1435px;
    height: 70px;
    margin: 0 0 67px;
    padding: 14.7px 33px 15px;
    text-decoration: none;
  }

  #logo {
    width: 67px;
    height: 27px;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.23;
    text-align: left;
    margin: 6.3px 900px 7px 0;
    text-decoration: none;
  }

  #product {
    width: 110px;
    height: 22px;
    margin: 12.3px 60px 9px 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  #contact {
    width: 88px;
    height: 19px;
    margin: 12.3px 40px 9px;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  #sign {
    width: 64px;
    height: 19px;
    margin: 12.3px 0 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  .prod {
    width: 300px;
    height: 350px;
    margin: 0 0 0 50px;
    padding: 50px 100px 80px;
    border: 1px solid #5f5f5f;
  }

  .quantity {
    width: 50px;
    height: 30px;
  }

  .text1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #5f5f5f;
    padding-left: 20px;
  }

  .buy {
    width: 150px;
    height: 50px;
    background-color: #f79521;
    color: #ffffff;
    border-radius: 10px;
    border: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .child-grid {
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;
    padding: 50px;
    margin-left: -150px;
  }

  .desc {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bolder;
  }
  .desc2 {
    line-height: 1.39;
    font-size: 25px;
    color: #5f5f5f;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ebebeb;
  }

  .grid-item {
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    padding: 80px;
    margin-left: 50px;
  }

  .downdesc {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    background-color: #ffffff;
    text-align: center;
    height: 50px;
    width: 360px;
    margin-top: -10px;
    margin-left: 50px;
  }
  footer {
    width: 1420px;
    height: 200px;
    background-color: #0066f5;
    padding: 40px;
    margin: -18px 0 0;
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-label {
    color: #ffffff;
  }

  .copy-right {
    color: #ffffff;
    padding-left: 500px;
  }

  .full-size {
    width: 760px;
  }

  #input-signup {
    width: 300px;
    height: 35px;
    margin: 13px 1px 0 0;
    line-height: 1.33;
    border: 1px solid #707070;
    text-align: left;
    color: #0066f5;
  }

  .submit {
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #0066f5;
    border: 1px solid inherit;
  }

  .logos {
    width: 60px;
    height: 40px;
    padding-right: 10px;
  }

  .page {
    height: inherit;
    width: 1500px;
    border: 1px solid grey;
    margin: auto;
  }

  .related-product {
    width: inherit;
    padding: 15px 0;
    background-color: #ebebeb;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    text-align: center;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #header {
    width: inherit;
    background-color: #0066f5;
    height: 200px;
    padding: 30px;
    color: #ffffff;
  }
  #logo {
    margin-right: 900px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
    color: #ffffff;
    text-decoration: none;
    line-height: 3.5;
  }
  #product {
    color: #ffffff;
    line-height: 2.5;
    font-weight: bold;
    margin-right: 750px;
    text-decoration: none;
  }
  #contact {
    margin-right: 750px;
    color: #ffffff;
    text-decoration: none;
    line-height: 3;
    font-weight: bold;
  }
  #sign {
    color: #ffffff;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
  }
  .prod {
    width: 300px;
    height: 350px;
    margin: 50px 0 0 50px;
    padding: 50px 100px 80px;
    border: 1px solid #5f5f5f;
  }
  .buy {
    width: 200px;
    height: 60px;
    background-color: #f79521;
    color: #ffffff;
    border-radius: 10px;
    border: none;
  }
  .quantity {
    width: 50px;
    height: 30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
  .child-grid {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    padding: 50px;
  }
  .desc {
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.2;
    color: #5f5f5f;
    text-transform: uppercase;
  }

  .desc2 {
    line-height: 1.39;
    font-size: 15px;
    color: #5f5f5f;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ebebeb;
  }

  .grid-item {
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    padding: 80px;
    margin-left: 250px;
  }
  .related-product {
    width: inherit;
    padding: 15px 0;
    background-color: #ebebeb;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    text-align: center;
  }

  .downdesc {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    background-color: #ffffff;
    text-align: center;
    height: 50px;
    width: 460px;
    margin-top: -15px;
    margin-left: 250px;
  }
  footer {
    width: inherit;
    height: 350px;
    background-color: #0066f5;
    padding: 40px;
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: auto;
  }
  .grid-label {
    color: #ffffff;
  }
  .logos {
    width: 60px;
    height: 40px;
    padding-right: 10px;
  }
  #input-signup {
    width: 300px;
    height: 35px;
    margin: 13px 1px 0 0;
    line-height: 1.33;
    border: 1px solid #707070;
    text-align: left;
    color: #0066f5;
  }

  .submit {
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #0066f5;
    border: 1px solid inherit;
  }
  .copy-right {
    text-align: center;
    color: #ffffff;
  }
  .page {
    height: inherit;
    width: inherit;
    border: 1px solid grey;
    margin: auto;
  }
}
