body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    color: rgb(99, 99, 99);
}
.nav-container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
ul, h2, h3, p{ 
    padding: 0;
    margin: 0;
}
li a{
    text-decoration: none;
    display: inline;
    color: white; 
}
/* THE HEADER */
header{
    background:#9d426b; 
    color: white;
    padding-top: 10px;
    min-height: 25px;
    border-bottom: goldenrod 3px solid;
}
header a{
    color: white;
    font-size: 16px;
}
header li{
    display: inline;
    padding:0 30px;
}
#nav-branding{
    float: left;
    padding-bottom: 10px;
}
#nav-branding h2, #nav-branding p{
    margin:0;
    padding:0;
    color:white;
}
nav{
    float: right;
    margin-top: 15px;
}
header a:hover{
    text-transform: uppercase;
    color:white;
    font-weight: bold;
}
/* THE CONTAINER */
main{
    margin: 15px;
    padding: 20px;
    overflow: hidden; 
}
/* MAIN */
.main-img{
    float: left;
    width: 230px;
    margin: 2px 0 10px 30px;   
    border: 1px solid rgb(129, 129, 129);    
}
.main-img img{
    width: 200px;
    padding: 10px 20px;
    height: inherit;
}
        /* MAIN IMAGE DETAILS */
.img-details{
    float:left;
    width: 300px; 
    margin-left: 30px;
}
#quality h4, #quality table{
    display: inline-table;
    padding: 0 ;
    margin: 0 ;
}
#quality table{
    border-collapse: collapse;
}
#quality table,#quality th{
    border: 1px solid rgb(129, 129, 129);
    padding: 0 8px;
}
#quality tr th a{
    text-decoration: none;
}
.img-details button{
    width: 100px;
    border-radius: 12px;
    background-color: goldenrod;
    color: #fff;
    padding: 8px;
    border: none;
    font-weight: bold;
}
.description{
    margin:0 55px; 
    padding-bottom: 20px;
}
.description h4{
    padding: 0;
    margin: 0;
}
/* ASIDE: THIS IS FOR RELATED PRODUCT */
aside{
    background-color: rgb(231, 227, 227);
    padding:20px 0;
    margin: auto;
    overflow: hidden;
}
aside h3{
    text-align: center;
}
.img-slide{
    float: left;
    width: 30%;
    height: 285px;
    margin:20px 0 0 30px;
    background-color: white;
}
.img-slide a img{
    width: 188px;
    height: 200px;
    margin:10px 85px 0 85px;
}
.img-slide p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0 ;
}
/* THE FOOTER */
footer{
    background-color: #9d426b;
    padding:20px 0 0 50px;
    color: white;
    overflow: hidden;
    clear: both;
}
.footer-box,
.footer-box-2,
.footer-box-3{
    float: left;
    width: 33%;
}
.footer-box ul li,
.footer-box-3 ul li
{
    list-style: none;
    margin-bottom: 8px;
}
.footer-box ul li a{
    text-decoration: none;
    display: inline;
    color: white;  
}
.footer-box-2 button[type="submit"]{
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    color: #9d426b;
    font-weight: bold;
}
.footer-box-2 input[type="email"]{
    height: 20px;
    padding: 3px 18px 3px ;
    font-size: 11px; 
}
.footer-box-3 h5{
    padding: 0;
    margin: 0;
}
.footer-box-3 ul li{
    display: inline-flex;
    padding:10px;
    
}
.footer-box-3 ul li img{
    width: 35px;
    height: 30px;
}
footer p{
    text-align: center;
    display: block;
}
/* HANDLING RESPONSIVENESS / RESOLUTIONS */
@media screen and (max-width:594px){
    header nav,
    header #nav-branding,
    header .nav-container  nav li{
        float: none;
        text-align: left;
        display: block;
    } 
    .main-img{
        padding: 0 20px;
    }
    aside{
        padding-bottom: 50px;
    }
    aside .img-slide{
        float: none;
        width: 310px;
    }
    .footer-box,
    .footer-box-2,
    .footer-box-3{
        float:none;
        display: inline;
    }
}
@media screen and (max-width: 920px){
    .slide1, 
    .slide2,
    .slide3{
        width: 340px;
    }
    .footer-box,
    .footer-box-2{
        width: 350px;
    }
    .footer-box-3{
        float: none;
    }
    .footer-box-3 ul li{ 
        display: inline;
    }
    footer p{
        text-align: center;
    }
}