/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&display=swap');
/************navbar************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}
.navbar{
    display: flex;
    align-items:center;
    background-color:#cc2900;
    justify-content: space-between;
}
.heading-links{
    justify-content: flex-end;
}
.navbar li{
    display: inline-block;
    list-style-type: none;
    margin-right: 86px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
.navbar li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.navbar li a:hover{
    color: #707070;
}
.navbar .logo img{
    height: 50px;
    margin: 15px 0 10px 10px;
}
/****************Responsiveness**************/

/*****Phone*****/
@media screen and (max-width:600px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar li{
        display: block;
        list-style-type: none;
        margin-left: 20px;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .navbar li a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }
    .navbar li a:hover{
        color: #707070;
    }
    .navbar .logo img{
        display: block;
        height: 50px;
        margin: 30px 0 10px 20px;
    }
}
@media only screen and (max-width:1085px) and (min-width:600px){
    .navbar{
        display: flex;
        align-items:center;
        background-color:#cc2900;
        justify-content: space-between;
    }
    
    .navbar li{
        display: inline-block;
        list-style-type: none;
        margin-right: 20px;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }
    .navbar li a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }
    .navbar li a:hover{
        color: #707070;
    }
    .navbar .logo img{
        height: 50px;
        margin: 15px 0 10px 10px;
    }
}

/******Sign-up form*******/
.body-div{
    display: flex;
}
.box0{
    flex-basis: 50%;
}
.reg-notes{
   margin: 190px 70px 0 100px;
   font-size: 25px;
   font-family: 'Montserrat', sans-serif ;
}
.reg-notes h1{
    font-size: 50px;
}
.reg-notes h1, .reg-notes a{
    color:#ffad99 ;
    font-weight: bold;
}
.reg-notes h1, .reg-notes .secondline{
    line-height: 60px;
}
.reg-notes p{
    color: #5f5f5f;
}
.form-type{
    border: 1px solid #b3b3b3;
    margin: 60px 50px 50px 0;
    width: 600px;
    padding: 20px 50px 30px 55px;
    border-radius: 23px;
}
.form-type label{
    font-size: 18px;
    line-height: 22px;
    color:#5f5f5f;
    font-family: 'Montserrat', sans-serif ;
    margin: 10px;
}
.form-type .input{
    width: 500px;
    height: 40px;
    border: 2px solid #5f5f5f;
    border-radius: 10px;
    margin: 5px;
}
.form-type label p{
    display: inline-block;
}
.form-type .checkbox{
    margin-left: 70px;
    width: 18px;
}
.submit-btn{
    margin-left: 150px;
    width: 200px;
    height: 50px;
    background-color: #cc2900;
    border: 1px solid #cc2900;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 12px;
    font-family: 'Raleway', sans-serif;
}
/*******Responsiveness******/
@media screen and (max-width:600px){
    .body-div{
        flex-direction: column;
        align-items: center;
    }
    .reg-notes{
        margin:20px 40px 0;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif ;
        text-align: center;
     }
     .reg-notes h1{
        line-height: 30px;
        font-size: 25px;
        text-align: center;
     }
     .reg-notes h1, .reg-notes .second-line{
        line-height: 30px;
    }
    .form-type{
        border: 1px solid #b3b3b3;
        margin: 10px 5px 30px;
        width: 470px;
        padding: 30px 10px 15px;
        border-radius: 23px;
    }
    .form-type label{
        font-size: 15px;
        line-height: 16px;
        align-items: left;
        color:#5f5f5f;
        font-family: 'Montserrat', sans-serif ;
        margin: 10px;
        margin-left: 20px;
    }
    .form-type .input{
        width: 400px;
        height: 35px;
        border: 2px solid #5f5f5f;
        border-radius: 5px;
        margin: 10px;
        margin-left: 20px;
    }
    .form-type label p{
        display: inline-block;
        color: #ffad99;
        font-weight: bold;
    }
    .form-type .checkbox{
        margin-left: 45px;
        width: 40px;
        border: 5px solid #5f5f5f;
        display: inline-block;
    }
    .submit-btn{
        margin-left: 130px;
        width: 150px;
        height: 50px;
        background-color: #cc2900;
        border: 1px solid #cc2900;
        border-radius: 4px;
        color: white;
        font-size: 17px;
        line-height: 12px;
        font-family: 'Raleway', sans-serif;
    }
}
@media only screen and (max-width:1085px) and (min-width:600px){
        .body-div{
            flex-direction: column;
            align-items: center;
        }
        .reg-notes{
            margin: 30px 80px 0;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif ;
            text-align: center;
         }
         .reg-notes h1{
            line-height: 61px;
            font-size: 50px;
            text-align: center;
         }
         #firstname{
            padding-top: 20px;
         }
         .reg-notes h1, .reg-notes .second-line{
            line-height: 50px;
        }
        .form-type{
            border: 1px solid #b3b3b3;
            margin: 30px 0 50px 20px;
            width:600px;
            padding: 45px 20px 20px;
            border-radius: 23px;
        }
        .form-type label{
            font-size: 20px;
            line-height: 22px;
            align-items: left;
            color:#5f5f5f;
            font-family: 'Montserrat', sans-serif ;
            margin: 15px;
            margin-left: 30px;
        }
        .form-type .input{
            width: 500px;
            height: 45px;
            border: 2px solid #5f5f5f;
            border-radius: 10px;
            margin: 10px;
            margin-left: 30px;
        }
        .form-type label p{
            display: inline-block;
            color: #ffad99;
            font-weight: bold;
            font-size: 22px;
        }
        .form-type .checkbox{
            margin-left: 50px;
            width: 40px;
            border: 5px solid #5f5f5f;
            display: inline-block;
        }
        .submit-btn{
            margin-left: 150px;
            width: 250px;
            height: 50px;
            background-color: #cc2900;
            border: 1px solid #cc2900;
            border-radius: 4px;
            color: white;
            font-size: 17px;
            line-height: 12px;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 20px;
        }
}
/*footer*/
.footer{
    background-color: #cc2900;
}
.footer-div{
    display: flex;
    bottom: 0;
    width: 100%;
}
.box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.footer-div .contact-us li{
    list-style-type: none;
    padding: 7px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}
.footer-div .contact-us a{
    text-decoration: none;
    color: #fcf8f8;
}
.footer-div .sign-up p{
    color: #fcf8f8;
    padding: 7px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}
.footer-div .sign-up .enter-email{
    padding-left: 7px;
    height: 40px;
    width: 300px;
    border: 1px solid #707070;
}
.footer-div .sign-up .enter-email::placeholder{
    color: #ffad99;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
}
.footer-div .sign-up .enter-btn{
    height: 40px;
    width: 100px;
    border: 1px solid #707070;
    font-size: 18px;
}
.footer-div .sign-up .enter-btn p{
    font-size: 18px;
    color: #cc2900;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 22px;
}
.connect-us p{
    font-size: 18px;
    color: #fcf8f8;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
    line-height: 22px;
    text-align: left;
}
.connect-us img{
    padding-left: 7px;
    border-radius: 11px;
    background-color: transparent;
}
.copyright{
    text-align: center;
}
.copyright p{
    font-size: 18px;
    color: #fcf8f8;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
    line-height: 22px;
    text-align: center;
}
@media screen and (max-width:600px){
    .footer{
        width: 100%;
        background-color: #cc2900;
        margin-top: auto;
    }
    .footer-div{
        flex-direction: column;
    }
    .footer-div .sign-up .written{
        padding-left: 19px;
    }
    .footer-div .sign-up .enter-email{
        margin-left: 19px;
    }
    .connect-us p{
        padding-left: 19px;
    }
    .connect-us .imges{
        margin-left: 19px;
    }
    .connect-us .imges img{
        width: 50px;
        border-radius: 5px;
    }
    .connect-us .imges .smaller{
        width: 37px;
    }
    .footer-div .contact-us li{
        padding-left: 19px;

    }

}
@media only screen and (max-width:1085px) and (min-width:600px){
    .footer{
        width: 100%;
        background-color: #cc2900;
        margin-top: auto;
    }
    .footer-div{
        display: grid;
        bottom: 0;
        width: 100%;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
                "ContactUs SignUp"
                "ContactUs ConnectUs";
    }
    .contact-us{
        grid-area: ContactUs;
    }
    .connect-us{
        grid-area: ConnectUs;
    }
    .sign-up{
        grid-area: SignUp;
    }
    .footer-div .sign-up .enter-email{
        padding-left: 7px;
        height: 40px;
        width: 200px;
        border: 1px solid #707070;
        margin-top: -2px;
    }
    .footer-div .sign-up .enter-email::placeholder{
        color: #cc2900;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        padding-left: 3px;
    }
    .connect-us .imges img{
        width: 50px;
        border-radius: 5px;
    }
    .connect-us .imges .smaller{
        width: 37px;
    }
}
/*error line*/
#error-line{
    display: block;
}
