*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-seri;
    line-height: 1.5;
    height: 100%;
}
/*---header section----*/
.header{
    overflow: hidden;
    background-color: #b6249e;
    padding: 25px 4em 0 20px;
    line-height: 50px;
}
.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px
  }
  .header a.logo{
    font-size: 30px;
    font-weight: bold;
  }
  .header-right{
    float: right;
  }
  .header-right :hover{
    color: black
  }
  /*----this section is a two cloume section----*/
.contact{
  width: 100%;
  overflow: hidden;
  background-color: rgb(243, 233, 238);
}
.left{
  float: left;
  width: 40%;
  margin: 20px 0 20px 45px;
  padding-top: 80px;
  text-align: center;
}
.left h3{
  padding: 0;
  margin: 0;
}
.left p{
  padding-bottom: 20px;
  margin: 0;
}
.left img{
  width: 40px;
  height: 40px;
   margin-top: 12px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.right{
  float: right;
  width: 45%;
  border: 2px solid #b6249e;
  padding: 40px;
  padding-top: 15px;
  margin: 20px 50px 20px 0;
  border-radius: 20px;
}
.right-mail{
  text-align: center;
}
.right img{
  width: 45px;
  height: 50px;
}
.right h2{
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 0;
  font-size: 20px;
}
.right input[type="text"],.right input[type="email"]{
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
  background-color: rgb(243, 233, 238);
}
::placeholder{
  font-size: 20px;
  color: black;
}
.label{
  color: grey;
   margin: 10px 0;
}
textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px soli grey;
  resize: none;
  margin: 10px 0;
  font-size: 20px;
}
.right button{
  margin: 0 auto;
  display: block;
  padding: 10px;
  width: 100px;
  margin-top: 10px;
  background-color: #b6249e;
  color: #fff;
  font-weight: bold;
  float: right;
  border-radius: 5px;
}
/*---this is footer section---*/
.foot{
  background-color: #b6249e;
}
.left-content,.middle-content,.right-content{
  float: left;
  width: 33.3%;
  color: #fff;
  font-size: 20px;
}
.left-content ul{
  list-style: none;
}
.left-content a{
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.middle-content input{
  margin-top: 2px;
  border: 1px solid black;
  height: 30px;
}
#foot-button{
  color: #b6249e;
  font-size: 15px;
}
.right-content img{
  width: 10%;
  height: 9%;
  margin: 2px;
}
.foot P{
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 17px;
}
/* ------------ @ Media Queries (Responsiveness) ---------*/
@media screen and (max-width: 650px){
  /*For header */
.header a{
    float: none;
    display: block;
    text-align: left;
    padding: 4px;
  }
  .header-right{
    float: none;
  }
/*----For Body-----*/
.left h3{
  font-size: 14px;
 }
.right h2{
  font-size: 12px;
 }
.right{
  padding-bottom: 60px;
 }
/*----for footer=-----*/
  .left-content
  .middle-content
  .right-content{
    float: none;
    display: block;
    font-size: 10px;
  }
  .left-content,
  .middle-content{
    font-size: 15px;
  }
  .right-content{
    font-size: 12.5px;
  }
.foot .middle-content{
  width: 100%;
  float: right;
  padding-left: 40px;
  padding-bottom: 20px;
  }
  .foot p{
    margin-top: 20px;
     margin-top: 20px;
    padding-bottom: 30px;
    font-size: 18px;
  }
  .right-content img{
  width: 20px;
   height: 20px;
 }
 .right button{
  padding: 8px;
  margin-top: 5px;
 }
}
@media screen and (max-width: 800px){
/*-----for body------*/
  .left, .right{
    float: none;
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .contact{
    padding: 30px;
  }
  .left{
    padding: 8px;
    text-align: center;
  }
  .right button{
  padding: 8px;
  margin-top: 5px;
 }
 .right{
  padding-bottom: 60px;
 }
/*-----for footer-----*/
  .left-content,.middle-content{
    width: 50%;
    float: left;
  }
  .right-content{
    float: none;
    margin-left: 38px;
  }
  ::placeholder{
    font-size: 15.2px;
  }
  .middle-content input{
    height: 20px;
  }
  .foot p{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
  }
}




