*{
   box-sizing: border-box;
}
body{
   margin: 0;
   font-family: 'Open Sans', sans-seri;
   line-height: 1.5;
   height: 100%;
}
/*---header section----*/
.header{
   overflow: hidden;
   background-color: #b6249e;
   padding: 25px 56px 0 20px;
   line-height: 50px;
}
.header a{
   float: left;
   color: white;
   text-align: center;
   padding: 20px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px
}
.header a.logo{
   font-size: 30px;
   font-weight: bold;
}
.header-right{
   float: right;
}
.header-right :hover{
   color: black
}
/*----this section is the body....*/
/*----this is the frist and main product section---*/
#looks{
   background-color: whitesmoke;
   overflow: hidden;
}
.product1{
   overflow: hidden;
   margin-top: 30px;
}
.desscribe{
   margin-left: 30px;
   text-align: justify;
   padding: 5px;
}
.chicken,.info{
  float: left;
}
.info input{
  width: 40px;
  padding: 5px;
}
.chicken{
   width: 26%;
   margin-right: 30px;
   margin-left: 30px;
   padding: 25px;
   border: 1px solid grey;
}
.info{
   width: 60%;
   margin-left: 25px;
}
.info h2,h5{
   padding: 3px;
   margin: 5px;
}
.chicken img{
   width: 170px;
   height: 170px;
   margin: 0 auto;
   display: block;
}
.buy{
   width: 100px;
   height: 55px;
   border-radius: 20px;
   background-color: #b6249e;
   color: #fff;
}
/*--this is the related Product section---*/
.looks2{
   background-color: lightgrey;
   overflow: hidden;
}
.looks2 h1{
  text-align: center; 
}
.related-product img{
   width: 170px;
   height: 170px;
   margin: 30px auto;
   display: block;
}
.related-product {
   float: left;
   width: 25%;
   margin: 22px 0 25px 70px;
   background-color: #fff;
   padding-bottom: 20px;
   overflow: hidden;

}
.related-product p{
text-align: center;
font-weight: bold;
margin: 0;
padding: 0; 
}
/*---this is footer section---*/
.foot{
background-color: #b6249e;
}
.left-content,.middle-content,.right-content{
float: left;
width: 33.3%;
color: #fff;
font-size: 20px;
}
.left-content ul{
list-style: none;
}
.left-content a{
text-decoration: none;
color: #fff;
margin: 0;
padding: 0;
}
.middle-content input{
margin-top: 2px;
border: 1px solid black;
height: 30px;
}
#foot-button{
color: #b6249e;
font-size: 15px;
}
.right-content img{
width: 10%;
height: 9%;
margin: 2px;
}
.foot P{
margin: 0 auto;
display: block;
padding-top: 20px;
color: #fff;
text-align: center;
font-size: 17px;
}
/* ------------ @ Media Queries (Responsiveness) ---------*/
@media screen and (max-width: 650px){
/*For header */
.header a{
  float: none;
  display: block;
  text-align: left;
  padding: 4px;
} 
.header-right{
  float: none;
}
 /*---for body---- */
 .chicken, .info{
  float: none;
  width: 80%;
  margin: 0 auto;
  display: block;
 }
 .desscribe{
width: 90%;
} 
/*for footer*/
.left-content
.middle-content
.right-content{
  float: none;
  display: block;
  font-size: 10px;
}
.left-content, middle-content{
  font-size: 15px;
}
.right-content{
  font-size: 12.5px;
}
.foot .middle-content{
  width: 100%;
  float: right;
  padding-left: 40px;
  padding-bottom: 20px;
}
.foot p{
  margin-top: 20px;
  margin-top: 20px;
  padding-bottom: 30px;
  font-size: 18px;
}
.right-content img{
  width: 20px;
  height: 20px;
}
.right button{
  padding: 8px;
  margin-top: 5px;
}
}
@media screen and (max-width: 800px){
/*for related product part----*/
.related-product 1, .related-product-2{
  width: 42%;
  float: left;
  margin: 15px;
}
.related-product 3{
  float: none;
  width: 42%;
  margin: 15px;
  display: block;
}
/*-----for footer-----*/
.left-content,.middle-content{
  width: 50%;
  float: left;
}
.right-content{
  float: none;
  margin-left: 38px;
}
::placeholder{
  font-size: 15.2px;
}
.middle-content input{
  height: 20px;
}
.foot p{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
}
@media screen and (max-width: 500px){
/*----for related product------*/
.related-product{
  width: 80%;
  float: none;
  margin: 20px auto;
  display: block;
}
}