* {box-sizing: border-box;}
body{
  margin: 0;
 font-family: 'Open Sans', sans-seri;
 inlin-height: 1.5;
 height: 100%;
}
/*---header section----*/
.header{
  overflow: hidden;
  background-color: #b6249e;
  padding: 25px 4em 0 20px;
  line-height: 50px;
}
.header a{
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px
}
.header a.logo{
  font-size: 30px;
  font-weight: bold;
}
.header-right{
  float: right;
}
.header-right :hover{
  color: black
}
 
/*----this section is a two cloume section----*/
.reg{
  width: 100%;
  overflow: hidden;
  background-color: rgb(243, 233, 238)
}
.split-left{
  float: left;
  width: 40%;
  margin: 20px 0 20px 45px;
  padding-top: 80px;
  font-size: 20px;
}
.split-left h1,h2{
  color: #b6249e;
  padding: 0;
  margin:  0;
  font-weight: bold;
  font-size: 25px;
}
.split-right{
  float: right;
  width: 45%;
  border: 1px solid #b6249e;
  border-radius: 20px;
  margin: 22px 45px 22px 0;
  padding: 43px;
}
.split-right input[type="text"],.split-right input[type="email"],.split-right input[type="password"]{
  width: 100%;
  border-radius: 7px;
  height: 40px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.split-right label{
  color: black;
  font-size: 14px;
}
.split-right button{
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: #b6249e;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.split-right input[type="checkbox"]{
  margin: 10px 0 10px 30px;
}
/*---this is footer section---*/
.foot{
  background-color: #b6249e;
}
.left-content,.middle-content,.right-content{
  float: left;
  width: 33.3%;
  color: #fff;
  font-size: 20px;
}
.left-content ul{
  list-style: none;
}
.left-content a{
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.middle-content input{
  margin-top: 2px;
  border: 1px solid black;
  height: 30px;
}
::placeholder{
  color: #b6249e;
  font-size: 15px;
}
#foot-button{
  color: #b6249e;
  font-size: 15px;
}
.right-content img{
  width: 10%;
  height: 9%;
  margin: 2px;
}
.foot P{
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 17px;
}
/*---media query for header*/
@media screen and (max-width: 650px){
  .header a {
    float: none;
    display: block;
    text-align: left;
    padding: 4px;
  }
  .header-right{
    float: none;
  }
  /*media query for body*/
  .split-left h1 h2{
    font-size: 18px;
  }
  input[type="checkbox"]{
    margin: 0 0 19px 20px;
  }
  .split-right label{
    font-size: 16px;
  }
  /*media query for footer*/
  .left-content,.middle-content,.right-content{
    float: none;
    display: block;
    font-size: 10px;
  }
  .left-content
  .middle-content{
    font-size: 15px;
  }
  .right-content{
    font-size: 12.5px;
  }
  .foot .middle-content{
    width: 100%;
    float: right;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .foot p{
    margin-top: 20px;
    padding-bottom: 30px;
    font-size: 17px;
  }
  .right-content img{
    width: 17%;
    height: 13%;
  }
}
@media screen and (max-width: 800px){
  /*--for body--*/
  .split-left,
   .split-right {
    float: none;
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .reg {
    padding: 30px;
  }
  .split-left{
    padding: 8px;
    text-align: center;
  }
  .split-right label{
    font-size: 18px;
  }
  /*---for footer---*/
  .left-content,
  .middle-content{
    width: 50%;
    float: left;
  }
  .right-content{
    float: none;
    margin-left: 38px;
  }
  ::placeholder{
    font-size: 15px;
  }
  .middle-content input{
    height: 40px;
  }
  .foot p{
    text-align: center;
    margin-top: 20px;
    scroll-padding-bottom: 30px;
    font-size: 25px;
  }
}

        
