html {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* top navigation */
.topnav {
    overflow: hidden;
    background-color: rgb(2, 209, 2);
    text-align: center;
    font-size: 17px;
}
.topnav a {
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
/* contact us page */
/* phone, envelop and comment icons */
#phone, #mail-env, #c-icon {
    color:rgb(103, 255, 2);
}
#ph, #env {
    margin-left: 10px;
}
.mail-icon li, .phone-icon li, .connect-us li {
    text-align: center;
    font-size: 20px;
}
/* contact form */
.no-outline {
    border-style: hidden hidden groove hidden;
    padding: 10px 0px 10px 0px;
}
.no-outline:focus {
    outline: none;
}
#contact-com {
    margin-left: 240px;
}
#contact-form {
    border-radius: 5px;
    border: solid 1px;
    padding: 30px 30px 25px 30px;
}
#contactForm {
    overflow: hidden;
    margin-top: 25px;
    padding-top: 15px;
}
#contactForm input {
    width: 500px;
    border-bottom: solid 1px;
}
/* send butten */
#send-msg {
    text-align: center;
}
#submit-c {
    float: right;
    margin-right: 10px;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
}
/* form container display */
.contact-us {
    margin: 78px 0px 0px 275px;
}
.contact {
    margin-right: 115px;
    float: right
}
.contact-us, .contact {
    display: inline-block;
}
/* footer */
footer {
    background-color: rgb(2, 209, 2);
    height: 145px;
}
/* footer navigation */
.footnav-left {
    list-style-type: none;
}
.footnav-left, #newsLetter, #icons {
    display: inline-block;
    float: left;
}
#footnav li a {
    text-decoration: none;
    color: white;
}
/* footer social media icons */
#icons {
    float: right;
    margin: 15px 40px 0px 0px;
}
/* footer newsletter signUp */
#newsLetter {
    margin: 20px 0px 0px 430px; 
}
#input-email {
    width: 185px;
    height: 15px;
    padding: 7px 0px 7px 0px;
}
#submit {
    color: rgb(3, 192, 3);
    background-color: white;
    height: 29px;
}
#input-email, #submit {
    display: inline;
}
#newsLabel, #connect {
    color: white;
}
#foot {
    margin: 10px 40px 1px 40px;
}
li {
    margin-top: 10px;
}
/* footer copyright note */ 
#copyright {
    text-align: center;
    float: left;
    margin: 40px 0px 0px 350px;
    color: white
}

/* media-query (tablet)*/
@media screen and (min-width: 768px) and (max-width: 900px) {
    /* contact form */
    .no-outline {
        border-style: hidden hidden groove hidden;
        padding: 10px 0px 10px 0px;
    }
    .no-outline:focus {
        outline: none;
    }
    #send-msg {
        text-align: center;
    }
    #submit-c {
        float: right;
        margin-right: 10px;
        border-radius: 2px;
        padding: 15px 10px 10px 15px;
    }
    #contact-com {
        margin-left: 240px;
    }
    #contact-form {
        border-radius: 5px;
        border: solid 1px;
        padding: 30px 30px 25px 30px;
    }
    #contactForm {
        overflow: hidden;
        margin-top: 25px;
        padding-top: 15px;
    }
    #contactForm input {
        width: 500px;
        border-bottom: solid 1px;
    }
    /* form container display */
    .contact-us {
        margin: 40px 0px 0px 325px;
    }
    .contact {
        margin-right: 215px;
    }
    .contact-info {
        height: 810px;
    }
    /* footer */
    footer {
        height: 205px;
    }
    #icons {
        margin-right: 60px;
    }
    #copyright {
        margin: 40px, 0px 235px 0px;
    }
}
/* media-query (mobile)*/
@media screen and (max-width: 500px) {
    /* top navigation */
    .topnav {
        overflow: hidden;
        background-color: rgb(2, 209, 2);
        text-align: center;
        font-size: 35px;
    }
    .topnav #logo {
        margin: 20px 0px 0px 25px;
    }
    .topnav a {
        float: left;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .topnav-right {
        float: left;
        margin: 0px 740px 0px 20px;
        width: 300px;    
    }
    /* contact us page */
    /* phone, envelop and comment icons */
    #ph, #env {
        margin-left: 10px;
    }
    #phone, #mail-env, #c-icon {
        color:rgb(103, 255, 2);
    }
    .mail-icon li, .phone-icon li, .connect-us li {
        text-align: center;
        font-size: 30px;
    }
    /* contact form */
    .no-outline {
        border-top-style: hidden hidden groove hidden;
        padding: 10px 0px 10px 0px;
    }
    .no-outline:focus {
        outline: none;
    }
    #contact-com {
        margin-left: 240px;
    }
    #contact-form {
        border-radius: 5px;
        border: solid 1px;
        padding: 30px 30px 25px 30px;
    }
    #contactForm {
        overflow: hidden;
        margin-top: 25px;
        padding-top: 15px;
        font-size: 30px;
    }
    #contactForm input {
        width: 550px;
        border-bottom: solid 1px;
    }
    /* send butten */
    #send-msg {
        text-align: center;
    }
    #submit-c {
        float: right;
        margin-right: 10px;
        border-radius: 2px;
        padding: 15px 10px 10px 15px;
    }
    /* form container display */
    .contact-us {
        margin: 78px 0px 0px 96px;
        width: 790px;
    }
    .contact {
        margin-right: 195px; 
    }
    .contact-us, .contact {
        display: inline-block;
    }
    .contact-info {
        height: 1085px;
    }
    /*footer*/
    .footnav-left a {
        font-size: 40px;
    }
    .footnav-left {
        margin-left: 55px;
        width: auto;
    }
    #newsLetter label, #submit {
        font-size: 30px;
    }
    #newsLetter #newsLabel {
        float: left;
        font-size: 40px;
        width: 790px;
        margin-right: 355px;
        text-align: left;
        color: white;
    }
    #newsLetter #input-email {
        height: 50px;
        width: 310px;
    }
    #newsLetter #submit {
        height: 65px;
        padding-bottom: 5px;
        margin: 8px 4px 0px 0px;
        background-color: white;
        color: rgb(2, 209, 2);
    }
    #icons {
        margin: 25px 55px 0px 390px;
    }
    #icons li {
        font-size: 30px;
        color: white;
    }
    #icons a {
        height: 40px;
        width: 50px;
    }
    #newsLetter {
        float: left;
        margin: 30px 55px 0px 0px;
        width: 700px;
    }
    #footnav li a {
        text-decoration: none;
        color: white;
    }    
    footer {
        height: 630px;
        background-color:  rgb(2, 209, 2);
        padding-top: 40px;
    }
    #copyright {
        text-align: center;
        margin: 30px 0px 20px 155px;
        font-size: 35px;
        width: 600px;
        color: white;
    }
}
