html {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* top navigation */
.topnav {
    overflow: hidden;
    background-color: rgb(2, 209, 2);
    text-align: center;
    font-size: 17px;
}
.topnav a {
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.topnav-right {
    float: right;
    margin: 15px 50px 0px 0px;
}
/* signUp page */
/* formfield */
#s-form {
    border-radius: 25px;
    padding: 35px 20px 20px 20px;
    border: 2px 2px 2px 2px;
}
/* signupform */
#form {
    overflow: hidden;
    margin: 10px 40px 0px 0px; 
    float: right;
}
#form input {
    width: 500px;
    padding: 10px;
    border-radius: 7px;
    border: solid 1px;
}
#table, #form {
    display: inline-block;
}
#form #terms {
    width: 50px;
    float: left;
    margin-left: 78px;
}
#termsLabel {
    color: rgb(2, 209, 2);
    font-weight: bold;
}
button {
    border-radius: 3px;
    border: 0.5px;
    margin-left: 220px;
    padding: 7px 20px 7px 20px; 
    background-color: rgb(2, 209, 2);
    font-weight: bold;
    color: white;
}  
ul {
    list-style-type: none;
    overflow: hidden;
}
/* registration info */
#reg-acct {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(2, 209, 2);
}
#heading, #reg-note, #acct-signin {
    text-align: center;
    margin-left: 220px;
    font-size: 20px;
    text-align: left;
}
/*signin instead*/
#signin{
    color:rgb(2, 209, 2);
}
/* footer */
footer {
    background-color: rgb(2, 209, 2);
    height: 145px;
}
/* footer navigation */
.footnav-left {
    list-style-type: none;
}
.footnav-left, #newsLetter, #icons {
    display: inline-block;
    float: left;
}
#footnav li a {
    text-decoration: none;
    color: white;
}
/* footer social media icons */
#icons {
    float: right;
    margin: 15px 40px 0px 0px;
}
/* footer newsletter signUp */
#newsLetter {
    margin: 20px 0px 0px 430px; 
}
#input-email {
    width: 185px;
    height: 15px;
    padding: 7px 0px 7px 0px;
}
#submit {
    color: rgb(3, 192, 3);
    background-color: white;
    height: 32px;
    margin-left: 1px;
    padding: 5px 10px 5px 10px;
    border: 0.5px;
}
#input-email, #submit {
    display: inline;
}
#newsLabel, #connect {
    color: white;
}
#foot {
    margin: 10px 40px 1px 40px;
}
li {
    margin-top: 10px;
}
/* footer copyright note */ 
#copyright {
    text-align: center;
    float: left;
    margin: 40px 0px 0px 350px;
    color: white
}
/* media-query (mobile)*/
@media screen and (max-width: 500px) {
    /* top navigation */
    .topnav {
        overflow: hidden;
        background-color: rgb(2, 209, 2);
        text-align: center;
        font-size: 35px;
    }
    .topnav #logo {
        margin: 20px 0px 0px 25px;
    }
    .topnav a {
        float: left;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .topnav-right {
        float: left;
        margin: 0px 740px 0px 20px;
        width: 300px;    
    }
    /* signUp page */
    /* formfield */
    #s-form {
        border-radius: 25px;
        padding: 35px 20px 20px 20px;
        border: 2px 2px 2px 2px;
    }    
    /* signupform */
    #form {
        overflow: hidden;
        margin: 10px 120px 0px 0px;
        float: right;
    }
    #form input {
        width: 650px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px;
    }
    #table, #form {
        display: inline-block;
    }
    #table {
        margin-right: 80px;
        float: right;
        width: 1100px;
    }
    #form #terms {
        width: 20px;
        float: left;
        margin-left: 115px;
    }
    #termsLabel {
        color: rgb(2, 209, 2);
        font-weight: bold;
        margin-left: 10px;
        padding-top: 40px;
    }
    button {
        border-radius: 3px;
        margin-left: 150px;
        padding: 7px 20px 7px 20px;
        background-color: rgb(2, 209, 2);
        font-weight: bold;
        color: white;
    }  
    ul {
        list-style-type: none;
        overflow: hidden;
    }
        /* registration info */
    #reg-acct {
        font-size: 45px;
        font-weight: bold;
        color: rgb(2, 209, 2);
    }
    #heading, #reg-note, #acct-signin {
        text-align: center;
        margin-left: 295px;
        font-size: 26.5px;
        text-align: center;
    }
    #table {
        margin-right: 78px;
        float: right;
        width: 1100px;
    }
    #signin{
        color:rgb(2, 209, 2);
    }
    #supT {
        height: 820px;
    }
    /*footer*/
    .footnav-left a {
        font-size: 40px;
    }
    .footnav-left {
        margin-left: 55px;
        width: auto;
    }
    #newsLetter label, #submit {
        font-size: 30px;
    }
    #newsLetter #newsLabel {
        float: left;
        font-size: 40px;
        width: 790px;
        margin-right: 355px;
        text-align: left;
        color: white;
    }
    #newsLetter #input-email {
        height: 50px;
        width: 310px;
    }
    #newsLetter #submit {
        height: 65px;
        padding-bottom: 5px;
        margin: 8px 4px 4px 4px;
        background-color: white;
        color: rgb(2, 209, 2);
    }
    #icons {
        margin: 25px 55px 0px 390px;
    }
    #icons li {
        font-size: 30px;
        color: white;
    }
    #icons a {
        height: 40px;
        width: 50px;
    }
    #newsLetter {
        float: left;
        margin: 30px 55px 0px 0px;
        width: 700px;
    }
    #footnav li a {
        text-decoration: none;
        color: white;
    }    
    footer {
        height: 630px;
        background-color:  rgb(2, 209, 2);
        padding-top: 40px;
    }
    #copyright {
        text-align: center;
        margin: 30px 0px 20px 155px;
        font-size: 35px;
        width: 600px;
        color: white;
    }
}
