.flex-container   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: greenyellow;
    padding: 5px;
    justify-content: space-around;
}
.logo   {
    width: 30px;
    height:30px;
}
.productimage   {
    margin-top: 10px;
}
.productpagelink {
    padding-top: 13px;
}
.contactlink {
    padding-top: 13px;
}
.signuplink {
    padding-top: 13px;
}

.product    {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-right: 600px;
justify-content: space-around;
}
.similaritems    {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about  {
    margin-left: 50px;
}
.productdescription {
    line-height: 1.5px;
    margin-top: 50px;
}
.btn    {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
h4  {
    text-align: center;
}
.similaritem1   {
    line-height: 2px;
}
.similaritem2   {
    line-height: 2px;
}
.similaritem3   {
    line-height: 2px;
}
footer    {
        background-color: greenyellow;
        text-align: center;
    }
    .flex-container2  {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    a   {
        text-decoration: none;
    }
    .contacts   {
        text-align: left;
        padding-right: 50px;
    }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 15px;
        text-align: center;
        margin: 5px;
        border-radius: 5px;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      @media screen and (max-width:480px) {
          .product{
              margin-left: 200px;
          }
          .similaritem2 {
              margin-left: 50px;
          }