body{
    text-align:center;
}
.google button {
    width: 25%;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    padding:4px 10px ;
   
}
.login button{
    color: blue;
    width: 25%;
    position: relative;
    transition-duration:0.4s;
    cursor: pointer;  
    height: 25%;
    padding-top: 0%;
    font-size: 16px;
    padding:5px 10px ;
}
.login button:hover{
    background-color: rgb(160, 137, 137);
}

input[type=password] {
    border:none;
    border-bottom: 1px solid blueviolet;
    width: 25%;

}
input[type=text] {
    border:none;
    border-bottom: 1px solid blueviolet;
    width: 25%;
    
}
.container{
    color: blueviolet;
}
a {
    text-decoration:none;
}
h2{
    color:blueviolet;
}
h1{
    margin-top:5px;
    margin-bottom:20px;
    color: aqua;
}
img{
    margin-top:5px;
    margin-bottom:5px;
}



