body {
    width: 100%;
    background-color: #ffffff;
    margin:0;
    padding:0;
    height: auto;
}
.pic {
    padding-left: 20px;
}
.top {
    width: 100%;
    height: 70px;
    background-color: purple;
}
.nav-link {
    height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: 25px;  
}
.main {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 30px 30px 30px 150px; 
    padding: 30px 0;
} 
.main1 {
    text-align: center; 
    padding-top: 14px;
    font-size: 22px;
    margin-top: 30px;
    margin-right: 30px;
}
.error {
    font-size: 20px;
    color: red;
    margin: 10px 0 70px 38px;
}
aside{
        
        height: 550px;
        width: 35%;
        margin: auto;
        border: solid 1px #707070;
        background-color: #ffffff;
        text-align: center;
        padding: 0px;
}
.sub {
    margin-left: 0 auto;
}
#text2 {
    float: left;
    margin: 20px 0 0 37px;
}
.email {
    margin: 20px auto;
}
.text {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.side {
    margin-top: 20px;
    width: 80%;
    margin-top: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}
.area {
        width: 354px;
        height: 142px;
        margin-top: 15px;
        border: solid 1px #707070;
        background-color: #ffffff;
}
.btn {
        width: 100px;
        height: 35px;
        border-radius: 4px;
        background-color: #0066f5;
        margin: 15px 0 0 260px;
}
/******* footer *******/
.bass {
    color: white;
    text-decoration: none;
}
#foot {
    width: 100%;
    height: auto;
    background-color: purple;
}
.base {
    display:flex;
    color: white;
    margin-top: 140px;
    margin-left: 90px;
}
.base2{
    display:flex;
    margin-top:8px;
    margin-left: 90px; 
    width: 70%;
}
.base-3 {
    margin: 10px 40px 10px 50px;
}
.base-4 {
    font-size: 20px;
    line-height: 0.5;
    margin-left: 85px;
}
li {
    list-style: none;
    margin: 10px;
}
.button1 {
    color: purple;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.note {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
/********* media quieres ********/
@media screen and (max-width:480px) {
    .main {
        width: 100%;
        margin: 10px 0 0 50px;
    }
}
@media screen and (max-width:800px) {
    .main {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .main1 {
        width: 60%;
        text-align: center;
        margin-left: 25px;
        margin-top: 20px;
    }
    aside {
        width: 60%;
        margin: 50px 40px 0 20px;
    }
    .area {
        margin: 10px 50px 10px 10px;
    }
    .btn {
        margin: 1px 0 0 15px;
    }
    .base{
            display: flex;
            flex-direction: column;
            margin-left: 0;
    }
    .base1 {
            font-size: 15px;
            margin-left: 11px;
    }
    .base-4 {
            font-size: 15px;
            line-height: 0.5;
            margin-left: 50px;
            margin-top: 12px;
    }
    .base2{
            display: flex;
            flex-direction: column; 
            margin-left:0;
    }
    .button {
            margin: 0;
    }  
    #foot {
        margin-top: 10px;
    }
}
@media screen and (max-width: 1200px) {
    .area {
        width: 200px;
        margin-left: 25px;
    }
    .main {
        margin-top: 10px;
    }
    .btn {
        margin: 15px 0 0 100px;
    }
}