body {
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
/******Header*****/
.pic {
    padding-left: 20px;
}
.top {
    width: 100%;
    height: 70px;
    background-color: purple;
}
.nav-link {
    height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: 25px;  
}
/*******Content******/
main {
    margin-top: 25px;
    height: auto;
}
.main1 {
    display: flex;
    flex-direction: row;
    margin-left: 50px; 
}
.pix {
    width: 300px;
    height: 230px;
}
 h4, p {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    line-height: 1.2;
}
.btn {
        width: 100px;
        height: 34px;
        color: black;
        border-radius: 10px;
        background-color: goldenrod;
}
h3 {margin-bottom: 0;
}
.main2 {
    margin-left: 30px;
    line-height: 2.0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box {
        width: 46px;
        height: 20px;
        border: solid 1px #707070;
        background-color: #ffffff;
        margin-left: 10px
}
section {
    text-align: center;
    background-color: #ebebeb;
    padding-top: 1px;
    height: auto;
    margin-bottom: 10px;
}
.main3 {
    display: flex;
    flex-direction: row;
}
figure {
    background-color: white;
    padding: 15px;
    margin-left: 65px;
}
/*******footer*******/
.bass {
    color: white;
    text-decoration: none;
}
#foot {
    width: 100%;
    margin: 0;
    height: auto;
    background-color: purple;
}
.base {
    display:flex;
    color: white;
    margin-left: 90px;
}
.base2{
    display:flex;
    margin-top:8px;
    margin-left: 90px; 
    width: 70%;
}
.base-3 {
    margin: 10px 40px 10px 50px;
}
.base-4 {
    font-size: 20px;
    line-height: 0.5;
    margin-left: 85px;
}
li {
    list-style: none;
    margin: 10px;
}
.button1 {
    color: purple;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.note {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
/********* media quieres ********/
@media screen and (max-width:480px) {
    .main1 {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    .pix {
        margin-left: 15px;
    }
    h3, b {
        margin-left: 0;
    }
    h4, p {
        margin-left: 25px;
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .main3 {
        display: flex;
        flex-direction: column;
    }
    .base-3 {
        width: 100%;
    }
}
@media screen and (max-width:800px) {
    .base{
            display: flex;
            flex-direction: column;
            margin-left: 0;
    }
    .base1 {
            font-size: 15px;
            margin-left: 11px;
    }
    .base-4 {
            font-size: 15px;
            line-height: 0.5;
            margin-left: 50px;
            margin-top: 12px;
    }
    .base2{
            display: flex;
            flex-direction: column; 
            margin-left:0;
    }
    .button {
            margin: 0;
    }  
    #foot {
        margin-top: 10px;
    }
    .main1 {
        margin-left: 35px;
    }
    .pix {
        width: 250px;
    }
    .main3 {
        min-width: 300px;
        display: flex;
        flex-wrap: wrap;
    }
}