form
{
    width: 100%;
    height: 100%;
}

body
{
   margin: 0;
}
/* header */
header
{
    background: #00f798a8;
    color: blueviolet;
    padding-top: 1px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    font: bolder 30px cursive, "cookie";
}

header a
{
    color: blueviolet;
    text-decoration: none;
    font: bolder 30px cursive, "cookie";
}
  
header li
{
    display: inline;
    padding:0 30px;
}
  
header #nav-logo
{
    float: left;
    margin: 15px;
}
  
header #nav-logo h2
{
    margin:0;
    padding:0;
}

header nav
{
    float: right;
    margin-top: 15px;
}

/*BODY*/
.left-column, .right-column
{
    display: inline-block;
}

.left-column img
{
    width: 469px;
    height: 398px;
    padding-left: 350px;
}

/*Right-column*/
.right-column
{
    width: 65%;
    margin-top: 1px;
    padding: 10px;
    font: bold 25px 'Cookie', cursive;
}

.product-information h3
{
    font: bold 35px 'Cookie', cursive;
    color: blueviolet;
}

#quantity
{
    padding: 5px;
    width: 95px;
    border: 1px solid #555;
}

.product-information input[type=button]
{
    display: inline-block;
    background-color: #00f798a8;
    border-radius: 6px;
    font-size: 16px;
    color: blueviolet;
    text-decoration: none;
    padding: 12px 30px;
}

.product-information input[type=button]:hover
{
    background-color: palevioletred;
}

/*product description*/
.description
{
    font: normal 25px 'Cookie', cursive;
    padding-left: 450px;
    padding-top: 1px;
}

.description p
{
    padding-bottom: 1px;
   margin-top: 2px;
   margin-bottom: 1px;
}
/*related product*/
.bottom-column
{
    font: bold 25px 'Cookie', cursive;
    color: blueviolet;
}

.bottom-column h3
{
    text-align: center;
    padding: 1px;
}

.bottom-column li
{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    text-decoration: none;
    padding-left: 350px;
    padding-bottom: 2px;
    padding-top: 1px;
}

.bottom-column img
{
    width: 399px;
    height: 258px;
}

figcaption
{
    text-align: center;
    color: black;
}

/*footer*/
.footer
{
    font-size: 20px;
    background-color:#00f798a8;
    color:blueviolet;
    padding: 1px 50px;
    margin-top: 1px;
    height: fit-content;
}

.footer p
{
   text-align: center;
   font: normal 30px 'Cookie', cursive;
   padding-bottom: 1px;
   margin-top: 2px;
   margin-bottom: 1px;
}

.footer-left ul
{
    list-style:none;
}

.footer-left,
.footer-center,
.footer-right
{
    display: inline-block;
    vertical-align: top;
    font: bold 30px 'Cookie', cursive;
}

.footer-left{
    width: 30%;
    padding-left: 400px;
}

.footer-left a
{
    color:  blueviolet;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
}

.footer-center
{
    width: 29%;
    padding-right: 20px;
}

.footer-center input[type=email]
{
    width: 30%;
    height: 50px;
}

.footer-center input[type=button]
{
    width: 10%;
    height: 50px;
    font: bolder 16px 'Cookie', cursive;
    color:black;
}

::placeholder
{
    color:#5f5f5f;
    font: normal 20px 'Cookie', cursive;
}

.footer-right
{
    width: 25%;
}

.footer-right img
{
    width:106px;
    height:78px;
}

@media screen and (max-width:450px)
{
    header
    {
        height: fit-content;
        display: block;
        width: 100%;
        font: bolder 7px  "cookie";
        padding-bottom: 1em;
    }
  
    header #nav-logo
    {
        margin: 1px;
    }
  
    header nav
    {
        float: left;
        margin-top: 1px;
    }
  
    header ul
    {
        margin-top: auto;
        font: bolder 7px "cookie";
        float: right;
    }
  
    header a
    {
        font: bolder 7px  "cookie";
    }
  
    header li
    {
        display: inline-block;
        padding: 1px;
        margin: 1px;
    }

    /*BODY*/
    .left-column, .right-column
    {
        display: block;
    }

    .left-column img
    {
        width: 309px;
        height: 188px;
        padding-left: 20px;
        padding-top: 20px;
    }

    /*Right-column*/
    .right-column
    {
        margin-left: 120px;
        width: 100%;
        margin-top: 1px;
        padding: 1px;
        font: normal 15px 'Cookie';
    }

    .product-information h3
    {
        font: bold 18px 'Cookie';
        color: blueviolet;
        margin: auto;
    }

    #quantity
    {
        padding: 1px;
        width: 15px;
        border: 1px solid #555;
        height: 12px;
        font-size: 10px;
    }

    .product-information input[type=button]
    {
        display: inline-block;
        background-color: #00f798a8;
        border-radius: 6px;
        font-size: 10px;
        color: blueviolet;
        text-decoration: none;
        padding: 1px 3px;
    }

    .product-information input[type=button]:hover
    {
        background-color: palevioletred;
    }

    /*product description*/
    .description
    {
        font: normal 15px 'Cookie';
        padding-left: 30px;
        padding-top: 1px;
    }

    .description h3
    {
        margin-top: 1px;
        padding: 1px;
    }

    /*related product*/
    .bottom-column
    {
        font: normal 18px 'Cookie';
        color: blueviolet;
    }

    .bottom-column h3
    {
        text-align: center;
        padding: 1px;
        margin: auto;
    }

    .bottom-column ul
    {
        padding-top: 1px;
        margin: auto;
    }

    .bottom-column li
    {
        display: inline-block;
        vertical-align: top;
        font-size: 10px;
        text-decoration: none;
        padding-left: 25px;
        padding-bottom: 2px;
        padding-top: 1px;
    }

    .bottom-column img
    {
        width: 159px;
        height: 138px;
    }

    figcaption
    {
        text-align: center;
        color: black;
    }

    /*footer*/
    .footer
    {
        font: normal 10px  "cookie";
        background-color:#00f798a8;
        color:blueviolet;
        padding: 1px;
        margin-top: 1px;
        height: fit-content;
        width: 100%
    }

    .footer-left{
        width: 30%;
        padding-left: 1px;
    }
    .footer p
    {
        text-align: left;
        font: normal 10px  "cookie";
    }

    .footer-left ul
    {
        list-style:none;
        margin: 1px;
        padding: 1px;
    }
  
    .footer-left,
    .footer-center,
    .footer-right
    {
        display: block;
        font: normal 10px  "cookie";
        width: 100%;
    }
  
    .footer-left a,
    .footer-right h3,
    .footer-center h3,
    .footer p{
        color:  blueviolet;
        font: normal 2vh  "cookie";
        margin: 1px;
        padding: 1px;
        text-decoration: none;
    }

    .footer-center input[type=email]
    {
        width: fit-content;
        height: 10px;
        padding: 1px;
    }
  
    .footer-center input[type=button]
    {
        width: fit-content;
        height: 12px;
        font: normal 7px  "cookie";
        color:black;
    }

    ::placeholder
    {
        font: normal 12px  "cookie";
        padding: 12px;
    }
  
    .footer-right img
    {
        width:32px;
        height:28px;
    }
}