*{
  box-sizing:border-box;
}
body{ 
  margin: 0;
  font-family:'Noto Serif', serif;
  background-color:#faf6f2;
  line-height:1.5;
  height:100%;  
}
/*------------ Header Starts Here-------------*/
.navigation-header{
  overflow:hidden;
  background-color:#116466;
  padding:25px 56px 0 20px;
  line-height:50px;
}
.navigation-header a{
  float:left;
  color:#fff;
  text-align:center;
  padding:20px;
  text-decoration:none;
  font-size:18px; 
  line-height:25px;
  border-radius:4px;
}
.navigation-header a.logo{
  font-size:25px;
  font-weight:bold;
}
.navigation-header-link{
  float:right;
}
/*------------ Body Starts Here-------------*/
#form-container{
  width:100%;
  background-color:#fff; 
  overflow:hidden;
}
.form-left{
  float:left;
  width:40%;
  margin:20px 0 20px 45px; 
  padding-top:80px;
  text-align: center;
}
.form-left h3{
  padding:0;
  margin:0;
}
.form-left p{
  padding-bottom: 20px;
  margin:0;
}
.form-left img{
  width:35px;
  height:30px;
   margin-top:12px;
  margin-left:15px;
  margin-bottom:10px;
}
.form-right{
  float:right;
  width:45%;
  border:2px solid grey;
  padding:40px;
  padding-top: 15px;
  margin:20px 50px 20px 0; 
  border-radius:20px;
}
.form-right-header{
  text-align: center;
}
.form-right img{
  width: 35px;
  height:35px;
}
.form-right h2{ 
  padding-bottom:20px;
  padding-top:10px;
  margin:0;
  font-size: 20px;
}
 .form-right input[type="text"],
 .form-right input[type="email"]{
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey
}
label{
  color: grey;
   margin: 10px 0;
}
textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-top: 2px solid grey;
  resize: none;
  margin: 10px 0;
}
.form-right button{
  margin:0 auto;
  display:block;
  padding:10px;
  width:100px;
  margin-top: 10px;
  background-color:#116466;
  color:#fff;
  font-weight:bold;
  float: right;
  border-radius: 5px;
}
/*------------------- Footer Starts Here------------------*/
.footer-container{
  background-color:#116466;
}
.footer-left,
 .footer-center,
 .footer-right{
 float:left;
 width:33.33%;
 color:#fff;
}
.footer-container p{
  margin:0 auto;
  display:block;
   margin-top:20px;
   color:#fff;
}
.footer-left ul{
  list-style:none;
}
.footer-container a{
  text-decoration:none;
  color:#fff;
  margin:0;
  padding:0;
}
.footer-center input{
  margin-top:2px;
  border:1px solid #555;
  height:30px;
}
::placeholder{
    color:#116466;
    font-size:15.2px;
}
.footer-right img{
  width:35px;
   height:30px;
}
/* ------------ @ Media Queries (Responsiveness) ------------------------------- */
@media screen and (max-width: 650px){
  /*For header */
.navigation-header a{
    float:none;
    display:block;
    text-align:left;
    padding:4px;
  } 
  .navigation-header-link{
    float:none;
  }
/*For Body */
.form-left h3{
  font-size: 14px;
 }
.form-right h2{ 
  font-size: 12px;
 }
.form-right{
  padding-bottom: 60px;
 }
/*for footer*/
  .footer-left, 
  .footer-center,
  .footer-right{
    float:none;
    display:block;
    font-size:10px;
  }
  .footer-left, 
  .footer-center{
    font-size:15px;
  }
  .footer-right{
    font-size:12.5px;
  }
.footer-container .footer-center{
  width:100%;
  float:right;
  padding-left:40px;
  padding-bottom:20px;
  }
  .footer-container p{
    margin-top:20px;
     margin-top:20px;
    padding-bottom:30px;
    font-size:20.9px;
  }
  .footer-right img{
  width:25px;
   height:20px;
 }
 .form-right button{
  padding:8px;
  margin-top: 5px;

 }
}
@media screen and (max-width: 800px){
/*for body*/
  .form-left, .form-right{
    float:none;
    width:90%;
    margin:0 auto;
    display:block;
  }
  #form-container{
    padding:30px;
  }
  .form-left{
    padding:8px;
    text-align:center;
  }
  .form-right button{
  padding:8px;
  margin-top: 5px;
 }
 .form-right{
  padding-bottom: 60px;
 }
/*for footer */
  .footer-left, 
  .footer-center{
    width:50%;
    float:left;
  }
  .footer-right{
    float:none;
    margin-left:38px;
  }
  ::placeholder{
    font-size:15.2px;
  }
  .footer-center input{ 
    height:40px;
  }
  .footer-container p{
    text-align:center;
    margin-top:20px;
    padding-bottom:30px;
  }
}
