*{
  box-sizing:border-box;
}
body{ 
  margin: 0;
  font-family: 'Noto Serif', serif;
  background-color: #faf6f2;
  height: 100%;  
}
/*------------ Header Starts Here-------------*/
.navigation-header{
  overflow: hidden;
  background-color: #116466;
  padding: 25px 4em 0 20px;
  line-height: 50px;
}
.navigation-header a{
  float: left;
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.navigation-header a.logo{
  font-size: 25px;
  font-weight: bold;
}
.navigation-header-link{
  float: right;
}
/*------------------- Body-Container Starts Here------------------*/
/*------------------- Two-Column-Container Starts Here------------------*/
.landing-banner{
    background-color: #fff;
     overflow: hidden;
}
.two-column-container{
  overflow: hidden;
margin-top: 30px;
}
.description{
  margin-left: 30px;
  text-align: justify;
  padding: 5px;
}
.two-left,
 .two-center{
  float: left;
}
.two-center input{
  width: 40px;
  padding: 5px;

}
.two-left{
  width: 26%;
   margin-right: 30px;
   margin-left: 30px;
   padding: 25px;
    border: 1px solid grey;
}
.two-center{
  width: 60%;
  margin-left: 25px;
}
.two-center h2, .two-center h5{
  padding: 3px;
  margin: 5px;
}
.two-left img{
 width: 150px;
 height: 150px;
 margin: 0 auto;
 display: block;
}
.btn{
  width: 100px;
  height: 55px;
  border-radius: 20px;
  background-color: #661141;
  color: #fff;
}
/*------------------- Three-Column-Container Starts Here------------------*/
.three-column-container{
  background-color: lightgrey;
    overflow: hidden;
}
.three-column-container h1{
  text-align: center; 
}
.three-left img{
 width: 180px;
 height: 180px;
  margin: 30px auto;
  display: block;
}
.three-left{
  float: left;
  width: 25%;
  margin: 20px 0 20px 65px;
  background-color: #fff;
  padding-bottom: 20px;
  overflow: hidden;
}
.three-left p{
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  
}
/*------------------- Footer Starts Here------------------*/
.footer-container{
  background-color: #116466;
  overflow: hidden;
}
.footer-left,
 .footer-center,
 .footer-right{
 float: left;
 width: 33.33%;
 color: #fff;

}
.footer-container p{
  margin: 0 auto;
  display: block;
   margin-top: 20px;
   color: #fff;
}
.footer-left ul{
  list-style: none;
}
.footer-container a{
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.footer-center input{
  margin-top: 2px;
  border: 1px solid #555;
  height: 30px;
}
::placeholder{
    color: #116466;
    font-size: 15.2px;
  }
.footer-right img{
  width: 35px;
   height: 30px;
}

/* ------------ @ Media Queries (Responsiveness) ------------------------------- */
@media screen and (max-width: 650px){
  /*For header */
.navigation-header a{
    float: none;
    display: block;
    text-align: left;
    padding: 4px;
  } 
  .navigation-header-link{
    float: none;
  }
   /*boy-two-column*/
   .two-left, .two-center{
    float: none;
    width: 80%;
    margin: 0 auto;
    display: block;
   }
   .description{
  width: 90%;
} 
/*for footer*/
  .footer-left, 
  .footer-center,
  .footer-right{
    float: none;
    display: block;
    font-size: 10px;
  }
  .footer-left, 
  .footer-center{
    font-size: 15px;
  }
  .footer-right{
    font-size: 12.5px;
  }
.footer-container .footer-center{
  width: 100%;
  float: right;
  padding-left: 40px;
  padding-bottom: 20px;
  }
  .footer-container p{
    margin-top: 20px;
     margin-top: 20px;
    padding-bottom: 30px;
    font-size: 20.9px;
  }
  .footer-right img{
  width: 25px;
   height: 20px;
  } 
}
@media screen and (max-width: 800px){
/*for footer */
  .footer-left, 
  .footer-center{
    width: 50%;
    float: left;
  }
  .footer-right{
    float: none;
    margin-left: 38px;
  }
  ::placeholder{
    font-size: 15.2px;
  }
  .footer-center input{ 
    height: 40px;
}
  .footer-container p{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  /*for bodt-three */
  .slide1, .slide2{
    width: 42%;
    float: left;
    margin: 15px;
  }
  .slide3{
    float: none;
    width: 42%;
    margin: 15px;
    display: block;
  }
}
@media screen and (max-width: 500px){
  /*for bodt-three */
  .three-left{
    width: 80%;
    float: none;
    margin: 20px auto;
    display: block;
  }
}