*{
  box-sizing:border-box;
}
body{ 
  margin: 0;
  font-family:'Noto Serif', serif;
  background-color:#faf6f2;
  line-height:1.5;
  height:100%;  
}
/*------------ Header Starts Here-------------*/
.navigation-header{
  overflow:hidden;
  background-color:#116466;
  padding:25px 4em 0 20px;
  line-height:50px;
}
.navigation-header a{
  float:left;
  color:#fff;
  text-align:center;
  padding:20px;
  text-decoration:none;
  font-size:18px; 
  line-height:25px;
  border-radius:4px;
}
.navigation-header a.logo{
  font-size:25px;
  font-weight:bold;
}
.navigation-header-link{
  float:right;
}
/*------------ Body Starts Here-------------*/
#form-container{
  width:100%;
  background-color:#f8f8ff;
  overflow:hidden;
}
.form-left{
  float:left;
  width:40%;
   margin:20px 0 20px 45px; 
   padding-top:80px;
}
.form-left h1, h4{
  color:#116466;
  padding:0;
  margin:0;
}
.form-right{
  float:right;
  width:45%;
  border:2px solid grey;
  padding:40px;
  margin:20px 50px 20px 0; 
  border-radius:20px;
}
 .form-right input[type="text"],
 .form-right input[type="email"],
 .form-right input[type="password"]{
  width:100%;
  height:30px;
  margin-bottom:8px;
  border-radius:8px;
  border:2px solid grey;
}
label{
  color: grey;
}
input[type="checkbox"]{
  margin:10px 0 10px 130px;
  }
.form-right button{
  margin:0 auto;
  display:block;
  padding:10px;
  width:100px;
  background-color:#116466;
  color:#fff;
  font-weight:bold;
}
/*------------------- Footer Starts Here------------------*/
.footer-container{
  background-color:#116466;
}
.footer-left,
 .footer-center,
 .footer-right{
 float:left;
 width:33.33%;
 color:#fff;
}
.footer-container p{
  margin:0 auto;
  display:block;
   margin-top:20px;
   color:#fff;
}
.footer-left ul{
  list-style:none;
}
.footer-container a{
  text-decoration:none;
  color:#fff;
  margin:0;
  padding:0;
}
.footer-center input{
  margin-top:2px;
  border:1px solid #555;
  height:30px;
}
::placeholder{
    color:#116466;
    font-size:15.2px;
  }
.footer-right img{
  width:35px;
   height:30px;
}
/* ------------ @ Media Queries (Responsiveness) ------------------------------- */
@media screen and (max-width: 650px){
  /*For header */
.navigation-header a{
    float:none;
    display:block;
    text-align:left;
    padding:4px;
  } 
  .navigation-header-link{
    float:none;
  }
/*For Body */
input[type="checkbox"]{
  margin:0 0 19px 20px; 
  }
  .form-left h1 h4 {
    font-size:15px;
}
/*for footer*/
  .footer-left, 
  .footer-center,
  .footer-right{
    float:none;
    display:block;
    font-size:10px;
  }
  .footer-left, 
  .footer-center{
    font-size:15px;
  }
  .footer-right{
    font-size:12.5px;
  }
.footer-container .footer-center{
  width:100%;
  float:right;
  padding-left:40px;
  padding-bottom:20px;
  }
  .footer-container p{
    margin-top:20px;
     margin-top:20px;
    padding-bottom:30px;
    font-size:20.9px;
  }
  .footer-right img{
  width:25px;
   height:20px;
}
}
@media screen and (max-width: 800px){
/*for body*/
  .form-left, .form-right{
    float:none;
    width:90%;
    margin:0 auto;
    display:block;
  }
  #form-container{
    padding:30px;
  }
  .form-left{
    padding:8px;
    text-align:center;
  }
/*for footer */
  .footer-left, 
  .footer-center{
    width:50%;
    float:left;
  }
  .footer-right{
    float:none;
    margin-left:38px;
  }
  ::placeholder{
    font-size:15.2px;
  }
  .footer-center input{ 
    height:40px;
}
  .footer-container p{
    text-align:center;
    margin-top:20px;
    padding-bottom:30px;
  }
}




