*{
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
}
.main{
    height: 100%;
}
.container{
    width: 100%;
    margin: auto;
}
a:hover{
    color: red;
}
header{
    background-color:#8d93ab ;
    height: 75px;
    width: 100%;
    margin: auto;
    padding: 15px 45px;
}
h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: #31112c;

}
.nav ul{
    float: right;
    padding: 20px;
    width: auto;
    margin-top: 20px;
        
}

.nav li{
    display: inline;
    padding: 15px 30px;
    list-style: none;

}
.nav a{
    text-decoration: none;
    text-align: center;
    color:#f1f3f8 ;
}
.group{
    padding: 40px;
    width: 50%;
    height: 80%;
    margin-top: 30px;
    font-size: 1.6em;
    position: absolute;
}
h2{
    color: #31112c;
}
p,span {
    margin-top: 20px;
    font-size: 1.3em;
}
fieldset{
    position: relative;
    left: 60%;
    width: 40%;
    height: 600px;
    border-radius: 24px;
    border: solid 1px;

}
.my-form{
    padding: 20px;
    line-height: 20px;
    margin-bottom: 20px;
 
}
.my-form input[type="text"] {
    display: inline-block;
    border: 1px solid;
    border-radius: 24px;
    width: 100%;
   
    
}
.my-form input[type="password"]{
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;

}
.my-form input[type="checkbox"]{
    margin-left: 20%;
}
.my-form input[type="submit"]{
    margin-left: 20%;
    
}

.group-form{
    margin-top: 15px;
    padding: 10px 10px 10px 40px;
}
footer{
    width: 100%;
    background-color:#8d93ab ;
    height: 30%;
    padding: 40px;

    
}
.down{
    float:left;
    width: 25%;
    padding: 10px;
    line-height: 30px;
    display: inline-block;
}

.button{
    border-radius: 5px;
    background-color:#31112c ;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    
}
.down li{
    list-style: none;
}

.my-form a{
    color:#31112c ;
}
.group a{
    color: #31112c;
}
#up{
    display: block;
}
.links{
    display: inline-block;
    position: relative;
    padding: 2px;
}
.links li{
    display: inline;
    
}
img {
    width: 20%;
    height: 25px;
  }
  #dot{
      position: relative;
      font-size: 1em;
      padding-left: 30%;
      width: 40%;
  }
  #socials{
      padding-left: 60px;

  }
  


