body{
    background-color:#f6f4e6;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 70px;
}
a{
    text-decoration: none;
    color:#00bcd4;
}

.container{
    width:500px;
    margin: auto;
}
.my-form{
    padding: 20px;
}
.my-form .group-form{
    padding-bottom: 30px;
}
.my-form label{
    display: none;
}
.my-form input[type="text"], [type="password"] {
    padding: 8px;
    width: 100%;
    border: none;
    background-color: #f6f4e6;
    border-bottom: solid grey 1px;
    font-size: large;
    outline: none;
}
.button{
    background-color:#00bcd4;
    color: white;
    padding: 15px 20px;
    border: none;
}
.button:hover{
    background-color: red;
}
.group-text{
    padding: 8px;
    line-height: 0.2em;
    font-size: smaller;
}

footer{
    padding: 20px;
    align-content: center;
}

hr {
    border-style:dotted none none;
    border-color: lightblue;
    border-width: 10px;
    width: 10%;
    padding: 20px;
    align-content: center;
}
.logo{
    font-family: 'Ultra', serif;
    font: weight 50; 
    color:black;
    font-size: small;
    font-style: oblique;
    letter-spacing: 3px;
}

h2{
    position: absolute;
    top: 10px;

}
.logo :first-letter {
    font-size: 120%;
    color:black
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
  .footer{
      text-align: center;
      margin: auto;
      padding: 30px;
      font-family: 'Dancing Script', cursive;
  }

.block{
    float: left;
    width: 10%;
}

  
  
